<section>

  <div class="bar-top">
    <div class="custom-container under-header">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a>Products</a></li>
          <li class="breadcrumb-item"><a>Edge</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            EA5165N </li>
        </ol>
      </nav>
    </div>

    <div class="custom-container">

      <div class="product-container">
        <div class="product">
          <!-- card left -->
          <div class="product-imgs">
            <div class="img-display">
              <div class="img-showcase">
                <img src="/assets/img/products/edge-server/ea5165n/gloria-30.png" alt="front">
                <img src="/assets/img/products/edge-server/ea5165n/gloria-front.png" alt="back">
                <img src="/assets/img/products/edge-server/ea5165n/gloria-rear.png" alt="45">

              </div>
            </div>
            <div class="img-select">
              <div class="img-item">
                <a href="#" data-id="1">
                  <img src="/assets/img/products/edge-server/ea5165n/gloria-30.png" alt="front">
                </a>
              </div>
              <div class="img-item">
                <a href="#" data-id="2">
                  <img src="/assets/img/products/edge-server/ea5165n/gloria-front.png" alt="back">
                </a>
              </div>
              <div class="img-item">
                <a href="#" data-id="3">
                  <img src="/assets/img/products/edge-server/ea5165n/gloria-rear.png" alt="45">
                </a>
              </div>

            </div>
          </div>
          <!-- card right -->
          <div class="product-content">
            <div class="product-detail">
              <h2>EA5165N (Gloria)</h2>
              <p>High Performance AI Edge box for Cutting-Edge On-Premise Solution
              </p>
              <strong class="line">
              </strong>

              <ul>
                <li>- Powered by Qualcomm® QRB5165N
                </li>
                <li>- Incredible AI Computing Power at Ultra Low Power Consumption
                </li>
                <li>- Superior Video Multiprocessing Capability
                </li>
                <li>- 5G Connectivity for Broad Based Deployment
                </li>
              </ul>
            </div>
            <br>
            <div class="processor">
              <div class="processor-container">
                <p>Powered by</p>

                <div class="processor-img">
                  <img src="assets/img/icons/qualcomm-chip.png" alt="qualcomm">

                </div>




              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class=" bar-bottom">
    {{!-- display contenr --}}
    <div class="custom-container">


      <ul class="nav nav-pills tab-bar" id="pills-tab" role="tablist">
        <li class="active"><a data-toggle="pill" href="#home" class="custom-btn">Overview</a></li>
        <li><a data-toggle="pill" href="#menu1" class="custom-btn">Spec</a></li>
        <li><a data-toggle="pill" href="#menu3" class="custom-btn">Download</a></li>
      </ul>

      {{!-- content --}}

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <div class="custom-container">

            <div class="app-title">
              <h2 class=" title">Application</h2>
            </div>

            <div class="app-container">
              <div class="app-item">
                <img class="item-img" src="./assets/img/icons/retail.png" alt="">
                <br>
                <p class="item-title ">Retail</p>
              </div>
              <div class="app-item">
                <img class="item-img" src="./assets/img/icons/house.png" alt="">
                <br>
                <p class="item-title">Smart Home</p>
              </div>
              <div class="app-item">
                <img class="item-img" src="./assets/img/icons/city.png" alt="">
                <br>
                <p class="item-title">Smart City</p>
              </div>
              <div class="app-item">
                <img class="item-img" src="./assets/img/icons/factory.png" alt="">
                <br>
                <p class="item-title">Factory</p>
              </div>
              <div class="app-item">
                <img class="item-img" src="./assets/img/icons/farm.png" alt="">
                <br>
                <p class="item-title">Agriculture</p>
              </div>
              <div class="app-item">
                <img class="item-img" src="./assets/img/icons/transportation.png" alt="">
                <br>
                <p class="item-title">Transportation</p>
              </div>
            </div>

          </div>

          <div class="custom-container">

            <div class="point-container">
              <div class="point-item graph-left">
                <div class="point-img">
                  <img src="/assets/img/products/edge-server/ea5165n/snapdragon.png" alt="應用">
                </div>

                <div class="point-content">
                  <h class="point-title title">
                    Powered by Qualcomm® QRB5165N

                  </h>


                  <p class="point-description">
                    The Qualcomm QRB5165N SoC integrates 64 bit Qualcomm® Kryo™ 585 application
                    processor, Qualcomm® Adreno™ 650
                    GPU and Qualcomm NPU230 dedicated neural processing unit into a single chip that
                    empowers the EA5165N system to be the
                    next generation of high-compute, AI-enabled and low-power turnkey solution.

                  </p>
                </div>

              </div>
              <div class="point-item graph-right">

                <div class="point-content">
                  <h class="point-title title">
                    Incredible AI Computing Power at Ultra Low Power Consumption

                  </h>

                  <p class="point-description">
                    With build-in Qualcomm® Cloud AI 100 inference accelerator, EA5165N delivers up to 200
                    trillion operations per second
                    (TOPS) of performance at ultra low power consumption, making it optimized to perform
                    instantaneous AI task across retail
                    stores, factories, warehouses, households, and smart cities.

                  </p>
                </div>

                <div class="point-img">
                  <img src="/assets/img/products/edge-server/ea5165n/ai2.jpg" alt="應用">
                </div>
              </div>
              <div class="point-item graph-left">
                <div class="point-img">
                  <img src="/assets/img/products/edge-server/ea5165n/muti-screen.jpg" alt="process">
                </div>

                <div class="point-content">
                  <h class="point-title title">
                    Superior Video Multiprocessing Capability

                  </h>


                  <p class="point-description">
                    Empowered by Qualcomm® QRB5165N SoC, EA5165N is capable of processing live video
                    streams from 24 Full-HD cameras. Its
                    superior multiprocessing capability benefits video analytic applications such as
                    traffic
                    monitoring and facial
                    recognition.
                  </p>
                </div>
              </div>
              <div class="point-item graph-right">

                <div class="point-content">
                  <h class="point-title title">
                    5G Connectivity for Broad Based Deployment

                  </h>

                  <p class="point-description">
                    With optional 5G connectivity, the EA5165N system offers a perfect turnkey solution
                    for
                    broad based deployment in remote
                    locations where Wi-Fi or LAN connection is not easily accessible. Utilizing high
                    bandwidth and fast connectivity of 5G
                    technology, AI inference is enabled to accelerate in an instant.

                  </p>
                </div>

                <div class="point-img">
                  <img src="/assets/img/products/edge-server/ea5165n/5g.jpg" alt="應用">
                </div>
              </div>

              <br>

            </div>
          </div>


        </div>
        <div id="menu1" class="tab-pane fade">
          <div class="custom-container">
            <table class="table">
              <tbody>


                <tr>
                  <th scope="row">Processor</th>
                  <td>
                    <ul>
                      <li>CPU</li>
                      <ul>
                        <li>
                          8-core Qualcomm® Kryo™ 585 CPU with 1 x Kryo™ 585 Gold Prime, 3 x Kryo™ 585 Gold,&ensp;4 x
                          Kryo™
                          585 Silver
                        </li>
                      </ul>
                      <li>GPU</li>
                      <ul>
                        <li>
                          Qualcomm® Adreno™ 650 GPU
                        </li>

                      </ul>
                      <li>NPU</li>
                      <ul>
                        <li>
                          Qualcomm® Neural Processing Unit
                          (NPU230)
                        </li>

                      </ul>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th scope="row">AI Engine
                  </th>
                  <td>
                    <ul>
                      <li>Qualcomm® Cloud AI 100</li>
                      <ul>
                        <li>
                          DM.2e (70 TOPs Int8)
                        </li>
                        <li>
                          DM.2e (200 TOPs Int8)
                        </li>
                      </ul>

                    </ul>
                  </td>



                </tr>

                <tr>
                  <th scope="row">Memory
                  </th>
                  <td>LPDDR5 8GB
                  </td>

                </tr>

                <tr>
                  <th scope="row">Storage</th>
                  <td>


                    <ul>
                      <li>Flash</li>
                      <ul>
                        <li>
                          UFS3.0 128GB
                        </li>

                      </ul>
                    </ul>
                    <ul>
                      <li>
                        SD Card
                      </li>
                      <ul>
                        <li>1 x MicroSD</li>

                      </ul>
                    </ul>

                  </td>
                </tr>
                <tr>
                  <th scope="row">Expansion Slots</th>
                  <td>
                    <ul>
                      <li>1 x M.2 2280/22110 (B+M Key) for SSD Module</li>
                      <li>1 x M.2 3042 (B Key) & 1 x MicroSIM Card for 5G Module</li>
                      <li>1 x Dual M.2 46110 (M Key) for AI Module</li>

                    </ul>

                  </td>
                </tr>

                <tr>
                  <th scope="row">System I/O</th>
                  <td>
                    <ul>
                      <li>1 x 4-pin DC Connector</li>
                      <li>2 x USB 3.1 Type A, 2 x Micro USB</li>
                      <li>1 x HDMI Output, Supporting HDMI 1.4b</li>
                      <li>3 x GMSL Qual Ports for 12-Channel Cameras</li>
                      <li>1 x RS485 Port & 1 x RS232 Port through Terminal Block</li>

                      <li>2 x GbE RJ45 Ports</li>
                      <li>1 x Audio (Mic-in/Line-out)</li>
                      <li>1 x Power Switch with LED</li>
                      <li>1 x Reset Button</li>
                    </ul>

                  </td>
                </tr>
                <tr>
                  <th scope="row">Antennas</th>
                  <td>

                    4 x 5G NR Antennas SMA
                    
                  </td>
                </tr>

                <tr>
                  <th scope="row">Power</th>
                  <td>
                    <ul>
                      <li>Input Voltage Range</li>
                      <ul>
                        <li>
                          DC Terminal Block 12~24 Vdc / 110~240 Vac
                        </li>

                      </ul>
                    </ul>

                    <ul>
                      <li>Estimated Power Consumption</li>
                      <ul>
                        <li>
                          45W
                        </li>

                      </ul>
                    </ul>

                  </td>
                </tr>

                <tr>
                  <th scope="row">Operating System</th>
                  <td>

                    Linux Ubuntu 18.04

                  </td>
                </tr>

                <tr>
                  <th scope="row">SDK</th>
                  <td>
                    Qualcomm® Intelligent
                    Multimedia SDK

                  </td>
                </tr>
                <tr>
                  <th scope="row">Ingress Protection</th>
                  <td>
                    IP40

                  </td>
                </tr>


                <tr>
                  <th scope="row">Chassis Dimensions<br>(H x W x D)</th>
                  <td>
                    8.39" x 11.57" x 3.35" / 213.0mm x 294.0mm x 85.0mm
                  </td>
                </tr>

                <tr>
                  <th scope="row">Installation</th>
                  <td>
                    Desktop, Wall-mount
                  </td>
                </tr>

                <tr>
                  <th scope="row">Operating Temperature</th>
                  <td>
                    -10°C to 50°C (14°F to 122°F)
                  </td>
                </tr>
                <tr>
                  <th scope="row">Non-operating Temperature</th>
                  <td>
                    -40°C to 85°C (-40°F to 185°F)
                  </td>
                </tr>

                <tr>
                  <th scope="row">Operating Relative Humidity</th>
                  <td>
                    5% to 95%RH @ 40°C
                  </td>
                </tr>

                <tr>
                  <th scope="row">SKU</th>
                  <td>
                    <ul>
                      <li>Entry
                      </li>
                      <ul>
                        <li>
                          AIC100 TOPs: DM.2e (70 TOPS)


                        </li>
                        <li>Quectel 5G:Optional

                        </li>
                        <li>
                          DRAM: 8GB LP5
                        </li>
                        <li>UFS
                          :up to 128GB
                        </li>

                      </ul>


                      <ul>


                      </ul>

                    </ul>
                    <ul>
                      <li>Middle

                      </li>
                      <ul>
                        <li>
                          AIC100 TOPs: DM.2e (70 TOPS)


                        </li>
                        <li>
                          Quectel 5G
                          : Optional

                        </li>
                        <li>
                          DRAM: 8GB LP5
                        </li>
                        <li>UFS
                          : up to 256GB
                        </li>
                        <li>M.2 NVMe SSD
                          :up to 256GB
                        </li>

                      </ul>
                      <li>Highend
                      </li>

                      <ul>

                        <li>
                          AIC100 TOPs: DM.2e (200 TOPs)

                        </li>
                        <li>
                          Quectel 5G
                          : Optional

                        </li>
                        <li>
                          DRAM: 8GB LP5
                        </li>
                        <li>UFS
                          :up to 256GB
                        </li>
                        <li>3x GMSL
                          :YES
                        </li>
                        <li>M.2 NVMe SSD
                          : up to 1.92TB
                        </li>

                      </ul>

                    </ul>
                  </td>

                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <div id="menu2" class="tab-pane fade">
          <h3>Menu 2</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem
            aperiam.</p>
        </div>
        <div id="menu3" class="tab-pane fade">


          <div class="custom-container">
            <div class="table-responsive ">
              <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle ">
                <thead class="table-lightgray  border-bottom">
                  <tr style="vertical-align: middle !important;text-align: center;">
                    <th style="vertical-align: middle !important;text-align: center;">File</th>
                    <th style="vertical-align: middle !important;text-align: center;">Update Date</th>
                    <th style="vertical-align: middle !important;text-align: center;">Download PDF</th>

                  </tr>
                </thead>
                <tbody>

                  <tr class="border-bottom">
                    <td style="vertical-align: middle !important;text-align: center;">EA5165N</td>
                    <td style="vertical-align: middle !important;text-align: center;">07/2022</td>
                    <td style="vertical-align: middle !important;text-align: center;"><a
                        href="/assets/files/Datasheet_Edge_20220714.pdf" class="btn btn-xs btn-white"><i
                          style="color: white; font-size:2rem" class="fas fa-download"></i></a></td>

                  </tr>

                </tbody>
              </table>
            </div>
          </div>

        </div>


      </div>



    </div>

  </div>




</section>



<br>