<section>


  <div class="upper-cdi">

    <div class="custom-container">
      <nav class="under-header" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a>Solution</a></li>
          <li class="breadcrumb-item active" aria-current="page">AMD EPYC™ Solution</li>
        </ol>
      </nav>
    </div>


    <div class="cdi-banner">



      <img src="
./assets/img/amd/amdbanner.jpg" alt="">

    </div>

    <div class="cdi-text">

      <br>
      <p>
        Ingrasys and AMD bring flexibility and high performance to meet your different workloads.


      </p>
    </div>

  </div>


  <div class="bar-bottom">

    <div class="custom-container magin">
      <div class="product-wrapper">
        <div class="title-box title-left">

          <h1 class="about-title">Computing</h1>
          <h class="line"> </h>
          <br>
        </div>

        <div class="product-container">
          <div class="thumbnail card">
            <img src="assets/img/products/card-wilkinson.png" alt="...">
            <div class="caption">
              <div class="card-body">
                <h5 class="card-title">SV2020A</h5>
                <hr>
                <div class="text-box">
                  <li class="card-text">2 x 3rd Gen AMD EPYC™ </li>
                  <li class="card-text">32 x DIMMs</li>
                  <li class="card-text">26 x 2.5" Drives</li>
                  <li class="card-text">2U </li>
                  <br>


                </div>
                <p><a href="/sv2020a" class="btn btn-primary" role="button">View More</a> </p>
              </div>
            </div>
          </div>



          <div class="thumbnail card">



            <img src="assets/img/products/card-minsky.png" class="card-img-top" alt="Turing" alt="...">

            <div class="caption">
              <div class="card-body">
                <h5 class="card-title">SV2080A</h5>
                <hr>
                <div class="text-box">

                  <li class="card-text">8 x 3rd Gen AMD EPYC™ </li>
                  <li class="card-text">64 x DIMMs</li>
                  <li class="card-text">12/24 x 2.5"/3.5" Drives</li>
                  <li class="card-text">2U 4 Nodes </li>
                  <br>

                </div>
                <p><a href="/sv2080a" class="btn btn-primary" role="button">View More</a> </p>
              </div>
            </div>
          </div>




          <div class="thumbnail card">



            <img src="assets/img/products/server/sv2081a/card-sv2081a.png" class="card-img-top" alt="Turing" alt="...">

            <div class="caption">
              <div class="card-body">
                <h5 class="card-title">SV2081A</h5>
                <hr>
                <div class="text-box">

                  <li class="card-text">8 x 3rd Gen AMD EPYC™ </li>
                  <li class="card-text">64 x DIMMs</li>
                  <li class="card-text">2U 4 Nodes </li>
                  <br>
                  <br>

                </div>
                <p><a href="/sv2081a" class="btn btn-primary" role="button">View More</a> </p>
              </div>
            </div>
          </div>

          <div class="thumbnail card">


            <img src="assets/img/products/workstation/ws5010a/ws.png" class="card-img-top" alt="ws" alt="...">

            <div class="caption">
              <div class="card-body">
                <h5 class="card-title">WS5010A</h5>
                <hr>
                <div class="text-box">





                  <ul>
                    <li class="card-text">1x 3rd Gen AMD EPYC™
                    </li>
                    <li class="card-text">Up to 16x 2.5" NVMe SSDs
                    </li>
                    <li class="card-text">Up to 4x PCIe Gen4 Double-width Slots
                    </li>
                    <li class="card-text">2+1 Redundant Platinum Power Supply Units </li>
                    <br>
                    <br>




                  </ul>
                </div>
                <p><a href="/ws5010a
                      " class="btn btn-primary" role="button">View More</a> </p>
              </div>
            </div>
          </div>



        </div>

      </div>



    </div>




    <div class="custom-container magin">

      <div class="cdi-container">
        <div class="title-box title-left-align">
          <h class="focus-title-small">Next Generation</h>
          <h1 class="focus-title">Modular Desgined Server</h1>
          <h class="line"> </h>
        </div>

        <div class="cdi-img">

          <video playsinline poster="./assets/img/amd/cdi_moment.jpg" preload="auto" loop="" muted="" autoplay=""
            id="bgvid">
            <source src="./assets/img/amd/hp.mp4" type="video/mp4">


          </video>


        </div>
        <br><br>

        <h class="hpm">Simplify the use of hardware</h>
        <br><br>
        <p>
          - AMD Platform
          <br>
          - One HPM (Host Processor Module) supports both 1U/2U OU and RU form factors.br
          <br>

          - Modularize cages and interposers of drive, PCIe, and OCP-NIC cards
          <br>

        </p>

        <br><br>

        <h class="hpm">Enable the necessary complexity for higher performance</h><br><br>

        <p>
          - Hybrid storage, supporting E1.S, E3.S and U.2
          - Expansible PCIe Slot

        </p>



      </div>



    </div>




  </div>



</section>