<section>


  <div class="upper-cdi">

    <div class="custom-container">
      <nav class="under-header" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a>Solution</a></li>
          <li class="breadcrumb-item active" aria-current="page">AMD EPYC™ Solution</li>
        </ol>
      </nav>
    </div>


    <div class="cdi-banner">



      <img src="
./assets/img/amd/amdbanner.jpg" alt="">

    </div>

    <div class="cdi-text">

      <br>
      <p>
        Ingrasys and AMD bring flexibility and high performance to meet your different workloads.


      </p>
    </div>

  </div>


  <div class="bar-bottom">

    <div class="custom-container magin">
      <div class="product-wrapper">
        <div class="title-box title-left">

          <h1 class="about-title">Computing</h1>
          <h class="line"> </h>
          <br>
        </div>

        <div class="product-container">
          <div class="thumbnail card">
            <img src="/assets/img/products/server/sv1120/1rua-open.png" alt="...">
            <div class="caption">
              <div class="card-body">
                <h5 class="card-title">SV1120A</h5>
                <hr>
                <div class="text-box">
                  <li class="card-text">2 x 4th Gen AMD EPYC™</li>


                  <li class="card-text">24 x DDR5 DIMMs</li>
                  <li class="card-text">PCIe 5.0 Platform</li>
                  <li class="card-text">Support E1.S/U.2 Drives
                  </li>
                  <li class="card-text">Air Cooling Solution
                  </li>

                  <li class="card-text">1 RU</li>


                  <br>

                </div>
                <p><a href="/sv1120a" class="btn btn-primary" role="button">View More</a> </p>
              </div>
            </div>
          </div>
          <div class="thumbnail card">
            <img src="/assets/img/products/server/sv2020a/ou45.png" alt="...">
            <div class="caption">
              <div class="card-body">
                <h5 class="card-title">SV1121A</h5>
                <hr>
                <div class="text-box">
                  <li class="card-text">2 x 4th Gen AMD EPYC™</li>

                  <li class="card-text">24 x DDR5 DIMMs</li>
                  <li class="card-text">PCIe 5.0 Platform</li>
                  <li class="card-text">Support E1.S Drives
                  </li>
                  <li class="card-text">Air/Liquid Cooling Solution
                  </li>
                  <li class="card-text">1 OU</li>
                  <br>

                </div>
                <p><a href="/sv1121a" class="btn btn-primary" role="button">View More</a> </p>
              </div>
            </div>
          </div>
          <div class="thumbnail card">
            <img src="/assets/img/products/server/sv2121/2oua-open.png" alt="...">
            <div class="caption">
              <div class="card-body">
                <h5 class="card-title">SV2121A</h5>
                <hr>
                <div class="text-box">

                  <li class="card-text">2 x 4th Gen AMD EPYC™
                  </li>
                  <li class="card-text">24 x DDR5 DIMMs
                  </li>
                  <li class="card-text">PCIe 5.0 Platform
                  </li>
                  <li class="card-text">Air/Liquid Cooling Solution
                  </li>
                  <li class="card-text">2 OU

                  </li>
                  <br>

                </div>
                <p><a href="/sv2121a" class="btn btn-primary" role="button">View More</a> </p>
              </div>
            </div>
          </div>



        </div>

      </div>



    </div>




    <div class="custom-container magin">

      <div class="cdi-container">
        <div class="title-box title-left-align">
          <h class="focus-title-small">Next Generation</h>
          <h1 class="focus-title">Modular Designed Server</h1>
          <h class="line"> </h>
        </div>

        <div class="cdi-img">

          <video playsinline poster="./assets/img/amd/cdi_moment.jpg" preload="auto" muted="" autoplay="autoplay"
            id="bgvid">
            <source src="./assets/img/amd/hp.mp4" type="video/mp4">


          </video>


        </div>
        <br><br>



        <h class="hpm">Simplify the use of hardware</h>
        <br><br>
        <p>
          - AMD Platform
          <br>
          - One HPM (Host Processor Module) supports both 1U/2U OU and RU form factors
          <br>

          - Modularize cages and interposers of drive, PCIe, and OCP-NIC cards
          <br>

        </p>

        <br><br>

        <h class="hpm">Enable the necessary complexity for higher performance</h><br><br>

        <p>
          - Hybrid storage, supporting E1.S, E3.S and U.2<br>
          - Expansible PCIe Slots

        </p>



      </div>



    </div>




  </div>



</section>