{{!-- es2000 latest product --}}

<div class="csr-wrapper product-wrapper">

  <div class="prdouct-img">
    <img src="./assets/img/products/storage/es2000/card-irene.png" alt="none">
  </div>
  <br>

  <div class="csr-para">


    <div class="title-box title-left-align">
      {{!-- <h class="focus-title-small">ES2000</h> --}}
      <h1 class="focus-title">Ingrasys<br>
        Latest Products</h1>
      <h class="line"> </h>
    </div>

    <div class="csr-content">
      <p>
        Our latest ES2000, a revolutionary NVMe-oF system to redefine next generation storage

      </p>
      <br>
      <a href="/es2000" class="btn btn-underline active " role="button" style="text-decoration:underline;">Learn
        More <i class="fas fa-arrow-right"></i></a>

    </div>

  </div>

</div>