<section>


  <div class="upper-cdi">

    <div class="custom-container">
      <nav class="under-header" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a>Solution</a></li>
          <li class="breadcrumb-item active" aria-current="page">Composable HCI</li>
        </ol>
      </nav>
    </div>


    <div class="cdi-banner">



      <video playsinline poster="./assets/img/cdi/cdi_moment.jpg" preload="auto" loop="" muted="" autoplay=""
        id="bgvid">


        <source src="./assets/img/cdi/cdi-c.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">

      </video>

    </div>

    <div class="cdi-text">
      <h2>
        Composable Infrastructure Solution
      </h2>
      <br>
      <p>

        A software-defined approach to optimize <br> server resource deployment and management.

      </p>
    </div>

  </div>


  <div class="bar-bottom">
    <div class="custom-container magin">
      <div class="pain-container">

        <div class="title-box title-left">

          <h2 class="about-title">Data Center Encounters Challenges</h2>
          <h class="line"> </h>
          <br>
        </div>

        <div class="pain-item">
          <div class="pain-img">
            <img src="./assets/img/cdi/application.jpg" alt="">
          </div>

          <div class="pain-para">
            <H3>Diversity of Applications</H3>
            <br>
            <p>

              The applications and workloads are well diversify that the need of a flexible architecture and a correct
              system
              became the new
              trend.
            </p>
          </div>
        </div>

        <div class="pain-item pic-right">
          <div class="pain-img">
            <img src="./assets/img/cdi/management.jpg" alt="">
          </div>

          <div class="pain-para">
            <h3>Lack of Management Efficiency</h3>

            <p>
              The lack of management efficiency decreases the ability of IT infrastructure to support business demands.

            </p>
          </div>
        </div>

        <div class="pain-item">
          <div class="pain-img">
            <img src="./assets/img/cdi/spending.jpg" alt="">
          </div>

          <div class="pain-para">
            <h3>Resource Overprovisioning</h3>
            <br>
            <p>

              Enterprises are over spending IT resources to meet peak demands. However, the system is idle most of the
              time due to
              lack of utilization.

            </p>
          </div>
        </div>





      </div>

    </div>

    <div class="custom-container magin">

      <div class="cdi-container">
        <div class="title-box title-left-align">
          <h2 class="focus-title-small">Ingrasys provides</h2>
          <h4 class="focus-title">Composable Infrastructure Solution</h4>
          <h class="line"> </h>
        </div>
        <div class="cdi-para">
          <P>
            Ingrasys Composable HCI soltuion disaggregates hardware components into large functional resource pools.
            Then through our
            self-developed management software, CDI director, you can dynamically allocate required hardware resources
            on-the-fly
            according to your workloads.
            <br>
            <br>


            {{!-- - <span style="color:#F58522">Agent</span> is running in server nodes. The agent gets volume
            information from Director and
            then
            imports
            related ESSDs. It builds RAID on ESSDs to provide volume to server nodes. It builds share FS on volume if
            necessary.<br><br>

            - <span style="color:#F58522">API</span>
            is a CDI interface for EBOF, JBOG/JBOF, Web GUI, Cinder
            driver, and CSI driver. It provides an
            interface for
            users, OpenStack, and Kubernetes to allocate and deallocate the resources.<br><br> --}}



            <br>

          </P>
        </div>

        <div class="cdi-img">


          <iframe src="https://www.youtube.com/embed/oqT_fsjmpdA" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>


        </div>
        <br><br>

        <p>

          <span style="color:#F58522"> CDI Director</span>
          can manage all EBOF drives and JBOG devices. Users can attach
          EBOF drive or JBOG device to
          specific server. <br><br>
        </p>

        <div class="cdi-img">

          <iframe src="https://www.youtube.com/embed/L_L1QrQ08uE" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>



        </div>
        {{!-- 放slide show --}}
        {{!-- <div class="cdi-img">
          <img src="" alt="">
        </div> --}}

      </div>



    </div>

    <div class="custom-container magin">

      <div class="company-slogan">

        <p>Ingrasys Composable Infrastructure Solution is all about delivering greater productivity and agility to
          satisfy the
          diversity
          of
          workload requirements.</p>
      </div>

    </div>


    <div class="custom-container magin">
      <div class="advan-wrapper">
        <div class="title-box title-left">

          <h2 class="about-title">Advantage</h2>
          <h class="line"> </h>
          <br>
        </div>

        <div class="advan-container">
          <div class="advan-item">
            <div class="advan-icon">
              <img src="./assets/img/cdi/progress.svg" alt="">
            </div>
            <br>
            <h4>Maximize Resources Utilization</h4>
            <p>
              Composable HCI nables the possibility of providing resources on demand, and then releasing resources to
              support another
              workload.

            </p>

          </div>
          <div class="advan-item">
            <div class="advan-icon">
              <img src="./assets/img/cooling/rack.png" alt="">
            </div>
            <br>
            <h4>High Availability (HA)</h4>
            <p>High availability (HA) eliminates a single point of failure and automatically failover to redundant
              components to
              minimize
              downtime.</p>


          </div>
          <div class="advan-item">
            <div class="advan-icon">
              <img src="./assets/img/cdi/statistics.svg" alt="">
            </div>
            <br>
            <h4>Enhance Management Efficiency</h4>

            <p>Users can easily scale up or down server nodes on-the-fly via CDI Director without changing the
              underlying architecture.
            </p>


          </div>
          <div class="advan-item">
            <div class="advan-icon">
              <img src="./assets/img/cdi/hand.svg
                  " alt="">
            </div>
            <br>
            <h4>Reduce CAPEX and OPEX</h4>
            <p>With efficent resource usage, Composable HCI avoids over provisioning without
              performance compromise.</p>

          </div>

        </div>

      </div>



    </div>

    <div class="custom-container magin">
      <div class="advan-wrapper">
        <div class="title-box title-left">

          <h2 class="about-title">Application</h2>
          <h class="line"> </h>
          <br>
        </div>

        <div class="advan-container">

          <div class="app-item">
            <div class="app-icon">
              <img src="./assets/img/cdi/hpc.jpg" alt="">
            </div>
            <p>HPC</p>

          </div>
          <div class="app-item">
            <div class="app-icon">
              <img src="./assets/img/cdi/teamlab.png" alt="">
            </div>
            <p>Big
              <br> Data
            </p>

          </div>
          <div class="app-item">
            <div class="app-icon">
              <img src="./assets/img/cdi/dl.jpg" alt="">
            </div>
            <p>Deep <br>
              Learning</p>

          </div>
          <div class="app-item">
            <div class="app-icon">
              <img src="./assets/img/cdi/ai.jpg" alt="">
            </div>
            <p>AI</p>

          </div>


        </div>

      </div>



    </div>

    <div class="custom-container magin">
      <div class="product-wrapper">
        <div class="title-box title-left">

          <h2 class="about-title">CDI-Support Products</h2>
          <h class="line"> </h>
          <br>
        </div>

        <div class="product-container">

          <div class="thumbnail card">

            <img src="assets/img/products/card-minsky.png" class="card-img-top" alt="Turing" alt="...">

            <div class="caption">
              <div class="card-body">
                <h5 class="card-title">SV2080A</h5>
                <hr>
                <div class="text-box">
                  <ul>
                    <li class="card-text">4 Nodes </li>
                    <li class="card-text">8 x 3rd Gen AMD EPYC™ </li>
                    <li class="card-text">64 x DIMMs</li>
                    <li class="card-text">12/24 x 2.5"/3.5" Drives</li>
                    <li class="card-text">2U </li>
                    <br>
                    <br>

                  </ul>


                </div>
                <p><a href="/sv2080a" class="btn btn-primary" role="button">View More</a> </p>
              </div>
            </div>
          </div>
          <div class="thumbnail card">


            <img src="assets/img/products/card-wilkinson.png" class="card-img-top" alt="Turing" alt="...">

            <div class="caption">
              <div class="card-body">
                <h5 class="card-title">SV2020A</h5>
                <hr>
                <div class="text-box">
                  <ul>
                    <li class="card-text">8 x 3rd Gen AMD EPYC™ </li>
                    <li class="card-text">32 x DIMMs</li>
                    <li class="card-text">26 x 2.5" Drives</li>
                    <li class="card-text">2U </li>
                    <br>
                    <br>
                    <br>
                  </ul>


                </div>
                <p><a href="/sv2020a" class="btn btn-primary" role="button">View More</a> </p>
              </div>
            </div>
          </div>

          <div class="thumbnail card">



            <img src="assets/img/products/gpu-ai/eb3000/perlis-card.png" class="card-img-top" alt="eb3000" alt="...">

            <div class="caption">
              <div class="card-body">
                <h5 class="card-title">EB3000</h5>
                <hr>
                <div class="text-box">
                  <ul>
                    <li class="card-text">16 x PCIe Gen4 x16 Slots
                    </li>
                    <li class="card-text">2+1 x 2400W Redundant PSU
                    </li>
                    <li class="card-text">3U </li>
                    <br>
                    <br>
                    <br>
                    <br>

                  </ul>


                </div>
                <p><a href="/eb3000" class="btn btn-primary" role="button">View More</a> </p>
              </div>
            </div>
          </div>

          <div class="thumbnail card">


            <img src="assets/img/products/storage/es2000/card-irene.png" class="card-img-top" alt="Turing" alt="...">

            <div class="caption">
              <div class="card-body">
                <h5 class="card-title">ES2000</h5>
                <hr>
                <div class="text-box">
                  <ul>
                    <li class="card-text">Marvell® Prestera® 98EX5630 Ethernet Switch
                    </li>
                    <li class="card-text">24 x U.2/E3.S SSDs or 48 x E1.S SSDs
                    </li>
                    <li class="card-text">12 x 200GbE QSFP56 Ports
                    </li>
                    <li class="card-text">2U </li>
                    <br>
                    <br>




                  </ul>
                </div>
                <p><a href="/es2000
                  " class="btn btn-primary" role="button">View More</a> </p>
              </div>
            </div>
          </div>



        </div>

      </div>



    </div>

  </div>



</section>