<section>


  <div class="upper-cdi">


    <div class="cdi-banner">
      <video preload="auto" loop="" muted="" autoplay="">

        <source src="./assets/img/cdi/cdi.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">

      </video>

    </div>

    <div class="cdi-text">
      <h1>
        Composable Disaggreated Infrastructure
      </h1>
      <br>
      <p>
        We
        strive
        to enhance any IT performance as possible

      </p>
    </div>

  </div>


  <div class="custom-container magin">
    <div class="pain-container">

      <div class="title-box title-left">

        <h1 class="about-title">Data Center Encounter Challenges</h1>
        <h class="line"> </h>
        <br>
      </div>

      <div class="pain-item">
        <div class="pain-img">
          <img src="./assets/img/cdi/application.jpg" alt="">
        </div>

        <div class="pain-para">
          <H1>Diversity of applications</H1>
          <p>

            The application and workloads are so diversify that the need of a flexible architecture and a right system
            is the new
            trend.
          </p>
        </div>
      </div>

      <div class="pain-item pic-right">
        <div class="pain-img">
          <img src="./assets/img/cdi/management.jpg" alt="">
        </div>

        <div class="pain-para">
          <H1>Lack of management efficiency</H1>
          <p>
            The lack of management efficiency decreases the ability of IT infrastructure to support business demands.

          </p>
        </div>
      </div>

      <div class="pain-item">
        <div class="pain-img">
          <img src="./assets/img/cdi/spending.jpg" alt="">
        </div>

        <div class="pain-para">
          <h1>Resource Overprovisioning</h1>
          <p>

            Enterprises are over spending IT resources. The system can satisfy the peak demand in the busy hours but
            is
            idle most of
            the time.

          </p>
        </div>
      </div>





    </div>

  </div>

  <div class="custom-container magin">

    <div class="cdi-container">
      <div class="title-box title-left-align">
        <h class="focus-title-small">Ingrasys can provide</h>
        <h1 class="focus-title">Composable Architecture for CDI</h1>
        <h class="line"> </h>
      </div>
      <div class="cdi-para">
        <P>
          Ingrasys provides an automation software architecture to assemble components from shared pools into solutions
          for
          different workloads.
          <br>
          <br>
          -
          <span style="color:#F58522">Director</span>

          can manage all EBOF drives and JBOG devices. Users can attach
          EBOF drive or JBOG device to
          specific server
          via API.<br><br>

          - <span style="color:#F58522">Agent</span> is running in server nodes. The agent gets volume
          information from Director and
          then
          import
          related ESSDs. It builds RAID on ESSDs to provide volume to server nodes. It builds share FS on volume if
          necessary.<br><br>

          - <span style="color:#F58522">API</span>
          is a CDI interface for EBOF, JBOG/JBOF, Web GUI, Cinder
          driver, and CSI driver. It provides an
          interface for
          users, openstack, and kubernetes to allocate and deallocate the resources.<br><br>



          <br>

        </P>
      </div>

      <div class="cdi-img">
        <img src="assets/img/cdi/cdi-software.png" alt="">
      </div>
      {{!-- 放slide show --}}
      <div class="cdi-img">
        <img src="" alt="">
      </div>

    </div>



  </div>

  <div class="custom-container magin">

    <div class="company-slogan">

      <p>The goal of CDI is to deliver greater productivity and agility to satisfy the dynamic requirements of diversity
        of
        applications and workloads.</p>
    </div>

  </div>


  <div class="custom-container magin">
    <div class="advan-wrapper">
      <div class="title-box title-left">

        <h1 class="about-title">Advantage</h1>
        <h class="line"> </h>
        <br>
      </div>

      <div class="advan-container">
        <div class="advan-item">
          <div class="advan-icon">
            <img src="./assets/img/cdi/progress.svg" alt="">
          </div>
          <h>Maximize Resources Utilization</h>
          <p>Enables the possibility of providing resources on-demand, and then released for another application
            workload to use. It
            optimizes the IT operation and achieve higher resource utilization.</p>

        </div>
        <div class="advan-item">
          <div class="advan-icon">
            <img src="./assets/img/cooling/rack.png" alt="">
          </div>
          <h>High Availability (HA)</h>
          <p>High availability (HA) is the ability of a system to continuously operate without failing for a specified
            period of
            time. It eliminates single point of failure and automatically failover to redundant components to minimize
            downtime.</p>


        </div>
        <div class="advan-item">
          <div class="advan-icon">
            <img src="./assets/img/cdi/statistics.svg" alt="">
          </div>
          <h>Enhance management efficiency</h>
          <p>In CDI environment, the resources dynamically composed via API or composer to meet different workload
            needs. User can
            easily compose server node on-the-fly. Scale up or down through software. No need to spend much efforts to
            change the
            underlying architecture, so this can reduce lots of deployment time.</p>


        </div>
        <div class="advan-item">
          <div class="advan-icon">
            <img src="./assets/img/cdi/hand.svg
            " alt="">
          </div>
          <h>Optimize CAPEX and OPEX</h>
          <p>CDI avoids over-provisioning of resources and reduces human efforts in routine operations of underlying
            infrastructure.
            It spends less on infrastructure and operation so can optimize CAPEX and OPEX.</p>


        </div>

      </div>

    </div>



  </div>

  <div class="custom-container magin">
    <div class="advan-wrapper">
      <div class="title-box title-left">

        <h1 class="about-title">Application</h1>
        <h class="line"> </h>
        <br>
      </div>

      <div class="advan-container">

        <div class="app-item">
          <div class="app-icon">
            <img src="./assets/img/cdi/hpc.jpg" alt="">
          </div>
          <p>HPC</p>

        </div>
        <div class="app-item">
          <div class="app-icon">
            <img src="./assets/img/cdi/teamlab.jpg" alt="">
          </div>
          <p>Big Data</p>

        </div>
        <div class="app-item">
          <div class="app-icon">
            <img src="./assets/img/cdi/dl.jpg" alt="">
          </div>
          <p>Big Data</p>

        </div>
        <div class="app-item">
          <div class="app-icon">
            <img src="./assets/img/cdi/ai.jpg" alt="">
          </div>
          <p>AI</p>

        </div>


      </div>

    </div>



  </div>

  <div class="custom-container magin">
    <div class="product-wrapper">
      <div class="title-box title-left">

        <h1 class="about-title">CDI-Support Products</h1>
        <h class="line"> </h>
        <br>
      </div>

      <div class="product-container">

        <div class="thumbnail card">



          <img src="assets/img/products/card-minsky.png" class="card-img-top" alt="Turing" alt="...">

          <div class="caption">
            <div class="card-body">
              <h5 class="card-title">SV2080A</h5>
              <hr>
              <div class="text-box">
                <li class="card-text">4 Nodes </li>
                <li class="card-text">8 x 3rd Gen AMD EPYC™ </li>
                <li class="card-text">64 x DIMMs</li>
                <li class="card-text">12/24 x 2.5"/3.5" Drives</li>
                <li class="card-text">2U </li>

              </div>
              <p><a href="/sv2080a" class="btn btn-primary" role="button">View More</a> </p>
            </div>
          </div>
        </div>
        <div class="thumbnail card">


          <img src="assets/img/products/card-minsky.png" class="card-img-top" alt="Turing" alt="...">

          <div class="caption">
            <div class="card-body">
              <h5 class="card-title">SV2020A</h5>
              <hr>
              <div class="text-box">
                <li class="card-text">8 x 3rd Gen AMD EPYC™ </li>
                <li class="card-text">32 x DIMMs</li>
                <li class="card-text">26 x 2.5" Drives</li>
                <li class="card-text">2U </li>

              </div>
              <p><a href="/sv2080a" class="btn btn-primary" role="button">View More</a> </p>
            </div>
          </div>
        </div>
        <div class="thumbnail card">



          <img src="assets/img/products/gpu-ai/eb3000/card.png" class="card-img-top" alt="eb3000" alt="...">

          <div class="caption">
            <div class="card-body">
              <h5 class="card-title">EB3000</h5>
              <hr>
              <div class="text-box">
                <li class="card-text">4 Nodes </li>
                <li class="card-text">8 x 3rd Gen AMD EPYC™ </li>
                <li class="card-text">64 x DIMMs</li>
                <li class="card-text">12/24 x 2.5"/3.5" Drives</li>
                <li class="card-text">2U </li>

              </div>
              <p><a href="/sv2080a" class="btn btn-primary" role="button">View More</a> </p>
            </div>
          </div>
        </div>




      </div>

    </div>



  </div>

</section>