<section>

  <p class="new-breadcrumb">
    <a href="/"><i class="fa-solid fa-arrow-left"></i> Homepage / </a>
    Events / Computex 2022
  </p>

  <div class="upper-cotainer">


    <div class="event-details">


      <div class="event-detail-list">
        <h1>COMPUTEX 2022</h1><br>
        <p>ONLINE Virtual Booth<br>
          May 24 - 27, 2022<br>


      </div>

      <div class="event-banner">
        <img src="./assets/img/events/img_virtual_booth.png" alt="" class="event-img">
      </div>

    </div>


  </div>



  <div class="bottom-cotainer">



    <br>

    <div class="gallery">

      <div>

        <h1>Links</h1>
        <hr>
        <br>
      </div>


      <div class="link-wrapper ">

        {{!-- card--}}

        <div class="thumbnail card col-sm-3 white ">
          <div>
            <a href="https://www.opencompute.org/summit/global-summit">
              <img src="assets/img/events/img_events_computex2022.png" alt="...">
            </a>
          </div>

          <div class="caption">
            <div class="card-body">
              <h5 class="card-title primary-text">Ingrasys showcases environment-friendly liquid cooling solutions for
                datacenters...</h5>
              <br>

              <div class="text-box ">
                <p>May 27, 2022</p>
                <p>DIGITIMES</p>
              </div>

            </div>
          </div>
        </div>
        <div class="thumbnail card col-sm-3 white">
          <div>
            <a href="/event">
              <img src="assets/img/events/img_events_SC21.png" alt="...">
            </a>
          </div>

          <div class="caption">
            <div class="card-body">
              <h5 class="card-title">Supercomputing 2021: science & beyond.</h5>
              <br>
              <div class="text-box">
                <p>May 24, 2022</p>
                <p>COMPUTEX</p>
              </div>

            </div>
          </div>
        </div>

      </div>






    </div>



  </div>






</section>