<section>


  <div class="custom-container upper-cool">


    <div class="cooling-banner">
      <video preload="auto" loop="" muted="" autoplay="">

        <source src="./assets/img/cooling/underwater.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">

      </video>

    </div>

    <div class="cooling-text">
      <h1>
        Advanced Cooling Solution
      </h1>
      <br>
      <p>
        To adapt to future thermal design requirements, Ingrasys is committed to the design and production of advanced
        cooling
        systems.

      </p>
    </div>

  </div>

  <div class="custom-container ">

    <div class="tab-container">
      <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="active">
          <a data-toggle="pill" href="#home">
            <div class="tab-set">
              <div class="tab-img">
                <img class="item-img" src="./assets/img/cooling/overview.png" alt="">
              </div>
              <br>
              <h>
                Overview
              </h>

            </div>
          </a>
        </li>
        <div class="vl"></div>
        <li>
          <a data-toggle="pill" href="#menu1">
            <div class="tab-set">
              <div class="tab-img">
                <img class="item-img" src="./assets/img/cooling/rack.png" alt="">
              </div>
              <br>
              <h>
                Rack-Level Liquid Cooling
              </h>
            </div>
          </a>
        </li>
        <div class="vl"></div>
        <li>
          <a data-toggle="pill" href="#menu2">

            <div class="tab-set">
              <div class="tab-img">
                <img class="item-img" src="./assets/img/cooling/tank.png" alt="">
              </div>
              <br>
              <h>
                Immersion Cooling
              </h>
            </div>
          </a>
        </li>
      </ul>

    </div>



  </div>

  <div class="custom-container">
    <nav class="under-header" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a>Solution</a></li>
        <li class="breadcrumb-item active" aria-current="page">Advanced Cooling Solution</li>
      </ol>
    </nav>
  </div>

  <div class="tab-content bar-bottom">
    <div id="home" class="tab-pane fade in active">

      <div class="custom-container">
        <div class="energy-wrapper">

          <div class="energy-img">
            <img src="./assets/img/cooling/cooling_future.jpg" alt="">
          </div>
          <br>

          <div class="energy-para">

            <div class="title-box title-left-align">

              <h1 class="focus-title">Conserve Energy To <br>
                Preserve Future</h1>
              <h class="line"> </h>
            </div>

            <div class="energy-content">
              <p>
                Electricity conservation is a serious topic on industrial activities. By enhancing the power usage
                efficiency, we can make
                our next generation in a peace of mind.
              </p>


            </div>

          </div>

        </div>

      </div>



      <div class="custom-container">

        <div class="sub-container">
          <div class="title-box title-left">
            {{!-- <h class="focus-title-small">From installation to after-sales support</h> --}}
            <h1 class="about-title">We Commit To Provide Environment-Friendly Solutions</h1>
            <h class="line"> </h>
          </div>

          <div class="intro-content">
            <div class="content-text">
              <div class="discuss-img">
                <img src="./assets/img/cooling/discuss.jpg" alt="">
              </div>
              <p>
                Advanced cooling solution will become the key technology with the increasing power consumption of
                chips.
                For higher power demand, Ingrasys offers the rack-level liquid cooling solution and immersion
                cooling
                solution as the way to
                lower power usage effectiveness as possible .
              </p>

            </div>

            <div class="content-sliders">

              <div class="card card-left">
                <div class="rack-cool">

                  <div id="rack" class="carousel slide  carousel-mobile" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                        <img src="./assets/img/cooling/rack-front.png" alt="Secod slide">

                      </div>
                      <div class="item">
                        <img src="./assets/img/cooling/rpu_rear.png" alt="Secod slide">

                      </div>
                      <div class="item">
                        <img src="./assets/img/cooling/cdu_rear.png" alt="Secod slide">

                      </div>




                      <!-- Controls -->
                      <a class="left carousel-control" href="#rack" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>

                      <a class="right carousel-control" href="#rack" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>

                </div>

                <div class="card-body">
                  <h5 class="card-title">
                    Rack-Level Liquid
                    Cooling</h5>
                  <hr>
                  <div class="text-box">
                    <p class="card-text"> The rack-level liquid cooling can meet your requirements whether your facility
                      is traditional air cooled or liquid
                      plumbing implemented. Ingrasys integrates the direct-contact liquid cooling modules,
                      manifold, coolant
                      distribution unit (CDU) / reservoir pumping unit (RPU), and rear door heat exchanger (RDHx) with
                      our high performance
                      computing servers to provide a customized total solution that satisfies your needs.



                    </p>

                    <br>

                  </div>

                </div>
              </div>

              <div class="card">
                <div class="immersion-cool card-img">

                  <div id="immersion" class="carousel slide  carousel-mobile" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                        <img src="./assets/img/cooling/tank1.png" alt="Secod slide">

                      </div>
                      <div class="item">
                        <img src="./assets/img/cooling/tank4.png" alt="Secod slide">

                      </div>



                      <!-- Controls -->
                      <a class="left carousel-control" href="#immersion" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#immersion" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>



                  </div>

                </div>


                <div class="card-body">
                  <h5 class="card-title">Immersion Cooling</h5>
                  <hr>


                  <div class="text-box">
                    <p class="card-text">
                      In the immersion cooling system, all electronic components are submerged into a tank filled with
                      dielectric liquid. This
                      allows faster heat dissipation and supports higher computing power density than air cooling.

                    </p>
                    <br>

                  </div>



                </div>
              </div>


            </div>

          </div>

        </div>



      </div>

      <div class="custom-container">

        <div class="sub-container">
          <div class="title-box title-left">

            <h1 class="about-title"> Solutions for Data Center</h1>
            <h class="line"> </h>
            <br>
          </div>

          <div class="standard-container">
            <div class="standard-img standard-item">
              <img src="/assets/img/cooling/datacenter2.png" alt="">
            </div>

            <div class="standard-content standard-item">
              <div class="standard-line">
                <h1 class="standard-title">
                  <i class="far fa-shield-check"></i> Power Density
                </h1>
                <p class="standard-detail">
                  Traditional air cooling could only solve power dissipation under 350W. With our advanced cooling
                  solutions, we aim to
                  provide higher power demand.
                </p>

              </div>
              <div class="standard-line">
                <h1 class="standard-title">
                  <i class="far fa-shield-check"></i> Low PUE
                </h1>
                <p class="standard-detail">
                  PUE (Power Usage Effectiveness) is the ratio of the total amount of energy used by data center
                  facility. Our expertise
                  provides dominantly low PUE.
                </p>

              </div>
              <div class="standard-line">
                <h1 class="standard-title">
                  <i class="far fa-shield-check"></i> Easy Maintenance
                </h1>
                <p class="standard-detail">

                  Blind mate design enables the front-side service of all the gears in the rack, including hot-swappable
                  fans, pumps, and
                  PSUs of RPU/ CDU.

                </p>

              </div>

              <div class="standard-line">
                <h1 class="standard-title">
                  <i class="far fa-shield-check"></i> Space Utilization

                </h1>
                <p class="standard-detail">
                  With higher power density which makes system more compact, advanced cooling allows a facility to
                  better use existing
                  data enter space and eliminate the need for new constructions or expansions. Besides, It is also
                  suitable for edge
                  applications where physical space is limited.
                </p>

              </div>

            </div>

          </div>

        </div>


      </div>

    </div>
    <div id="menu" class="tab-pane fade">
      <div class="custom-container">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Processor</th>
              <td>One/Two* 2nd/3rd Generation AMD EPYC™ Processor(s) per Node/
                up to 32 Cores, 180W (TDP)<br>SKU 1:
                One Processor<br>SKU 2 & 3: Two Processors
              </td>
            </tr>

            <tr>
              <th scope="row">Memory
              </th>
              <td>16 x DDR4 3200MHz RDIMM/LRDIMM
                per Node, 1 x NVDIMM per Node
              </td>

            </tr>

            <tr>
              <th scope="row">Storage</th>
              <td>Front:<br>
                SKU 1: 12 x 2.5"/3.5" Hot-swap SATA Drives per Chassis (3 x Drives per Node)<br>
                SKU 2: 24 x 2.5" Hot-swap U.2 NVMe Drives per Chassis (6 x Drives per Node)<br>
                SKU 3: 12 x 3.5" Hot-swap SATA or 2.5" Hot-swap NVMe Drives per Chassis (3 x Drives per Node)

                <br>
                <br>
                Internal:<br>
                1x SATA/NVMe M.2 (2280/22110) per Node<br>
                1x SATA M.2 (2280/22110) per Node
                <br>
                <br>
                Rear:<br>
                1 x 2.5" Hot-swap 7/15mm U.2 NVMe SSD per Node
                (Optional for Single Processor Configuration, Occupy One PCIe LP Slot)
              </td>

            </tr>

            <tr>
              <th scope="row">Front Panel<br>(per Node)</th>
              <td>
                1 x Power Button with LED<br>
                1 x UID Button with LED<br>
                1 x System Health LED<br>

              </td>

            </tr>

            <tr>
              <th scope="row">Rear Panel<br>(per Node)</th>
              <td>
                1 x RJ45 for BMC Dedicated Management<br>
                1 x VGA<br>
                2 x USB 3.0<br>
                1 x UID Button with LED<br>
              </td>

            </tr>
            <tr>
              <th scope="row">TPM</th>
              <td>1 x TPM 2.0 Module per Node
              </td>

            </tr>



            <tr>
              <th scope="row">Expansion Slots</th>
              <td>
                Up to 2 x PCIe Gen4 x16 LP Slots per Node (by SKU)<br>
                1 x OCP 3.0 NIC PCIe Gen4 x16 per Node
              </td>
            </tr>
            <tr>
              <th scope="row">Management</th>
              <td>1 x ASPEED AST2500 BMC per Node<br>
                Support Intelligent Platform Management Interface v.2.0<br>
              </td>
            </tr>
            <tr>
              <th scope="row">PSUs</th>
              <td>1+1 Redundant 3000W Platinum PSU
                (2200W for Single Processor Configuration)
              </td>
            </tr>
            <tr>
              <th scope="row">Fans</th>
              <td>3 x 40*56mm per Node, 12 x per Chassis
              </td>
            </tr>
            <tr>
              <th scope="row">Certification</th>
              <td>FCC/CE/UL/CB/BSMI
              </td>
            </tr>

            <tr>
              <th scope="row">Chasis Dimensions<br>(H x W x D)</th>
              <td>

                3.42" x 17.6" x 33.17"/ 87.0mm x 447.0mm x 842.4mm

              </td>
            </tr>
            <tr>
              <th scope="row">Operating Temperature</th>
              <td>
                5°C to 35°C (41°F to 95°F)
              </td>
            </tr>
            <tr>
              <th scope="row">Non-operating Temperature</th>
              <td>
                -40°C to 70°C (-40°F to 158°F)
              </td>
            </tr>

            <tr>
              <th scope="row">Operating Relative Humidity</th>
              <td>
                8% to 90%RH
              </td>
            </tr>
            <tr>
              <th scope="row">Non-operating Relative Humidity</th>
              <td>
                5% to 90%RH
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <div class="custom-container">

        <div class="sub-container">
          <div class="title-box title-left">
            <h1 class="about-title"> Introduction</h1>
            <h class="line"> </h>
          </div>

          <div class="intro-content">
            <div class="intro-text">
              <p>
                Generally, rack-level cooling can be divided into two different types as air-assistaed solution &
                liquid-cooled hybrid solution. The
                heated liquid circulates from the cold plate through a pumping heat exchanger system (RPU/CDU) to the
                rear door heat
                exchanger (RDHx) or facility coolant loop.

              </p>

            </div>

            <div class="content-video">
              <video controls="true" class="embed-responsive-item" poster="./assets/img/cooling/cooling-cover.JPG">
                <source src="/assets/img/cooling/immerison_cooling.mp4" type="video/mp4" />
              </video>

            </div>

          </div>

        </div>

      </div>

      <div class="custom-container">

        <div class="sub-container">
          <div class="title-box title-left">
            <h1 class="about-title"> Advantage</h1>
            <h class="line"> </h>
            <br>
          </div>

          <div class="app-container">
            <div class="app-item">
              <img class="item-img" src="./assets/img/cooling/pue.png" alt="">
              <br>
              <h class="item-title ">Superior PUE
              </h>
              <p class="item-content">Better power efficiency comparing to the traditional air cooling
                solutions
              </p>
            </div>

            <div class="app-item">
              <img class="item-img" src="./assets/img/cooling/capacity.png" alt="">
              <br>
              <h class="item-title">Cooling capacity</h>
              <p class="item-content">High cooling capacity gives you more application choice
              </p>
            </div>

            <div class="app-item">
              <img class="item-img" src="./assets/img/cooling/service.png" alt="">
              <br>
              <h class="item-title">High Servicability</h>
              <p class="item-content">No facility change needed. Front-side
                service: Blind mate connection design between the server and the manifold.
              </p>
            </div>

            <div class="app-item">
              <img class="item-img" src="./assets/img/cooling/control.png" alt="">
              <br>
              <h class="item-title">Management Control System</h>
              <p class="item-content">Can monitor liquid / air flow rate, water / air temperature, pump speed, RDHx fan
                speed and provide a reliable
                control.
              </p>
            </div>


          </div>





        </div>


      </div>

      <div class="custom-container">
        <div class="usage-wrapper">
          <div class="title-box title-left">
            <h1 class="about-title"> Usage Scenario</h1>
            <h class="line"> </h>
            <br>

          </div>

          <div class="use-item">
            <div class="use-img">
              <img src="./assets/img/cooling/hpc.jpg" alt="">
            </div>

            <div class="use-para">
              <br>
              <H1>High Performance Computing
              </H1>
              <p>

                Nowadays, HPC systems are packed with more power-consuming components in denser configurations.And as
                more power is
                consumed, more heat is generated. Our rack-level liquid cooling solutions are designed to handle these
                demanding
                requirements and trends.
              </p>
            </div>
          </div>

          <div class="use-item reverse">
            <div class="use-img">
              <img src="./assets/img/cooling/datacenter.jpg" alt="">
            </div>

            <div class="use-para">
              <br>
              <H1>Meet Traditional Data Center Cooling Needs</H1>
              <p>

                Regardless of the lack of facility water support or cold/hot-aisle desgin, we provide air-assisted
                liquid and
                liquid-cooled hybrid solutions to fullfill different data center needs.
              </p>
            </div>
          </div>






        </div>



        <div class="custom-container">

          <div class="sub-container">
            <div class="title-box title-left">

              <h1 class="about-title"> Solution I - Air-Assistaed Solution</h1>
              <h class="line"> </h>


            </div>

            <div class="solution-container">

              <table class="table solution-item">
                <tbody>
                  <tr class="first-row">
                    <th scope="row"> </th>
                    <td>ORv3 Liquid Cooling Rack
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"> Cooling Mechanism</th>
                    <td>Air-assisted Liquid Cooling
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Tank Size</th>
                    <td>600mm X (1200+305)mm x 2295mm
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Cooling Capability</th>
                    <td>45kW(38kW (85%) heat dissipated through liquid
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Computing Node</th>
                    <td>Intel Eagle Stream Server / AMD Genoa Server
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Redundancy</th>
                    <td>Hot swappable 9+1 fans, 1+1 pumps, and 2+1 PSUs</td>
                  </tr>

                </tbody>
              </table>

              <div class="rack solution-item">
                <img src="/assets/img/cooling/rpu_rear.png" alt="">
              </div>


            </div>



            <div class="title-box title-left">

              <h1 class="about-title"> Solution II - Liquid-Cooled Hybrid Solution</h1>
              <h class="line"> </h>


            </div>

            <div class="solution-container">

              <table class="table ">
                <tbody>
                  <tr class="first-row">
                    <th scope="row"> </th>
                    <td>ORv3 Liquid Cooling Rack
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"> Cooling Mechanism</th>
                    <td>Hybrid liquid cooling
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Tank Size</th>
                    <td>600 mmx 1000 mm x 2295 mm
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Cooling Capability</th>
                    <td>100 kW <br>
                      (w/ RDHx: 100% heat dissipated through liquid;<br> w/o RDHx: 80% heat dissipated through
                      liquid)
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Computing Node</th>
                    <td>Intel Eagle Stream Server / AMD Genoa Server
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Redundancy</th>
                    <td>Hot swappable 9+1 fans, 1+1 pumps, and 2+1 PSUs</td>
                  </tr>

                </tbody>
              </table>

              <div class="rack solution-item">
                <img src="/assets/img/cooling/cdu_rear.png" alt="">
              </div>


            </div>

            {{!-- <div class="title-box title-left">

              <h1 class="about-title"> Unit</h1>
              <h class="line"> </h>
              <br>
            </div>

            <div class="unit-container">
              <div id="multi-slider" class="carousel" data-ride="carousel">

                <!-- Controls -->
                <div class="text-center mb-4 side-controls">
                  <a href="#multi-slider" data-slide="prev">
                    <i class="fas fa-chevron-left"></i>
                  </a>
                  <a href="#multi-slider" data-slide="next">
                    <i class="fas fa-chevron-right"></i>
                  </a>
                </div>

                <!-- Slideshow -->
                <div class="carousel-inner">

                  <!-- First item -->
                  <div class="item active">

                    <div class="item-group">

                      <div class="col-md-4">
                        <a class="image-popup-vertical-fit" href="./assets/img/cooling/tank1.png" alt="">
                          <img src=" ./assets/img/cooling/tank1.png" alt="">
                        </a>
                      </div>


                      <div class=" col-md-4">
                        <a class="image-popup-vertical-fit"
                          href="http://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg/800px-Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg">
                          <img src=" ./assets/img/cooling/tank2.png" alt="">
                        </a>
                      </div>


                      <div class=" col-md-4">
                        <a class="image-popup-vertical-fit"
                          href="http://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg/800px-Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg">

                          <img src=" ./assets/img/cooling/tank3.png" alt="">

                          <!-- The Modal -->
                          <div id="myModal" class="modal">

                            <!-- The Close Button -->
                            <span class="close">&times;</span>

                            <!-- Modal Content (The Image) -->
                            <img class="modal-content" id="img01">

                            <!-- Modal Caption (Image Text) -->
                            <div id="caption"></div>
                          </div>


                      </div>


                    </div>

                  </div>

                  <!-- Rest of the items -->
                  <div class="item">
                    <div class="item-group">

                      <div class="col-md-4">
                        <a class="image-popup-vertical-fit"
                          href="http://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg/800px-Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg">
                          <img src=" ./assets/img/cooling/tank4.png" alt="">
                        </a>
                      </div>


                      <div class="col-md-4">
                        <a class="image-popup-vertical-fit"
                          href="http://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg/800px-Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg">
                          <img src=" https://mdbootstrap.com/img/Photos/Others/img (34).jpg" alt="">
                        </a>
                      </div>


                      <div class="col-md-4">
                        <a class="image-popup-vertical-fit"
                          href="http://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg/800px-Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg">
                          <img src=" https://mdbootstrap.com/img/Photos/Others/img (34).jpg" alt="">
                        </a>
                      </div>


                    </div>
                  </div>





                </div>


              </div>
            </div> --}}


          </div>


        </div>


      </div>
    </div>
    <div id="menu2" class="tab-pane fade">
      <div class="custom-container">

        <div class="sub-container">
          <div class="title-box title-left">
            <h1 class="about-title"> Introduction</h1>
            <h class="line"> </h>
          </div>

          <div class="intro-content">
            <div class="intro-text">
              <p>
                In our single-phase immersion cooling system, electronic components are submerged into our cooling tank,
                which is filled
                with dielectric heat transfer liquid. Whole IT gears' heat is removed from the heat exchange system by
                circulating the
                liquid into direct contact with hot components, whereby the liquid takes away the heat efficiently.
              </p>

            </div>

            <div class="content-video">
              <video controls="true" class="embed-responsive-item" poster="./assets/img/cooling/cooling-cover.jpg">
                <source src="/assets/img/cooling/immerison_cooling.mp4" type="video/mp4" />
              </video>

            </div>

          </div>

        </div>

      </div>

      <div class="custom-container">

        <div class="sub-container">
          <div class="title-box title-left">
            <h1 class="about-title"> Advantage</h1>
            <h class="line"> </h>
            <br>
          </div>

          <div class="app-container">
            <div class="app-item">
              <img class="item-img" src="./assets/img/cooling/pue.png" alt="">
              <br>
              <h class="item-title ">Extreme PUE</h>
              <p class="item-content">Much higher power efficiency, comparing to any other solutions.
              </p>
            </div>

            <div class="app-item">
              <img class="item-img" src="./assets/img/cooling/capacity.png" alt="">
              <br>
              <h class="item-title">Great Cooling Capacity</h>
              <p class="item-content">High cooling capacity gives you more application choice.
              </p>
            </div>

            <div class="app-item">
              <img class="item-img" src="./assets/img/cooling/deployment.png" alt="">
              <br>
              <h class="item-title">Deployment Flexibility</h>
              <p class="item-content">Modularized design of tank provides fast deployment, regardless of where the
                datacenter location is.
              </p>
            </div>

            <div class="app-item">
              <img class="item-img" src="./assets/img/cooling/vibration.png" alt="">
              <br>
              <h class="item-title">Anti-Vibration</h>
              <p class="item-content">All components are immersed into fluid. Free of acoustic noise and vibration
                impact.
              </p>
            </div>


          </div>





        </div>


      </div>

      <div class="custom-container">
        <div class="usage-wrapper">
          <div class="title-box title-left">
            <h1 class="about-title"> Usage Scenario</h1>
            <h class="line"> </h>
            <br>

          </div>

          <div class="use-item">
            <div class="use-img">
              <img src="./assets/img/cooling/edge.jpg" alt="">
            </div>

            <div class="use-para">
              <H1>Edge Data Center</H1>
              <p>

                Edge data centers are located closer to the end-user and often in urban areas, with restricted amount of
                space. That is,
                higher work capacity and low-noise/vibration will be the index we concern.Ingrasys immersion cooling
                solution is an
                ideal option for edge computing deployment.
              </p>
            </div>
          </div>

          <div class="use-item reverse">
            <div class="use-img">
              <img src="./assets/img/cooling/dl.jpg" alt="">
            </div>

            <div class="use-para">
              <H1>AI and Machine Learning</H1>
              <p>

                Any Compute-intensive and Data-intensive ML/DL model-training require much larger data sets and
                high-performance GPUs
                . A large number of high powered GPUs produce lots of heat, elevating electrity cost. We provides you a
                solution
                lowering OPEX.
              </p>
            </div>
          </div>






        </div>



        <div class="custom-container">

          <div class="sub-container">
            <div class="title-box title-left">

              <h1 class="about-title"> Solution - Immersion Cooling Tank</h1>
              <h class="line"> </h>

              <br>
            </div>

            <div class="solution-container">

              <table class="table solution-item">
                <tbody>
                  <tr class="first-row">
                    <th scope="row"> </th>
                    <td>Immersion Cooling Tank
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"> Cooling Mechanism</th>
                    <td>Single Phase
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Tank Size</th>
                    <td>1650mm X 900mm x 1508mm - 24U
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Tank Weight</th>
                    <td>2500kg including the coolant and IT
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Computing Power</th>
                    <td>15kW (50kW Ready)
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Tank PUE</th>
                    <td>Avg. < 1.03 </td>
                  </tr>

                </tbody>
              </table>

              <div class="rack solution-item">
                <img src="/assets/img/cooling/tank2.png" alt="">
              </div>


            </div>

            {{!-- <div class="title-box title-left">

              <h1 class="about-title"> Unit</h1>
              <h class="line"> </h>
              <br>
            </div>

            <div class="unit-container">
              <div id="multi-slider" class="carousel" data-ride="carousel">

                <!-- Controls -->
                <div class="text-center mb-4 side-controls">
                  <a href="#multi-slider" data-slide="prev">
                    <i class="fas fa-chevron-left"></i>
                  </a>
                  <a href="#multi-slider" data-slide="next">
                    <i class="fas fa-chevron-right"></i>
                  </a>
                </div>

                <!-- Slideshow -->
                <div class="carousel-inner">

                  <!-- First item -->
                  <div class="item active">

                    <div class="item-group">

                      <div class="col-md-4">
                        <a class="image-popup-vertical-fit" href="./assets/img/cooling/tank1.png" alt="">
                          <img src=" ./assets/img/cooling/tank1.png" alt="">
                        </a>
                      </div>


                      <div class=" col-md-4">
                        <a class="image-popup-vertical-fit"
                          href="http://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg/800px-Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg">
                          <img src=" ./assets/img/cooling/tank2.png" alt="">
                        </a>
                      </div>


                      <div class=" col-md-4">
                        <a class="image-popup-vertical-fit"
                          href="http://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg/800px-Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg">

                          <img src=" ./assets/img/cooling/tank3.png" alt="">

                          <!-- The Modal -->
                          <div id="myModal" class="modal">

                            <!-- The Close Button -->
                            <span class="close">&times;</span>

                            <!-- Modal Content (The Image) -->
                            <img class="modal-content" id="img01">

                            <!-- Modal Caption (Image Text) -->
                            <div id="caption"></div>
                          </div>


                      </div>


                    </div>

                  </div>

                  <!-- Rest of the items -->
                  <div class="item">
                    <div class="item-group">

                      <div class="col-md-4">
                        <a class="image-popup-vertical-fit"
                          href="http://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg/800px-Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg">
                          <img src=" ./assets/img/cooling/tank4.png" alt="">
                        </a>
                      </div>


                      <div class="col-md-4">
                        <a class="image-popup-vertical-fit"
                          href="http://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg/800px-Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg">
                          <img src=" https://mdbootstrap.com/img/Photos/Others/img (34).jpg" alt="">
                        </a>
                      </div>


                      <div class="col-md-4">
                        <a class="image-popup-vertical-fit"
                          href="http://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg/800px-Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg">
                          <img src=" https://mdbootstrap.com/img/Photos/Others/img (34).jpg" alt="">
                        </a>
                      </div>


                    </div>
                  </div>





                </div>


              </div>
            </div> --}}


          </div>


        </div>


      </div>
    </div>

  </div>





</section>