<section>

  <div class="custom-container ">

    <nav class="under-header" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sustainability</li>
      </ol>
    </nav>

    {{!-- banner pic in css --}}
    <div class="about-banner">
      {{!-- <div id="fii">
        <img src="./assets/img/logos/fii-white.png" alt="">
        <p>
          Align with Fii, we aim to drive sustainable <br> development through digital technology.
        </p>
      </div> --}}

      <img src="./assets/img/esg/esg_banner.png" alt="">

    </div>

    <div class="custom-container">
      <ul class="tab-bar nav nav-pills" id="pills-tab" role="tablist">

        <li class="active"><a data-toggle="pill" href="#home" class="custom-btn">ESG Core Value</a></li>

        <li><a id="nav-a" data-toggle="pill" href="#gov" class="custom-btn"> Sustainable Governance</a></li>

        <li><a id="nav-a" data-toggle="pill" href="#env" class="custom-btn"> Sustainable Environment</a></li>

        <li><a id="nav-a" data-toggle="pill" href="#soc" class="custom-btn">A Better Society</a></li>

      </ul>

      {{!-- content --}}

      <div class="tab-content">

        <div id="home" class="tab-pane fade active in">

          <div class="crystal-box">
            <div class="margin-box">
              <img src="./assets/img/esg/esg_cv.png" alt="">
            </div>


            <div class="grn-box">
              <div class="margin-box" id="vert">
                <div>
                  <h2>
                    GREEN SOLUTION
                  </h2>
                </div>

              </div>

            </div>




            <div class="margin-box">
              <div class="title-box title-left">
                {{!-- <h class="focus-title-small">IoT System</h> --}}
                <h2 class="about-title"> Net Zero Roadmap</h2>
                <h class="line"> </h>
              </div>


              <img src="./assets/img/esg/esg_pue.png" alt="">

              <br>
              <br>

              <img src="./assets/img/esg/esg_env.png" alt="">



            </div>

            <div class="margin-box">




              <div class="title-box title-left">
                {{!-- <h class="focus-title-small">IoT System</h> --}}
                <h2 class="about-title"> Low Carbon Footprint Innovation</h2>
                <h class="line"> </h>
              </div>


              <img src="./assets/img/esg/esg_lc.png" alt="">



            </div>
            {{!-- green solution --}}

            <div class="margin-box">

              <div class="title-box title-left">
                {{!-- <h class="focus-title-small">IoT System</h> --}}
                <h2 class="about-title"> Digital Manufacturing Service for sustainable development</h2>
                <h class="line"> </h>
              </div>

              <img src="./assets/img/esg/esg_enms.png" alt="">


            </div>

          </div>

        </div>
        <div id="gov" class="tab-pane fade ">


          <div class="crystal-box">


            <div class="margin-box">
              <div class="title-box title-left">
                {{!-- <h class="focus-title-small">IoT System</h> --}}
                <h2 class="about-title"> Ethic & Supply Chain Management</h2>
                <h class="line"> </h>
              </div>


              <div class="content-para">
                <h4>
                  We follow the Code of Conduct of the Responsible Business Alliance
                </h4>
                <br>
                <h5>Ethic</h5><br>

                <p>
                  [Business Ethics Management Procedures] have been added to：<br>
                  - Ensure that all business interactions of the company follow the highest Integrity standards<br>
                  - Thus employees do not offer or receive bribes or other forms of improper benefits.
                </p>
                <br>


                <h5>Supply Chain Management</h5><br>

                <p>
                  [Supplier Management Operating Procedures] have been established for them to follow, expanding the
                  scope of corporate
                  social responsibility impact
                </p>




              </div>

            </div>

            <div class="margin-box">
              <div class="title-box title-left">
                {{!-- <h class="focus-title-small">IoT System</h> --}}
                <h2 class="about-title"> Responsibility Performance</h2>
                <h class="line"> </h>
              </div>


              <div class="content-para">


                <h5>Labor</h5><br>

                <p>
                  - 100% health check rate of employees (have been employed for one year) <br>
                  - Child labor is prohibited in human employment
                </p>
                <br>


                <h5>Environmental protection</h5><br>

                <p>
                  - ISO 14001: 2015 environmental management system and passed third-party verification <br>
                  - Overall waste recovery rate is 77%
                </p>
                <br>

                <h5>Responsible procurement</h5><br>

                <p>
                  - 100% of qualified suppliers of conflict minerals <br>
                  - Manpower and service outsourcing vendors perform on-site audits (17 companies)
                </p><br>

                <h5>Ethics</h5>
                <br>

                <p>
                  - Any insider trading, monopoly and other unfair trading practices are prohibited<br>
                  - 100% participation rate in ethics/labor conditions education and training

                </p>

                <br>

                <h5>Health and safety</h5>
                <br>

                <p>
                  - Passed ISO 45001: 2018 Occupational Safety and Health Management System International Certification
                  Standard <br>
                  - Zero major injuries and occupational diseases<br>
                  - Twice a year fire and chemical disaster emergency response<br>
                  - Fire safety education training participation rate 100%<br>

                </p>




              </div>



            </div>

            <div class="margin-box">
              <div class="title-box title-left">
                {{!-- <h class="focus-title-small">IoT System</h> --}}
                <h2 class="about-title"> RBA Code of Conduct</h2>
                <h class="line"> </h>
              </div>

              <div class="content-para">
                <p>
                  Freedom of choice of occupation-It is forbidden to collect deposits and detain documents from workers,
                  and it is
                  strictly forbidden to use involuntary and exploitative prison prisoners, contractual restricted labor,
                  debt labor, slave
                  labor, human trafficking. <br><br>

                  No Child Labor-Establish child labor review and misuse of child labor protections.
                  Appropriate Working Hours-Comply with applicable laws, industry standards, and customer behavior
                  codes.
                  Reasonable remuneration-The remuneration given to employees meets the basic requirements of the
                  regulations (excluding
                  any overtime and other subsidies), and the working hours meet the required requirements.
                  Humane treatment-Punishment, forced, involuntary labor is strictly prohibited, and punitive management
                  measures are
                  prohibited.<br><br>

                  Non-discrimination-eliminate employment, salary, training, promotion, dismissal, etc. based on race,
                  color, age, gender,
                  sexual orientation, gender identity and performance, race or ethnicity, disability, pregnancy, belief,
                  political
                  position, group background Discrimination, veteran status, protected genetic information, marital
                  status, or filing a
                  complaint, etc.
                  Freedom of Association-Respect for employees' right to associate freely, join unions, and collective
                  bargaining.
                  Health and Safety-Committed to providing employees with a healthy and safe working environment and
                  reducing potential
                  hazards at work.<br><br>

                  Occupational risk control-Provide employees with appropriate safety training and protective equipment,
                  assess the risk
                  of work hazards within the company, and establish emergency response plans to respond to disasters.
                  Resource conservation-comply with environmental regulations, save resources, set up management methods
                  and advocacy
                  training, achieve the purpose of energy conservation and carbon reduction, and reduce the risk of
                  safety hazards and
                  environmental shocks.
                  Business integrity-All personnel must not use any illegal or unethical methods to obtain competitive
                  advantages and
                  improper benefits.<br><br>

                  No Improper Interests-Don't receive bribes through duties, take profits against business ethics and
                  create conflicts of
                  interest.
                  Information Disclosure, Intellectual Property and Privacy-Disclose business information in accordance
                  with industry
                  practices and protect the privacy of intellectual property and stakeholders.
                  Appropriate Advertising and Fair Trading-Adopt the competitive principles of fair trading and
                  advertising, and do not
                  gain any benefit from any third party through joint monopoly or collusion.
                  Management System-Commitment to establish, maintain and improve the company's social responsibility
                  management system,
                  and allow employees to fully train and learn to understand social responsibility requirements.
                  Goal Management and Continuous Improvement-Set goals to improve the effectiveness of the social
                  responsibility
                  management system and continuously improve it.<br><br>

                  Decentralization and responsibility-designated senior management to regularly review the company's
                  policies, measures
                  and implementation results in accordance with this standard and other regulations signed by the
                  company.
                  Regulatory compliance and risk management-regularly review regulations and confirm compliance with
                  regulations, conduct
                  regular risk management activities, and effectively reduce risk events.
                  Internal audit management review-regularly review and review the adequacy, applicability and
                  continuous effectiveness of
                  the management system, and make corrections and improvements if necessary.<br><br>

                  Communication, suggestion, participation, feedback-promise to disclose the company's social
                  responsibility status and
                  improvement plan to all employees, customers, cooperative suppliers and other relevant parties through
                  the company's
                  website, bulletin boards, promotional materials, customer site visits, etc., and accept the public
                  Supervision or
                  advice.
                  Supplier Management-Controls suppliers / subcontractors in accordance with the requirements of RBA
                  standards and related
                  customer code of conduct.<br><br>

                  The provisions of this statement are provided for understanding.
                  The detailed terms and any additions or changes are subject to the Code of Conduct of the Responsible
                  Business Alliance.
                  【Responsible Business Alliance Code of Conduct】www.responsiblebusiness.org for relevant
                  information.<br><br>
                </p>
              </div>
            </div>

            <div class="margin-box">
              <div class="title-box title-left">
                {{!-- <h class="focus-title-small">IoT System</h> --}}
                <h2 class="about-title"> Stakeholder Feedback</h2>
                <h class="line"> </h>
              </div>

              <div class="content-para">
                <p>
                  In order to pursue sustainable development, we hope to establish a transparent and effective
                  communication method for
                  all stakeholders, and achieve the protection of the rights of all stakeholders through perfect
                  communication. If you
                  have any suggestions or questions, you are welcome to contact us. The contact information is as
                  follows
                  :
                  <br>
                  <br>

                  Contact window：Ethan Lan<br>
                  Phone number： +886-3-2718288 EXT.15692<br>
                  Address： No. 1188, Nanqing Rd., Luzhu Dist., Taoyuan City 338, Taiwan (R.O.C.)<br>
                  E-mail ：ethanlan@ingrasys.com
                  <br>
                  <br>
                  http://www.ingrasys.com
                </p>


              </div>

            </div>

          </div>



        </div>
        <div id="env" class="tab-pane fade ">

          <div class="crystal-box">
            <div class="margin-box">
              <div class="title-box title-left">
                {{!-- <h class="focus-title-small">IoT System</h> --}}
                <h2 class="about-title"> Net Zero Roadmap</h2>
                <h class="line"> </h>
              </div>
              <div class="mid-img">
                <img src="./assets/img/esg/esg_nz.png" alt="" id="esg_nz">
              </div>



            </div>

            <div class="margin-box">
              <div class="title-box title-left">
                {{!-- <h class="focus-title-small">IoT System</h> --}}
                <h2 class="about-title"> Strategies & Implementation</h2>
                <h class="line"> </h>
              </div>


              <div class="mid-img">
                <img src="./assets/img/esg/esg_3r.png" alt="">
              </div>

            </div>
          </div>




        </div>
        <div id="soc" class="tab-pane fade ">
          <div class="crystal-box">
            <div class="margin-box">
              <div class="title-box title-left">
                {{!-- <h class="focus-title-small">IoT System</h> --}}
                <h2 class="about-title"> Reliable Employer</h2>
                <h class="line"> </h>
              </div>

              <div class="content-para">
                <P>
                  - Ingrasys aims to promote labor human rights and promote full communication between the company and
                  employees <br>
                  - We follow the various service items to clearly reveal the system within which all employees can
                  respond, appeal or vote,
                  and set up a "factory mailbox" to ensure the strictest perspective The freedom and confidentiality of
                  colleagues to
                  submit books.<br>
                  - It also regularly holds [labor-management meetings] to ensure smooth communication channels,
                  guarantee
                  the power of
                  labor organizations and collective bargaining, and promote healthy and positive labor-management
                  relations.<br>
                </P>
                <br>

                <h5>Labor</h5><br>
                <p>
                  - 100% health check rate of employees (have been employed for one year)
                  - Child labor is prohibited in human employment
                </p><br>

                <h5>Health and Safety</h5><br>
                <p>
                  - Passed ISO 45001: 2018 Occupational Safety and Health Management System International Certification
                  Standard<br>
                  - Zero major injuries and occupational diseases<br>
                  - Twice a year fire and chemical disaster emergency response<br>
                  - Fire safety education training participation rate 100%<br>
                </p>
              </div>




            </div>

            <div class="margin-box">
              <div class="title-box title-left">
                {{!-- <h class="focus-title-small">IoT System</h> --}}
                <h2 class="about-title"> Social Responsibility</h2>
                <h class="line"> </h>
              </div>

              <div class="sr-container">

                <div class="sr-item">
                  <div class="advan-icon">
                    <img src="./assets/img/esg/sr_1.png" alt="">
                  </div>
                  <br>
                  <h5>Prosperous Regional Economy</h5>



                </div>
                <div class="sr-item">
                  <div class="advan-icon">
                    <img src="./assets/img/esg/sr_2.png" alt="">
                  </div>
                  <br>
                  <h5>Giving Back to Society</h5>



                </div>
                <div class="sr-item">
                  <div class="advan-icon">
                    <img src="./assets/img/esg/sr_3.png" alt="">
                  </div>
                  <br>
                  <h5>Supporting Rural Revitalization</h5>



                </div>

              </div>


            </div>


          </div>







        </div>


      </div>

    </div>


  </div>

</section>