<section>

  <div class="custom-container ">

    <nav class="under-header" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sustainability</li>
      </ol>
    </nav>

    {{!-- banner pic in css --}}
    <div class="about-banner">


      {{!-- <img src="./assets/img/esg/core/esg-banner.png" alt=""> --}}
      <h1 class="esg-slogan">
        Think Green Build Green
      </h1>

    </div>

    <ul class="tab-bar nav nav-pills" id="pills-tab" role="tablist">

      <li class="active"><a data-toggle="pill" href="#home" class="">ESG Core Value</a></li>

      <li><a id="nav-a" data-toggle="pill" href="#gov" class="custom-btn"> Accountable Governance</a></li>

      <li><a id="nav-a" data-toggle="pill" href="#env" class="custom-btn"> Sustainable Environment</a></li>

      <li><a id="nav-a" data-toggle="pill" href="#sc" class="custom-btn">A Better Society</a></li>

    </ul>

    {{!-- content --}}

    <div class="tab-content">

      <div id="home" class="tab-pane fade active in">

        <div class="box">

          <div class="esg-vision">

            <div class="esg-vision-text">
              <h2>Our Vision</h2>
              <br>

              <div class="vision">
                <div class="sub-vision" id="v1">

                  <div id="v-sub1">
                    <h3>Environmental</h3>
                    <h3>More Sustainable</h3>
                  </div>

                  <div id="v-sub2">
                    <div class="v-sub-content">
                      <img src="./assets/img/esg/core/vision/icon1.svg" alt="">&nbsp;
                      <h4>
                        Focus on
                        Circular Economy
                      </h4>


                    </div>
                    <div class="v-sub-content">
                      <img src="./assets/img/esg/core/vision/icon2.svg" alt="">&nbsp;
                      <h4>
                        Digital Intelligence Empowerment
                      </h4>


                    </div>


                  </div>


                </div>

                <div class="sub-vision" id="v2">
                  <div id="v-sub1">
                    <h3>Social</h3>
                    <h3>More Harmonious</h3>
                  </div>

                  <div id="v-sub2">
                    <div class="v-sub-content">
                      <img src="./assets/img/esg/core/vision/icon3.svg" alt="">&nbsp;
                      <h4>
                        People Oriented<br>
                      </h4>


                    </div>
                    <div class="v-sub-content">
                      <img src="./assets/img/esg/core/vision/icon4.svg" alt="">&nbsp;
                      <h4>
                        Happiness Sharing<br>
                      </h4>


                    </div>


                  </div>
                </div>

                <div class="sub-vision" id="v3">
                  <div id="v-sub1">
                    <h3>Governance</h3>
                    <h3>More Accountable</h3>
                  </div>

                  <div id="v-sub2">
                    <div class="v-sub-content">
                      <img src="./assets/img/esg/core/vision/icon5.svg" alt="">&nbsp;
                      <h4>
                        Integrity and
                        Compliance
                      </h4>


                    </div>
                    <div class="v-sub-content">
                      <img src="./assets/img/esg/core/vision/icon6.svg" alt="">&nbsp;
                      <h4>
                        Security and
                        Reliability
                      </h4>


                    </div>


                  </div>

                </div>
              </div>

            </div>



          </div>

        </div>


        <div class="margin-box">
          <div class="title-box">
            <h2 class="about-title">Sustainable Focus</h2>

          </div>

          <br>
          <ul class="nav nav-tabs sus-tabs" id="pills-tab" role="tablist">


            <li class="green active">
              <a data-toggle="pill" href="#e" class="custom-btn">
                Environmental
              </a>

            </li>

            <li class="orange "><a id="nav-a" data-toggle="pill" href="#s" class="custom-btn"> Social</a></li>

            <li class="blue"><a id="nav-a" data-toggle="pill" href="#g" class="custom-btn"> Governance</a></li>

            </li>



          </ul>



        </div>

        <div class="margin-box">
          <div class="tab-content" id="myTabContent">

            <div class="tab-pane active" id="e" role="tabpanel" aria-labelledby="tab1-tab">


              <div class="esg-focus-wrapper ">
                <div class="esg-focus-item focus-e" id="e1">
                  <div class="esg-text">
                    <h2 class="green">2030</h2>
                    <br>
                    <br>

                    <ul>
                      <li>
                        <h4>
                          Reduce operational carbon emissions by 80%
                        </h4>

                      </li>
                      <br>
                      <li>
                        <h4>Increase the proportion of renewable energy to 80%</h4>

                      </li>
                    </ul>

                    <br>


                  </div>


                </div>
                <div class="esg-focus-item focus-e" id="e2">
                  <div class="esg-text">
                    <h2 class="green">2035</h2>
                    <br>
                    <br>

                    <ul>
                      <li>
                        <h4>
                          Achieve operational carbon neutrality
                        </h4>
                      </li>

                    </ul>




                  </div>
                </div>
                <div class="esg-focus-item focus-e " id="e3">
                  <div class="esg-text">
                    <h2 class="green">2050</h2>
                    <br>
                    <br>

                    <ul>
                      <li>
                        <h4>
                          Realize net-zero emissions across the value chain
                        </h4>


                      </li>
                    </ul>



                  </div>
                </div>
              </div>


            </div>


            <div class="tab-pane fade" id="s" role="tabpanel" aria-labelledby="tab2-tab">
              <div class="esg-focus-wrapper ">
                <div class="esg-focus-item focus-s" id="s1">
                  <div class="esg-text">
                    <h2 style="color:rgba(255, 168, 69, 1)  " class="oran">Internally</h2>
                    <br>
                    <br>

                    <ul>
                      <li>
                        <h4>
                          Childcare Subsidies for "0 to 6 year-olds" program which aligns with group level policy
                        </h4>

                      </li>
                    </ul>

                    <br>


                  </div>
                </div>
                <div class="esg-focus-item focus-s" id="s2">
                  <div class="esg-text">
                    <h2 style="color:rgba(255, 168, 69, 1)  " class="oran">Society</h2>
                    <br>
                    <br>

                    <ul>
                      <li>
                        <h4>
                          Early age education projects for energy saving issues and related social benefit events
                        </h4>

                      </li>
                    </ul>

                    <br>


                  </div>
                </div>

              </div>

            </div>

            <div class="tab-pane fade" id="g" role="tabpanel" aria-labelledby="tab3-tab">
              <div class="esg-focus-wrapper ">
                <div class="esg-focus-item focus-g" id="g1">
                  <div class="esg-text" id="esg-text-g">
                    <h2 class="blue">CSR
                      <br>
                      Guidance
                    </h2>
                    <br>
                    <br>

                    <ul>
                      <li>
                        <h4>
                          We take actions consistent with corporate level's CSR <a
                            href="./assets/files/esg-guideline.pdf" style="color:rgba(53, 101, 226, 1">
                            guidance</a>, which also responds to the spirit of international related principles and
                          standards, including the Responsible
                          Business Alliance (RBA) Code of Conduct.
                        </h4>

                      </li>
                    </ul>

                    <br>


                  </div>
                </div>
                <div class="esg-focus-item focus-g" id="g2">
                  <div class="esg-text" id="esg-text-g">
                    <h2 class="blue">Supply Chain <br>
                      Impact</h2>
                    <br>
                    <br>

                    <ul>
                      <li>
                        <h4>
                          Comprehensive supply chain management strategies according to group policies. Furthermore,
                          we promote green
                          transformation of supply chain through various engagements.
                        </h4>

                      </li>
                    </ul>


                    <br>


                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>







      </div>

      <div id="gov" class="tab-pane fade ">

        <div class="title-box " style="z-index: 2;">


          <h2 class="about-title"> Certificates and Verification
            {{!-- <div class="item void-item">
              fuck you roger
            </div>
            <div class="item void-item">fuck you roger</div> --}}

            ​
          </h2>
        </div>


        <div class="esg-video">


          <video playsinline poster="" preload="auto" loop="" muted="" autoplay="">


            <source src="./assets/img/esg/governence/earth.mp4" type="video/mp4">

          </video>



        </div>

        <div class=" video-behind ">


          <div class="owl-carousel owl-theme owl-loaded esg-carousel-wrapper carousel-location1">
            <div class="item location-item">
              <div class=" "></div>
              <div class="location-item-img">
                <img src="./assets/img/esg/governence/location/1.png">

              </div>
              <div class="location-item-text">
                <h4 class="location-info">
                  <i>
                    <img src="./assets/img/esg/governence/location/locator.svg" alt="Locator Icon">
                  </i> Taoyuan, Taiwan
                </h4>


              </div>
              <div class="location-item-popup">

                <a data-toggle="modal" data-target="#location-1" class="btn btn-underline" role="button"
                  style="color:black;">+</a>



              </div>

            </div>

            <div class="item location-item">
              <div class="cover"></div>
              <div class="location-item-img">
                <img src="./assets/img/esg/governence/location/2.png">

              </div>
              <div class="location-item-text">
                <h4 class="location-info">
                  <i>
                    <img src="./assets/img/esg/governence/location/locator.svg" alt="Locator Icon">
                  </i> Hsinchu, Taiwan
                </h4>



              </div>
              <div class="location-item-popup">

                <a data-toggle="modal" data-target="#location-2" class="btn btn-underline" role="button"
                  style="color:black; font-size:3rem">+</a>

              </div>
            </div>
            <div class="item location-item">
              <div class="cover"></div>
              <div class="location-item-img">
                <img src="./assets/img/esg/governence/location/3.png">

              </div>
              <div class="location-item-text">
                <h4 class="location-info">
                  <i>
                    <img src="./assets/img/esg/governence/location/locator.svg" alt="Locator Icon">
                  </i> Tainjin, China
                </h4>



              </div>
              <div class="location-item-popup">

                <a data-toggle="modal" data-target="#location-3" class="btn btn-underline" role="button"
                  style="color:black; font-size:3rem">+</a>

              </div>
            </div>
            <div class="item location-item">
              <div class="cover"></div>
              <div class="location-item-img">
                <img src="./assets/img/esg/governence/location/4.png">

              </div>
              <div class="location-item-text">
                <h4 class="location-info">
                  <i>
                    <img src="./assets/img/esg/governence/location/locator.svg" alt="Locator Icon">
                  </i> Shenzhen, China
                </h4>



              </div>
              <div class="location-item-popup">

                <a data-toggle="modal" data-target="#location-4" class="btn btn-underline" role="button"
                  style="color:black; font-size:3rem">+</a>

              </div>
            </div>
            <div class="item location-item">
              <div class="cover "></div>
              <div class="location-item-img">
                <img src="./assets/img/esg/governence/location/5.png">

              </div>
              <div class="location-item-text">
                <h4 class="location-info">
                  <i>
                    <img src="./assets/img/esg/governence/location/locator.svg" alt="Locator Icon">
                  </i> Guadalajara, Mexico
                </h4>



              </div>
              <div class="location-item-popup">

                <a data-toggle="modal" data-target="#location-5" class="btn btn-underline" role="button"
                  style="color:black; font-size:3rem">+</a>

              </div>
            </div>
            <div class="item location-item">
              <div class="cover "></div>
              <div class="location-item-img">
                <img src="./assets/img/esg/governence/location/6.png">

              </div>
              <div class="location-item-text">
                <h4 class="location-info">
                  <i>
                    <img src="./assets/img/esg/governence/location/locator.svg" alt="Locator Icon">
                  </i> Juárez, Mexico
                </h4>



              </div>
              <div class="location-item-popup">

                <a data-toggle="modal" data-target="#location-6" class="btn btn-underline" role="button"
                  style="color:black; font-size:3rem">+</a>

              </div>
            </div>
            <div class="item location-item">
              <div class="cover "></div>
              <div class="location-item-img">
                <img src="./assets/img/esg/governence/location/7.png">

              </div>
              <div class="location-item-text">
                <h4 class="location-info">
                  <i>
                    <img src="./assets/img/esg/governence/location/locator.svg" alt="Locator Icon">
                  </i> Kutná Hora, Czech
                </h4>



              </div>
              <div class="location-item-popup">

                <a data-toggle="modal" data-target="#location-7" class="btn btn-underline" role="button"
                  style="color:black; font-size:3rem">+</a>

              </div>
            </div>
            <div class="item location-item">
              <div class="cover "></div>
              <div class="location-item-img">
                <img src="./assets/img/esg/governence/location/8.png">

              </div>
              <div class="location-item-text">
                <h4 class="location-info">
                  <i>
                    <img src="./assets/img/esg/governence/location/locator.svg" alt="Locator Icon">
                  </i> Komárom, Hungary
                </h4>


              </div>
              <div class="location-item-popup">

                <a data-toggle="modal" data-target="#location-8" class="btn btn-underline" role="button"
                  style="color:black; font-size:3rem">+</a>

              </div>

            </div>
            <div class="item void-item"></div>
            <div class="item void-item"></div>




          </div>

          <div class="location-modal">
            <!-- Modal -->
            <div class="modal fade" id="location-1" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

              <div class="modal-dialog modal-dialog-centered location-modal-dialog" role="document">
                <div class="modal-content location-modal-wrapper">
                  <div class="modal-header">
                    <h1 class="location-icon"><i>
                        <img src="./assets/img/esg/governence/location/locator2.svg" alt="Locator Icon">
                      </i></h1>
                    <h3 class="location-info">
                      Taoyuan, Taiwan

                    </h3>
                    <br>
                    <h4>
                      No.1188, NanChing Rd., Lujhu Dist., Taoyuan City 338009, Taiwan R.O.C.
                      </h5><br><br>
                      <p>Certificates and Verification​
                    </h4>

                    <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                  </div>
                  <div class="modal-body">

                    <div class="location-certificate">
                      <div class="certif-item">

                        <h3>
                          ISO 9001
                        </h3>
                        <br>
                        <h4>
                          Quality<br> Management <br>System
                        </h4>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 14001
                        </h3><br>
                        <h4>
                          Environmental<br> Management<br> System

                        </h4>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 45001
                        </h3><br>
                        <h4>
                          Occupational<br> Health & Safety<br> Management <br>System

                        </h4>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 27001
                        </h3><br>
                        <h4>
                          Information<br> Security<br> Management <br>System



                        </h4>
                      </div>

                    </div>



                  </div>



                </div>



              </div>

            </div>
            <div class="modal fade" id="location-2" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered location-modal-dialog" role="document">
                <div class="modal-content location-modal-wrapper">
                  <div class="modal-header">


                    <h1 class="location-icon"><i>
                        <img src="./assets/img/esg/governence/location/locator2.svg" alt="Locator Icon">
                      </i></h1>
                    <h3 class="location-info">
                      Hsinchu, Taiwan


                    </h3>
                    <br>
                    <h4>
                      No. 16, Guangfu N. Rd., Hukou Township, Hsinchu County 303036, Taiwan R.O.C.
                    </h4><br><br>
                    <h3>Certificates and Verification​</h3>

                    <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                  </div>
                  <div class="modal-body">

                    <div class="location-certificate">
                      <div class="certif-item">

                        <h3>
                          ISO 9001
                        </h3>
                        <br>
                        <h4>
                          Quality<br> Management <br>System
                        </h4>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 27001
                        </h3><br>
                        <h4>

                          Information<br> Security<br> Management<br> System
                        </h4>
                      </div>


                    </div>



                  </div>



                </div>



              </div>

            </div>
            <div class="modal fade" id="location-3" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered location-modal-dialog" role="document">
                <div class="modal-content location-modal-wrapper">
                  <div class="modal-header">


                    <h1 class="location-icon"><i>
                        <img src="./assets/img/esg/governence/location/locator2.svg" alt="Locator Icon">
                      </i></h1>
                    <h3 class="location-info">
                      Tianjin, China


                    </h3>
                    <br>
                    <h4>
                      No 36, North Street, West zone, Economic & Technological Development Area,
                      TianJin, China
                    </h4><br><br>
                    <h3>Certificates and Verification​</h3>

                    <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                  </div>
                  <div class="modal-body">

                    <div class="location-certificate">
                      <div class="certif-item">

                        <h3>
                          ISO 9001
                        </h3>
                        <br>
                        <h4>
                          Quality<br> Management <br>System
                        </h4>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 14001
                        </h3><br>
                        <h4>
                          Environmental<br> Management<br> System

                        </h4>
                      </div>

                      <div class="certif-item">

                        <h3>
                          ISO 45001
                        </h3><br>
                        <h4>
                          Occupational<br> Health & Safety<br> Management <br>System

                        </h4>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 5001
                        </h3><br>
                        <h4>

                          Energy<br> Management <br>System


                        </h4>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 14064
                        </h3><br>
                        <h4>
                          Greenhouse<br> Gas Accounting <br>and Verification


                        </h4>
                      </div>

                    </div>



                  </div>



                </div>



              </div>

            </div>
            <div class="modal fade" id="location-4" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered location-modal-dialog" role="document">
                <div class="modal-content location-modal-wrapper">
                  <div class="modal-header">


                    <h1 class="location-icon"><i>
                        <img src="./assets/img/esg/governence/location/locator2.svg" alt="Locator Icon">
                      </i></h1>
                    <h3 class="location-info">
                      Shenzhen, China


                    </h3>
                    <br>
                    <h4>
                      Longhua Science and Technology Park, Guangdong Province, Shenzhen, China
                    </h4><br><br>
                    <h3>Certificates and Verification​</h3>

                    <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                  </div>
                  <div class="modal-body">

                    <div class="location-certificate">
                      <div class="certif-item">

                        <h3>
                          ISO 9001
                        </h3>
                        <br>
                        <h4>
                          Quality<br> Management <br>System
                        </h4>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 14001
                        </h3><br>
                        <h4>
                          Environmental<br> Management<br> System

                        </h4>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 45001
                        </h3><br>
                        <h4>
                          Occupational<br> Health & Safety<br> Management <br>System

                        </h4>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 5001
                        </h3><br>
                        <h4>

                          Energy<br> Management <br>System


                        </h4>
                      </div>

                    </div>



                  </div>



                </div>



              </div>

            </div>
            <div class="modal fade" id="location-5" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered location-modal-dialog" role="document">
                <div class="modal-content location-modal-wrapper">
                  <div class="modal-header">


                    <h1 class="location-icon"><i>
                        <img src="./assets/img/esg/governence/location/locator2.svg" alt="Locator Icon">
                      </i></h1>
                    <h3 class="location-info">
                      Guadalajara, México


                    </h3>
                    <br>
                    <h4>
                      Avenida del Bosque No. 1220, Parque Industrial el Bosque II, San Pedro Tlaquepaque, Jalisco,
                      México C.P. 45615
                    </h4><br><br>
                    <h3>Certificates and Verification​</h3>

                    <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                  </div>
                  <div class="modal-body">

                    <div class="location-certificate">
                      <div class="certif-item">

                        <h3>
                          ISO 9001
                        </h3>
                        <br>
                        <h4>
                          Quality<br> Management <br>System
                        </h4>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 14001
                          </h4><br>
                          <h4>
                            Environmental<br> Management<br> System

                          </h4>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 45001
                        </h3><br>
                        <h4>
                          Occupational<br> Health & Safety<br> Management <br>System

                        </h4>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 27001
                        </h3><br>
                        <h4>
                          Information<br> Security<br>Management<br> System

                        </h4>
                      </div>

                    </div>



                  </div>



                </div>



              </div>

            </div>
            <div class="modal fade" id="location-6" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered location-modal-dialog" role="document">
                <div class="modal-content location-modal-wrapper">
                  <div class="modal-header">


                    <h1 class="location-icon"><i>
                        <img src="./assets/img/esg/governence/location/locator2.svg" alt="Locator Icon">
                      </i></h1>
                    <h3 class="location-info">
                      Juárez, México
                      </p>

                    </h3>
                    <br>
                    <h4>
                      Bulevar Oscar Flores San 8951, Nuevo Hipódromo, 32675 Cd Juárez, Chih., Mexico
                    </h4><br><br>
                    <h3>Certificates and Verification​</h3>

                    <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                  </div>
                  <div class="modal-body">

                    <div class="location-certificate">
                      <div class="certif-item">

                        <h3>
                          ISO 9001
                        </h3>
                        <br>
                        <h4>
                          Quality<br> Management <br>System
                        </h4>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 14001
                        </h3><br>
                        <h4>
                          Environmental<br> Management<br> System

                        </h4>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 45001
                        </h3><br>
                        <h4>
                          Occupational<br> Health & Safety<br> Management <br>System

                        </h4>
                      </div>

                    </div>



                  </div>



                </div>



              </div>

            </div>
            <div class="modal fade" id="location-7" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered location-modal-dialog" role="document">
                <div class="modal-content location-modal-wrapper">
                  <div class="modal-header">


                    <h1 class="location-icon"><i>
                        <img src="./assets/img/esg/governence/location/locator2.svg" alt="Locator Icon">
                      </i></h1>
                    <h3 class="location-info">
                      Kutná Hora, Czech
                      </p>

                    </h3>
                    <br>
                    <h4>
                      Karlov 245, 284 01 Kutná Hora,Czech Republic
                    </h4><br><br>
                    <h3>Certificates and Verification​</h3>

                    <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                  </div>
                  <div class="modal-body">

                    <div class="location-certificate">
                      <div class="certif-item">

                        <h3>
                          ISO 9001
                        </h3>
                        <br>
                        <h4>
                          Quality<br> Management <br>System
                          </p>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 14001
                        </h3><br>
                        <h4>
                          Environmental<br> Management<br> System

                        </h4>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 45001
                        </h3><br>
                        <h4>
                          Occupational<br> Health & Safety<br> Management <br>System

                        </h4>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 5001
                        </h3><br>
                        <h4>

                          Energy<br> Management<br> System


                        </h4>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 27001
                        </h3><br>
                        <h4>
                          Information<br> Security<br> Management <br>System



                        </h4>
                      </div>

                    </div>



                  </div>



                </div>



              </div>

            </div>
            <div class="modal fade" id="location-8" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered location-modal-dialog" role="document">
                <div class="modal-content location-modal-wrapper">
                  <div class="modal-header">


                    <h1 class="location-icon"><i>
                        <img src="./assets/img/esg/governence/location/locator2.svg" alt="Locator Icon">
                      </i></h1>
                    <h3 class="location-info">
                      Komárom, Hungary


                    </h3>
                    <br>
                    <h4>
                      Komárom, Bánki Donát u. 1, 2900, Hungary
                    </h4><br><br>
                    <h3>Certificates and Verification​</h3>

                    <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                  </div>
                  <div class="modal-body">

                    <div class="location-certificate">
                      <div class="certif-item">

                        <h3>
                          ISO 9001
                        </h3>
                        <br>
                        <h4>
                          Quality<br> Management <br>System
                        </h4>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 14001
                        </h3><br>
                        <h4>
                          Environmental<br> Management<br> System

                        </h4>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 45001
                        </h3><br>
                        <h4>
                          Occupational<br> Health & Safety<br> Management <br>System

                        </h4>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 5001
                        </h3><br>
                        <h4>


                          Energy <br>Management <br>System

                        </h4>
                      </div>
                      <div class="certif-item">

                        <h3>
                          ISO 27001
                        </h3><br>
                        <h4>

                          Information<br> Security<br> Management<br> System

                        </h4>
                      </div>

                    </div>



                  </div>



                </div>



              </div>

            </div>


          </div>
        </div>

        <div class="margin-box">

          <div class="title-box ">
            <h2 class="about-title"> Supply Chain Management​</h2>
          </div>


          <div class="card-wrapper" id="supply-chain">
            <div id="health-item" class="item ">
              <div class="sub-health-item">
                <img src="./assets/img/esg/governence/sc1.png">

              </div>
              <div class="sub-health-item">
                <div class="health-item-content">
                  <h3>
                    Supply Chain<br>
                    Management<br>​System


                  </h3>

                </div>


              </div>
              <div class="health-popup">

                <a data-toggle="modal" data-target="#sc-1" class="btn btn-underline" role="button"
                  style="text-decoration:underline;">Read
                  More <i class="fas fa-arrow-right"></i></a>



              </div>
            </div>
            <div id="health-item" class="item ">
              <div class="sub-health-item">
                <img src="./assets/img/esg/governence/sc2.png">

              </div>
              <div class="sub-health-item">
                <div class="health-item-content">
                  <h3>
                    Supply Chain<br> Risk Management<br>​Measures


                  </h3>

                </div>


              </div>
              <div class="health-popup">

                <a data-toggle="modal" data-target="#sc-2" class="btn btn-underline" role="button"
                  style="text-decoration:underline;">Read
                  More <i class="fas fa-arrow-right"></i></a>



              </div>
            </div>

          </div>


          <div class="sc-modal">
            <!-- Modal -->
            <div class="modal fade" id="sc-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content esg-modal-wrapper ">
                  <div class="modal-header">

                    <h3 class="modal-2-heading" id="exampleModalLongTitle">Supply Chain
                      Management​ System</h3>
                    <br>

                    <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close"
                      id="sc-close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                  </div>
                  <div class="modal-body">


                    <h4>
                      Align Foxconn Group guidance:
                    </h4>
                    <br><br>
                    <h4>
                      The Green Supply Chain Sustainability Policy
                    </h4>
                    <br>
                    <h4>
                      <ul>
                        <li>
                          Encourages supply chain companies to improve transparency, promote environmental protection
                          and
                          social responsibility
                        </li><br>
                        <li>
                          Take a series of measures to ensure the compliance of our corporate and suppliers
                        </li><br>
                        <li>
                          The policy covers all suppliers who have transactions with our corporate and various
                          subordinate
                          entities
                        </li>
                      </ul>
                    </h4>



                  </div>



                </div>



              </div>

            </div>
            <div class="modal fade" id="sc-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content esg-modal-wrapper ">
                  <div class="modal-header">

                    <h3 class="modal-2-heading" id="exampleModalLongTitle">Supply Chain Risk Management​ Measures</h3>
                    <br>

                    <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close"
                      id="sc-close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                  </div>
                  <div class="modal-body">


                    <h4>
                      Refer to Foxconn Group policy:


                    </h4>
                    <br><br>
                    <h4>

                      We require all suppliers to sign the Environmental Protection and Social Responsibility Commitment
                      Letter, fill out the
                      Supplier Basic Information Card, and assume human rights, legal, environmental, and social
                      responsibilities.
                    </h4>
                    <br>




                  </div>



                </div>



              </div>

            </div>
          </div>
        </div>

        <div class="margin-box">
          <div class="title-box ">
            <h2 class="about-title"> Stakeholder Feedback​</h2>
          </div>


          <div class="esg-card-wrapper">
            <div class="card-img">
              <img src="/assets/img/esg/governence/stakeholder.jpg" alt="">

            </div>

            <div class="card-text">
              <h4>
                In order to pursue sustainable development, we hope to establish a transparent and effective
                communication method for
                all stakeholders, and achieve the protection of the rights of all stakeholders through perfect
                communication. If you
                have any suggestions or questions, you are welcome to contact us. The contact information is as
                follows
                :<br><br>



                Contact window：Ethan Lan<br>
                Phone number： +886-3-2718288 EXT.15692<br>
                Address： No. 1188, Nanqing Rd., Luzhu Dist., Taoyuan City 338, Taiwan (R.O.C.)
                E-mail ：ethanlan@ingrasys.com<br><br>
                <br>
                http://www.ingrasys.com
              </h4>

            </div>
          </div>

        </div>




      </div>


      <div id="env" class="tab-pane fade  ">
        <div class="margin-box">
          <div class="title-box ">
            <h2 class="about-title">Net Zero Strategies</h2>
          </div>

          <div class="nz-wrapper">
            <div class="nz-card">
              <h3 class="nz-header">
                GHG <br>
                Inventory
              </h3>
              <div class="nz-img">
                <img src="./assets/img/esg/env/inventory.png" alt="">
              </div>

            </div>
            <div class="nz-card-modal">

              <div class="sub-nz-card-modal">
                <i id="arrow-mobile">
                  <img src="./assets/img/esg/env/arrow.png" alt="Locator Icon">
                </i>
                <i id="arrow-web">
                  <img src="./assets/img/esg/env/arrow1.png" alt="Locator Icon">
                </i>
                <h3 class="nz-header">
                  Scope 1,2<br>
                  Reduction

                </h3>
                <div class="nz-popup">
                  <a data-toggle="modal" data-target="#3-1" class="btn" style="color:black; " role="button">+</a>
                </div>
              </div>
              <div class="sub-nz-card-modal">
                <i id="arrow-mobile">
                  <img src="./assets/img/esg/env/arrow.png" alt="Locator Icon">
                </i>
                <i id="arrow-web">
                  <img src="./assets/img/esg/env/arrow1.png" alt="Locator Icon">
                </i>
                <h3 class="nz-header">
                  Scope 3<br>
                  Reduction
                </h3>
                <div class="nz-popup">
                  <a data-toggle="modal" data-target="#3-2" class="btn" style="color:black; " role="button">+</a>
                </div>
              </div>

            </div>
            <div class="nz-card">
              <i id="arrow-mobile">
                <img src="./assets/img/esg/env/arrow.png" alt="Locator Icon">
              </i>
              <i id="arrow-web">
                <img src="./assets/img/esg/env/arrow1.png" alt="Locator Icon">
              </i>
              <h3 class="nz-header">
                Net Zero<br>
                Goal
              </h3>
              <div class="nz-img">
                <img src="./assets/img/esg/env/net0.png" alt="">
              </div>

            </div>
            <div class="env-modal">
              <!-- Modal -->
              <div class="modal fade" id="3-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered hp-modal-wrapper" role="document">
                  <div class="modal-content esg-modal-wrapper ">
                    <div class="modal-header" id="env-modal">

                      <h3 class="env-1-heading" id="exampleModalLongTitle">3R Strategies</h3>
                      <br>

                      <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>

                    </div>
                    <div class="modal-body">

                      <div class="env-modal-body">
                        <div class="r-item">
                          <h3 class="green">Reduce</h3>
                          <br>
                          <div class="r-item-content">



                            <ul>
                              <li>
                                <h4>
                                  Energy saving improvement by facility replacement
                                </h4>


                              </li>
                              <li>
                                <h4>
                                  Automation energy saving
                                </h4>

                              </li>
                              <li>
                                <h4>
                                  Other improvement
                                </h4>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="r-item">
                          <h3 class="green">Replace</h3>
                          <br>
                          <div class="r-item-content">
                            <ul>
                              <li>
                                <h4>
                                  Renewable energy purchasing
                                </h4>




                              </li>
                              <li>
                                <h4>
                                  Renewable energy build up
                                </h4>

                              </li>

                            </ul>
                          </div>
                        </div>
                        <div class="r-item">
                          <h3 class="green">Resolve</h3>
                          <br>
                          <div class="r-item-content" id="r-item3">
                            <ul>
                              <li>
                                <h4>
                                  Carbon capture and other innovation methods

                                </h4>


                              </li>

                            </ul>
                          </div>
                        </div>


                      </div>



                    </div>

                  </div>
                </div>
              </div>
              <div class="modal fade" id="3-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered " role="document" id="modal-dialog-3-2">
                  <div class="modal-content esg-modal-wrapper ">
                    <div class="modal-header" id="env-modal">

                      <h3 class="env-1-heading" id="exampleModalLongTitle">Align SBTi Target</h3>
                      <br>

                      <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>

                    </div>
                    <div class="modal-body">

                      <div class="env-modal-body">
                        <div class="r-item">

                          <div class="r-item-content" id="r-item3">
                            <ul>

                              <li>
                                <h4>
                                  Supplier Carbon/ESG Platform
                                </h4>




                              </li>
                              <li>
                                <h4>
                                  Renewable Energy Pledge
                                </h4>

                              </li>

                            </ul>
                          </div>
                        </div>


                      </div>



                    </div>

                  </div>
                </div>
              </div>



            </div>
          </div>

        </div>

        <div class="margin-box">
          <div class="title-box ">
            <h2 class="about-title">Green Solution</h2>
          </div>

          <div class="sub-margin-box">
            <div class="sub-title">
              <h3><i>
                  <img src="/assets/img/esg/env/sub-title.png" alt="">
                </i>Improving Cooling Solution Efficiency</h3>
            </div>
            <div class="gr-box">
              <div class="gr-box-img" id="gr1">

              </div>
              <div class="gr-box-contnet" id="gr1-content">

                <div id="gr1-content-mobile" class="carousel slide  carousel-mobile" data-ride="carousel"
                  data-interval="false">
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <img src="./assets/img/esg/env/green/cooling-m1.png" alt="Secod slide">

                    </div>
                    <div class="item">
                      <img src="./assets/img/esg/env/green/cooling-m2.png" alt="Secod slide">

                    </div>
                    <div class="item">
                      <img src="./assets/img/esg/env/green/cooling-m3.png" alt="Secod slide">

                    </div>


                    <!-- Controls -->
                    <a class="left carousel-control" href="#gr1-content-mobile" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>

                    <a class="right carousel-control" href="#gr1-content-mobile" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sub-margin-box">
            <div class="sub-title">
              <h3><i>
                  <img src="/assets/img/esg/env/sub-title.png" alt="">
                </i>Immersion Cooling Solution​ for Green Data Center</h3>
            </div>
            <div class="gr-box">
              <div class="gr-box-img" id="gr2">

              </div>
              <div class="gr-box-contnet">
                <div>
                  <div class="gr-box-header">
                    <h4>With our immersion cooling technology, we aim to help our customers reduce
                      their data center
                      operating costs, decrease
                      PUE metrics, and lead them to an eco-friendly environment.</h4>
                  </div>
                  <div class="gr-box-number">
                    <div>
                      <h2>Carbon <br> Reduction</h2>
                    </div>
                    <div>
                      <h2 class="green"><i class="fas fa-caret-down"></i> 33.54%</h2>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="sub-margin-box">
            <div class="sub-title">
              <h3>
                <i>
                  <img src="/assets/img/esg/env/sub-title.png" alt="">
                </i>
                DMS for Sustainable Developement
              </h3>
            </div>
            <div class="gr-box">
              <div class="gr-box-img" id="gr3">

              </div>
              <div class="gr-box-contnet">
                <div>
                  <div class="gr-box-header">
                    <h4>Integrating major 6 facility systems to FMCS via IIoT to enable timely error notification and
                      remote control.
                      EnMS comprehensively monitors the trend of energy consumption and formulates energy baselines and
                      improvement goals.</h4>
                  </div>
                  <div class="gr-box-number" id="gr-box-3">
                    <div>
                      <h4>Energy Reduction</h4>
                      <br>
                      <h2 class="green">51%</h2>

                    </div>
                    <div>
                      <h4>Carbon Reduction</h4>
                      <br>
                      <h2 class="green">59%</h2>

                    </div>
                    <div>
                      <h4>EER Increase</h4>
                      <br>
                      <h2 class="green" style="white-space: nowrap;"> 6.55%</h2>

                    </div>


                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="sub-margin-box">
            <div class="sub-title">
              <h3><i>
                  <img src="/assets/img/esg/env/sub-title.png" alt="">
                </i>Low Carbon Footprint Innovation </h3>
            </div>
            <div class="gr-box">

              <div class="lc-card">
                <div class="lc-card-img">
                  <img src="/assets/img/esg/env/green/4.png" alt="">
                </div>
                <div class="lc-card-content">
                  <h4>Design</h4>
                  <br>
                  <p>
                  <ul>
                    <li>
                      Extend product life cycle to reduce material manufacturing emissions
                    </li>
                    <li>
                      Modular design or common components to decrease innovation material consumption
                    </li>
                    <li>
                      Low energy consumption procedure
                    </li>


                  </ul>
                  </p>
                </div>
              </div>
              <div class="lc-card">
                <div class="lc-card-img">
                  <img src="/assets/img/esg/env/green/5.png" alt="">
                </div>
                <div class="lc-card-content">
                  <h4>Materials</h4>
                  <br>
                  <p>
                  <ul>
                    <li>
                      Reduce manufacturing energy consuming

                    </li>
                    <li>
                      Reduce Material Carbon Footprint
                    </li>
                    <li>
                      Decrease wastes production
                    </li>


                  </ul>
                  </p>
                </div>
              </div>
              <div class="lc-card">
                <div class="lc-card-img">
                  <img src="/assets/img/esg/env/green/6.png" alt="">
                </div>
                <div class="lc-card-content">
                  <h4>Design</h4>
                  <br>
                  <p>
                  <ul>
                    <li>
                      Local suppliers to reduce transportation GHG emission

                    </li>
                    <li>
                      Build up supplier ESG management system
                    </li>



                  </ul>
                  </p>
                </div>
              </div>

            </div>
          </div>

        </div>


      </div>

      <div id="sc" class="tab-pane fade ">



        <div class="margin-box" id="bts-1">

          <div class="title-box ">
            <h2 class="about-title"> Employee Care and Diversity</h2>
          </div>

          <div class="owl-carousel owl-theme owl-loaded esg-carousel-wrapper carousel-esg-care ">

            <div class="item care-item">
              <div class="sub-item-wrapper ">
                <div class="sub-item ">


                  <img src="./assets/img/esg/4/4-1/employee-div2.png">



                </div>
                <div class="sub-item ">
                  <div class="sub-item-content">
                    <h2>
                      Employee
                      Diversity

                    </h2>
                    <br>

                    <h4>
                      2023 H1 Ingrasys % of female employees
                    </h4>
                    <br>

                    <h1 class="color counter">
                      <span>51</span>
                    </h1>
                    <h1 class="color">
                      <span>%</span>
                    </h1>

                  </div>



                </div>
                <div class="popup">

                  <a data-toggle="modal" data-target="#1-1" class="btn btn-underline" role="button">Read
                    More <i class="fas fa-arrow-right"></i></a>



                </div>

              </div>

            </div>

            <div class="item care-item">
              <div class="sub-item-wrapper">
                <div class="sub-item ">
                  <img src="./assets/img/esg/4/4-1/employee-care2.png">

                </div>
                <div class="sub-item ">
                  <div class="sub-item-content">
                    <h2>
                      Employee <br>
                      Care&nbsp;&nbsp;


                    </h2>

                    <br>
                    <h4>
                      2022 Ingrasys return rate of parental leave
                    </h4>
                    <br>


                    <h1 class="color counter">
                      <span>100</span>
                    </h1>
                    <h1 class="color">
                      <span>%</span>
                    </h1>



                  </div>






                </div>

                <div class="popup">



                  <a data-toggle="modal" data-target="#1-2" class="btn btn-underline" role="button"
                    style="text-decoration:underline;">Read
                    More <i class="fas fa-arrow-right"></i></a>



                </div>


              </div>

            </div>
            <div class="item care-item">
              <div class="sub-item-wrapper">
                <div class="sub-item " id="id-care-item-child">
                  <img src="./assets/img/esg/4/4-1/child2.png">

                </div>
                <div class="sub-item ">
                  <div class="sub-item-content">
                    <h2>
                      Childcare
                      Subsuidies

                    </h2>

                    <br>
                    <h4>
                      From 2022 Ingrasys 0 to 6 year-olds program spending
                    </h4>
                    <br>


                    <h1 class="color counter">
                      <span>4.5</span>
                    </h1>
                    <h1 class="color">
                      <span>M+ USD</span>
                    </h1>



                  </div>






                </div>

                <div class="popup">



                  <a data-toggle="modal" data-target="#1-3" class="btn btn-underline" role="button"
                    style="text-decoration:underline;">Read
                    More <i class="fas fa-arrow-right"></i></a>



                </div>


              </div>

            </div>
            <div class="item care-item">
              <div class="sub-item-wrapper">
                <div class="sub-item ">
                  <img src="./assets/img/esg/4/4-1/development2.png">

                </div>
                <div class="sub-item ">
                  <div class="sub-item-content">
                    <h2>
                      Employee
                      Development

                    </h2>
                    <br>

                    <h4>
                      Ingrasys accumulated total
                      training hours
                    </h4>
                    <br>


                    <h1 class="color counter">
                      <span>55000</span>
                    </h1>
                    <h1 class="color">
                      <span>+ hrs.</span>
                    </h1>

                  </div>




                </div>


                <div class="popup">



                  <a data-toggle="modal" data-target="#1-4" class="btn btn-underline" role="button"
                    style="text-decoration:underline;">Read
                    More <i class="fas fa-arrow-right"></i></a>



                </div>

              </div>

            </div>




          </div>

          <div id="">
            <!-- Modal -->
            <div class="modal fade" id="1-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="modal-content esg-modal-wrapper modal-bts1">
                  <div class="modal-header">


                    <h3 class="modal-title" id="exampleModalLongTitle">Employee<br>
                      Demographics</h3>
                    <br>

                    <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>


                  </div>
                  <div class="modal-body">

                    <h4> <i>
                        <img src="./assets/img/esg/4/4-1/boy.svg"></i>
                      883 female employees
                    </h4>
                    <br>
                    <h4><i>
                        <img src="./assets/img/esg/4/4-1/girl.svg"></i> 849 male employees</h4>
                    <br>

                    <h4>
                      Respect differences, Encourage diversity
                      <br>
                      <br>
                      Employees diversity complement each other, which enhance to realize the best use of
                      talents.
                      It’s
                      an important guarantee
                      for us to consolidate profession and stimulate innovative capabilities. Also, it’s always
                      adhered
                      to the employment
                      principle of gender equality.
                    </h4>
                    <br>
                    <br><br>
                  </div>

                </div>
              </div>
            </div>
            <div class="modal fade" id="1-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="modal-content esg-modal-wrapper modal-bts1">
                  <div class="modal-header">


                    <h3 class="modal-title" id="exampleModalLongTitle">Caring for<br>
                      Female Employees
                    </h3>
                    <br>
                    <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>


                  </div>
                  <div class="modal-body">
                    <ul>
                      <li>
                        <h4>
                          Female employees’ career development platform
                        </h4>

                      </li>
                      <br>
                      <li>
                        <h4>
                          Optimize our maternity period, breastfeeding leave and related policies.
                        </h4>
                      </li>

                      <br>

                      <br>

                      <h4>
                        We will also continue to pay attention to the rights of female employees at home and abroad.
                        Also,
                        we aims to ensure
                        that female employees enjoy non-discriminatory remuneration and benefits.
                      </h4>

                    </ul>

                    <br><br><br>
                  </div>

                </div>
              </div>
            </div>
            <div class="modal fade" id="1-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="modal-content esg-modal-wrapper modal-bts1">
                  <div class="modal-header">


                    <h3 class="modal-title" id="exampleModalLongTitle">Childcare Subsidies for<br>
                      "0 to 6 year-olds" program
                    </h3>
                    <br>
                    <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>


                  </div>
                  <div class="modal-body">


                    <ul>
                      <li>
                        <h4>
                          Align with group policy, we provide comprehensive childcare subsidies
                        </h4>

                      </li>
                    </ul>


                    <br>

                    <ul>
                      <li>
                        <h4>
                          In recent 2 years, Ingrasys has issued more than 140 million NTD for this program.
                        </h4>

                      </li>
                    </ul>

                    <br>
                    <br>
                    <br><br>
                    <br>
                    <br><br>

                  </div>

                </div>
              </div>
            </div>
            <div class="modal fade" id="1-4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="modal-content esg-modal-wrapper modal-bts1">
                  <div class="modal-header">


                    <h3 class="modal-title" id="exampleModalLongTitle">Strengthen and Innovate Employee Training Plan
                    </h3>
                    <br>
                    <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>


                  </div>
                  <div class="modal-body">

                    <p>
                    <ul>
                      <li>
                        <h4>
                          In 2022, we strengthened the overall planning of training and align group/ corporate policies
                          to
                          fully tap the potential
                          of existing personnel, formulate talent development plans, management objectives and training
                          implementation plan.
                        </h4>
                        <br>
                        <br>
                        <img id="sit-img" src="./assets/img/esg/4/4-1/dev-img.png" alt="">

                      </li>
                    </ul>
                    </p>
                    <br>


                  </div>

                </div>
              </div>
            </div>
          </div>



        </div>

        <div class="margin-box" id="bts-2">

          <div class="title-box ">
            <h2 class="about-title"> Health and Safety</h2>
          </div>

          <div class="owl-carousel owl-theme owl-loaded esg-carousel-wrapper carousel-esg">

            <div id="health-item" class="item ">
              <div class="sub-health-item">
                <img src="./assets/img/esg/4/4-2/health.png">

              </div>
              <div class="sub-health-item">
                <div class="health-item-content">
                  <h2>
                    Occupational<br>
                    Health<br>
                    Protection

                  </h2>

                </div>


              </div>
              <div class="health-popup">

                <a data-toggle="modal" data-target="#2-1" class="btn btn-underline" role="button"
                  style="text-decoration:underline;">Read
                  More <i class="fas fa-arrow-right"></i></a>



              </div>
            </div>
            <div id="health-item" class="item ">
              <div class="sub-health-item">
                <img src="./assets/img/esg/4/4-2/safety.png">

              </div>
              <div class="sub-health-item">
                <div class="health-item-content">
                  <h2>


                    Safety<br>
                    Risk<br>
                    Prevention


                  </h2>

                </div>


              </div>
              <div class="health-popup">

                <a data-toggle="modal" data-target="#2-2" class="btn btn-underline" role="button"
                  style="text-decoration:underline;">Read
                  More <i class="fas fa-arrow-right"></i></a>



              </div>
            </div>
            <div id="health-item" class="item ">
              <div class="sub-health-item">
                <img src="./assets/img/esg/4/4-2/encourage.png">

              </div>
              <div class="sub-health-item">
                <div class="health-item-content">
                  <h2>


                    Activities to<br>
                    Encourage Better<br>
                    Employee Health


                  </h2>

                </div>


              </div>
              <div class="health-popup">

                <a data-toggle="modal" data-target="#2-3" class="btn btn-underline" role="button"
                  style="text-decoration:underline;">Read
                  More <i class="fas fa-arrow-right"></i></a>



              </div>
            </div>
            <div id="health-item" class="item ">
              <div class="sub-health-item">
                <img src="./assets/img/esg/4/4-2/improve.png">

              </div>
              <div class="sub-health-item">
                <div class="health-item-content">
                  <h2>

                    Improve<br>
                    Employee<br>
                    Well-being


                  </h2>

                </div>


              </div>
              <div class="health-popup">

                <a data-toggle="modal" data-target="#2-4" class="btn btn-underline" role="button"
                  style="text-decoration:underline;">Read
                  More <i class="fas fa-arrow-right"></i></a>



              </div>
            </div>





          </div>
          <div class="bts-2-modal">
            <!-- Modal -->
            <div class="modal fade" id="2-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered hp-modal-wrapper" role="document">
                <div class="modal-content esg-modal-wrapper ">
                  <div class="modal-header">

                    <h4 class="modal-2-heading" id="exampleModalLongTitle">Cooperate with local professional
                      institutions
                      to enhance correct
                      understanding and better protect their occupational
                      health.</h4>
                    <br>

                    <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                  </div>
                  <div class="modal-body">

                    <div class="hp-modal-gallary">

                      <div class="hp-modal">
                        <h4 class="color">Health Lecture</h4>
                        <h4>Metabolic Syndrome & Quitting Smoking</h4>
                        <br><br>
                        <div class="hp-modal-pic-wrapper">
                          <div id="hp-modal-pic1" class="hp-modal-pic">
                            <img src="./assets/img/esg/4/4-2/health/1.png" alt="">


                          </div>

                          <div id="hp-modal-pic2" class="hp-modal-pic">
                            <img src="./assets/img/esg/4/4-2/health/2.png" alt="">


                          </div>


                        </div>


                      </div>

                      <div class="hp-modal left-divider">
                        <h4 class="color">Stress Relief Talk
                        </h4>
                        <h4>Aromatherapy Essential Oils</h4>
                        <br><br>

                        <div class="hp-modal-pic-wrapper">
                          <div id="hp-modal-pic1" class="hp-modal-pic">
                            <img src="./assets/img/esg/4/4-2/health/3.png" alt="">


                          </div>
                          <div id="hp-modal-pic2" class="hp-modal-pic">
                            <img src="./assets/img/esg/4/4-2/health/4.png" alt="">


                          </div>


                        </div>


                      </div>


                    </div>



                  </div>

                </div>
              </div>
            </div>
            <div class="modal fade" id="2-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered hp-modal-wrapper" role="document">
                <div class="modal-content esg-modal-wrapper ">
                  <div class="modal-header">

                    <h4 class="modal-2-heading" id="exampleModalLongTitle">We regularly hold emergency drills and
                      practical trainings to prevent the potential safety risk, which shows our
                      ambition to ensure a safe working environment.</h4>
                    <br>

                    <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                  </div>
                  <div class="modal-body">

                    <div class="hp-modal-gallary">

                      <div class="hp-modal">
                        <h4 class="color">First aid knowledge :
                        </h4>
                        <h4>CPR+AED</h4>
                        <br>
                        <div class="hp-modal-pic-wrapper">
                          <div id="hp-modal-pic1" class="hp-modal-pic">
                            <img src="./assets/img/esg/4/4-2/safety/1.png" alt="">


                          </div>

                          <div id="hp-modal-pic2" class="hp-modal-pic">
                            <img src="./assets/img/esg/4/4-2/safety/2.png" alt="">


                          </div>


                        </div>


                      </div>

                      <div class="hp-modal left-divider">
                        <h4 class="color">Evacuation drills :
                        </h4>
                        <h4>(Twice a year)</h4>
                        <br>

                        <div class="hp-modal-pic-wrapper">
                          <div id="hp-modal-pic1" class="hp-modal-pic">
                            <img src="./assets/img/esg/4/4-2/safety/3.png" alt="">


                          </div>
                          <div id="hp-modal-pic2" class="hp-modal-pic">
                            <img src="./assets/img/esg/4/4-2/safety/4.png" alt="">


                          </div>


                        </div>


                      </div>


                    </div>



                  </div>

                </div>
              </div>
            </div>
            <div class="modal fade" id="2-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered hp-modal-wrapper" role="document">
                <div class="modal-content esg-modal-wrapper ">
                  <div class="modal-header">

                    <h4 class="modal-2-heading" id="exampleModalLongTitle">Devoted to improve employees’ health
                      awareness, we keep carrying out a series of health promotion activities to improve
                      the execution of employees’ healthy behaviors.</h4>
                    <br>

                    <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                  </div>
                  <div class="modal-body">

                    <div class="hp-modal-gallary">

                      <div class="hp-modal">
                        <h4 class="color">Lung Cancer
                          Screening</h4>

                        <br><br>
                        <div class="hp-modal-pic-wrapper">
                          <div id="hp-modal-pic1" class="hp-modal-pic">
                            <img src="./assets/img/esg/4/4-2/encourage/1.png" alt="">


                          </div>

                        </div>


                      </div>

                      <div class="hp-modal left-divider">
                        <h4 class="color">Fall & Winter Flu
                          Vaccinations</h4>

                        <br><br>

                        <div class="hp-modal-pic-wrapper">
                          <div id="hp-modal-pic1" class="hp-modal-pic">
                            <img src="./assets/img/esg/4/4-2/encourage/2.png" alt="">


                          </div>



                        </div>


                      </div>
                      <div class="hp-modal left-divider">
                        <h4 class="color">Stair-Climbing
                          Activity</h4>

                        <br><br>

                        <div class="hp-modal-pic-wrapper">
                          <div id="hp-modal-pic1" class="hp-modal-pic">
                            <img src="./assets/img/esg/4/4-2/encourage/3.png" alt="">


                          </div>



                        </div>


                      </div>
                      <div class="hp-modal left-divider">
                        <h4 class="color">Weight Loss
                          Competition</h4>

                        <br><br>

                        <div class="hp-modal-pic-wrapper">
                          <div id="hp-modal-pic1" class="hp-modal-pic">
                            <img src="./assets/img/esg/4/4-2/encourage/4.png" alt="">


                          </div>



                        </div>


                      </div>


                    </div>



                  </div>

                </div>
              </div>
            </div>
            <div class="modal fade" id="2-4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered hp-modal-wrapper" role="document">
                <div class="modal-content esg-modal-wrapper ">
                  <div class="modal-header">

                    <h4 class="modal-2-heading" id="exampleModalLongTitle">Ingrasys organized a series of hand-made
                      healing and
                      interesting courses, hoping to provide employees with a sense of
                      accomplishment and relief from creation, create a working environment full of hope, health and
                      vitality.</h4>
                    <br>

                    <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                  </div>
                  <div class="modal-body">

                    <div class="hp-modal-gallary">

                      <div class="hp-modal">
                        <h4 class="color">Fluid Art Creation :
                        </h4>
                        <h4>Use Pigments with Eco-friendly Certification</h4>
                        <br>
                        <div class="hp-modal-pic-wrapper">
                          <div id="hp-modal-pic1" class="hp-modal-pic">
                            <img src="./assets/img/esg/4/4-2/improve/1.png" alt="">


                          </div>

                          <div id="hp-modal-pic2" class="hp-modal-pic">
                            <img src="./assets/img/esg/4/4-2/improve/2.png" alt="">


                          </div>


                        </div>


                      </div>

                      <div class="hp-modal left-divider">

                        <h4 class="color">Planting Activity :</h4>
                        <h4>Combine with Recycled Materials</h4>
                        <br>

                        <div class="hp-modal-pic-wrapper">
                          <div id="hp-modal-pic1" class="hp-modal-pic">
                            <img src="./assets/img/esg/4/4-2/improve/3.png" alt="">


                          </div>
                          <div id="hp-modal-pic2" class="hp-modal-pic">
                            <img src="./assets/img/esg/4/4-2/improve/4.png" alt="">


                          </div>


                        </div>


                      </div>


                    </div>



                  </div>

                </div>
              </div>
            </div>

          </div>








        </div>

        <div class="margin-box" id="bts-3">

          <div class="title-box ">
            <h2 class="about-title"> Social Participation</h2>
          </div>

          <div class="owl-carousel owl-theme owl-loaded esg-carousel-wrapper carousel-esg-care ">

            <div class="item care-item">
              <div class="sub-item-wrapper">
                <div class="sub-item ">


                  <img src="./assets/img/esg/4/4-3/toe.png">



                </div>
                <div class="sub-item ">
                  <div class="sub-item-content">
                    <h2>
                      Old Shoes<br>
                      Recycling for<br>
                      Better Life<br>
                      in Africa

                    </h2>
                    <br>


                  </div>



                </div>
                <div class="popup">

                  <a data-toggle="modal" data-target="#sp3-1" class="btn btn-underline" role="button">Read
                    More <i class="fas fa-arrow-right"></i></a>



                </div>

              </div>

            </div>
            <div class="item care-item">
              <div class="sub-item-wrapper">
                <div class="sub-item ">
                  <img src="./assets/img/esg/4/4-3/2hand.png">

                </div>
                <div class="sub-item ">
                  <div class="sub-item-content">
                    <h2>
                      Second-hand <br>
                      Bazaar Spreads<br>
                      Love and Green<br>
                      Lifestyle

                    </h2>


                  </div>



                </div>
                <div class="popup">
                  <a data-toggle="modal" data-target="#sp3-2" class="btn btn-underline" role="button"
                    style="text-decoration:underline;">Read
                    More <i class="fas fa-arrow-right"></i></a>

                </div>




              </div>

            </div>
            <div class="item care-item">
              <div class="sub-item-wrapper">
                <div class="sub-item ">
                  <img src="./assets/img/esg/4/4-3/earth.png">

                </div>
                <div class="sub-item ">
                  <div class="sub-item-content">
                    <h2>
                      Create the <br>
                      Biggest<br>
                      Hour for<br>
                      Earth
                    </h2>



                  </div>






                </div>
                <div class="popup">



                  <a data-toggle="modal" data-target="#sp3-3" class="btn btn-underline" role="button"
                    style="text-decoration:underline;">Read
                    More <i class="fas fa-arrow-right"></i></a>



                </div>



              </div>

            </div>


          </div>

          <div class="bts-3-modal">
            <!-- Modal -->
            <div class="modal fade" id="sp3-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered hp-modal-wrapper" role="document">
                <div class="modal-content esg-modal-wrapper ">



                  <div class="modal-body">
                    <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <br><br>

                    <div class="sc-modal-wrapper">



                      <h4>In 2022, Ingrasys held a second-hand shoes recycling project, which aims to improve public
                        health in Africa while the
                        value of the old shoes continue.

                      </h4>

                      <br>
                      <br>
                      <h4>
                        A collection station was set up for donated shoes collection; team competition mechanism was
                        also implemented to
                        increase the incentive of employees.Finally, through the“Step30 International Ministries,”the
                        shoes were transported to
                        East Africa.
                      </h4>

                      <br>
                      <div class="sc-modal-img-wrapper">
                        <div class="sc-modal-img">
                          <img src="./assets/img/esg/4/4-3/toe/1.png" alt="">
                        </div>
                        <div class="sc-modal-img">
                          <img src="./assets/img/esg/4/4-3/toe/2.png" alt="">
                        </div>

                      </div>






                    </div>



                  </div>

                </div>
              </div>
            </div>
            <div class="modal fade" id="sp3-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered hp-modal-wrapper" role="document">
                <div class="modal-content esg-modal-wrapper ">



                  <div class="modal-body">
                    <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <br><br>

                    <div class="sc-modal-wrapper">



                      <h4>In 2022, Ingrasys Nanqing Plant took the initiative to practice the circular concept, aiming
                        to
                        promote the recycling
                        and utilization of resources, extend the product life cycle and reduce the waste.



                      </h4>
                      <br>
                      <h4>
                        We held a second-hand bazaar to call on all employees bringing unused items for trading. The
                        resources were reused and
                        sent to assist remote villages and disadvantaged groups.
                      </h4>



                      <br>
                      <div class="sc-modal-img-wrapper">
                        <div class="sc-modal-img">
                          <img src="./assets/img/esg/4/4-3/2hand/1.png" alt="">
                        </div>
                        <div class="sc-modal-img">
                          <img src="./assets/img/esg/4/4-3/2hand/2.png" alt="">
                        </div>

                      </div>






                    </div>



                  </div>

                </div>
              </div>
            </div>
            <div class="modal fade" id="sp3-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered hp-modal-wrapper" role="document">
                <div class="modal-content esg-modal-wrapper ">



                  <div class="modal-body">
                    <button type="button" class="close btn-position" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <br><br>

                    <div class="sc-modal-wrapper">



                      <h4>In 2023, Ingrasys connected with other factories, and invited suppliers, employees joining the
                        one-hour lights-off event
                        on National Earth Day.We responded it in the factory by turning off the light in the office and
                        reception area.

                      </h4>

                      <br>
                      <br>
                      <h4>
                        At the same time, Ingrasys also cooperated with a kindergarten nearby for story-telling
                        activities, to enhance correct
                        concept of global warming and the habit of saving energy at the early age.
                      </h4>

                      <br>
                      <div class="sc-modal-img-wrapper">
                        <div class="sc-modal-img">
                          <img src="./assets/img/esg/4/4-3/earth/1.png" alt="">
                        </div>
                        <div class="sc-modal-img">
                          <img src="./assets/img/esg/4/4-3/earth/2.png" alt="">
                        </div>

                      </div>






                    </div>



                  </div>

                </div>
              </div>
            </div>

          </div>



        </div>







      </div>



    </div>





  </div>


  </div>


  </div>







</section>