<section>

  <p class="new-breadcrumb">
    <a href="/"><i class="fa-solid fa-arrow-left"></i> Homepage / </a>
    Events / SC21
  </p>

  <div class="upper-cotainer">


    <div class="event-details">


      <div class="event-detail-list">
        <h1>SC21</h1><br>
        <p>Exhibits @ Booth #127<br>
          November 15–18, 2021<br>
          America’s Center<br>
          701 Convention Plaza, St. Louis, Mo <br>63101</p>

      </div>

      <div class="event-banner">
        <img src="./assets/img/events/sc22.png" alt="" class="event-img">
      </div>

    </div>


  </div>



  <div class="bottom-cotainer">


    <div>

      <h1>Links</h1>
      <hr>

      <br>
    </div>
    <div class="media-list">



      <div class="thumbnail card media-card">
        <div class="media-author">
          <img src="" alt="">
        </div>

        <a href="">
          <img src="./assets/img/events/sc22.png" alt="...">
        </a>
        <div class="caption">
          <div class="card-body">
            <h class="card-title">Top 10 Showcases at Supercomputing 2021</h>

            <div class="text-box">
              <p>
                November 29, 2021
                Digital Times
              </p>



            </div>
            <br>

          </div>
        </div>
      </div>

      <div class="thumbnail card media-card">
        <div class="media-author">
          <img src="" alt="">
        </div>

        <a href="">
          <img src="./assets/img/events/sc22.png" alt="...">
        </a>
        <div class="caption">
          <div class="card-body">
            <h class="card-title">Top 10 Showcases at Supercomputing 2021</h>

            <div class="text-box">
              <p>
                November 29, 2021
                Digital Times
              </p>



            </div>
            <br>

          </div>
        </div>
      </div>





    </div>
    <br>

    <div class="gallery">

      <div>

        <h1>Photos</h1>
        <hr>
        <br>
      </div>

      <div class="tz-gallery">

        <div class="row mobile-scroll-box">

          <div class="">
            <a class="lightbox"
              href="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/park.jpg">

              <img
                src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/park.jpg"
                alt="Park">
            </a>
          </div>
          <div class="">
            <a class="lightbox"
              href="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/tunnel.jpg">
              <img
                src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/tunnel.jpg"
                alt="Tunnel">
            </a>
          </div>
          <div class="">
            <a class="lightbox"
              href="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/rails.jpg">
              <img
                src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/rails.jpg"
                alt="Coast">
            </a>
          </div>
          <div class="">
            <a class="lightbox"
              href="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/coast.jpg">
              <img
                src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/coast.jpg"
                alt="Rails">
            </a>
          </div>
          <div class="">
            <a class="lightbox"
              href="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/coast.jpg">
              <img
                src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/coast.jpg"
                alt="Rails">
            </a>
          </div>

        </div>

      </div>



    </div>



  </div>









</section>