<section>


  <div class="upper-events">

    <p class="new-breadcrumb">
      <a href="/"><i class="fa-solid fa-arrow-left"></i> Homepage / </a>
      Events
    </p>


    <div class="events-banner">

      <img src="./assets/img/events/events.png" alt="" class="events-img">

    </div>

    <div class="latest-events">

      <h1>SuperCompute 2022</h1>

      <br>
      <p>
        <i class="fa-solid fa-calendar-days"></i> November 14-17, 2022
      </p>

      <p>
        <i class="fa-solid fa-location-dot"></i> Kay Bailey Hutchison Convention Center Dallas
      </p>

      <br>
      <br>
      <div class="events-box">
        <p>
          Unboxing the Power of Hybrid Performance Computing Experiences with Completing Cloud Solutions and Support.
        </p>
        <br>

        <div class="events-logo">
          <img src="./assets/img/events/sc22.png" alt="">
        </div>


      </div>


    </div>

  </div>


  <div class="bottom-events">




    <div class="events-wrapper">

      <div>

        <h1>Upcoming Events</h1>

        <br>
      </div>

      <div class="events-container">

        <div class="thumbnail card">
          <div class="upcoming">
            Upcoming
          </div>


          <a href="https://www.opencompute.org/summit/global-summit">
            <img src="assets/img/products/card-wilkinson.png" alt="...">
          </a>
          <div class="caption">
            <div class="card-body">
              <h5 class="card-title">OCP 2022</h5>

              <div class="text-box">
                <p>
                  Unboxing the Power of Hybrid Performance Computing Experiences with Completing Cloud Solutions and
                  Support.
                </p>



              </div>
              <br>
              <p>Date: November 13, 2022</p>
            </div>
          </div>
        </div>
        <div class="thumbnail card" style="color= black">

          <div class="upcoming">
            Upcoming
          </div>

          <a href="https://sc22.supercomputing.org/">
            <img src="assets/img/products/card-wilkinson.png" alt="...">
          </a>
          <div class="caption">
            <div class="card-body">
              <h5 class="card-title">Super Computing 22</h5>

              <div class="text-box">
                <p>
                  Unboxing the Power of Hybrid Performance Computing Experiences with Completing Cloud Solutions and
                  Support.
                </p>

              </div>

              <p>Date: November 14-17, 2022</p>
            </div>
          </div>
        </div>


      </div>

    </div>

    <div class="events-wrapper">


      <div>

        <h1>Past Events</h1>

        <br>
      </div>

      <div class="events-container">
        <div class="thumbnail card" style="color= black">



          <img src="assets/img/products/card-wilkinson.png" alt="...">
          <div class="caption">
            <div class="card-body">
              <h5 class="card-title">Computex 2022</h5>

              <div class="text-box">
                <p>
                  Unboxing the Power of Hybrid Performance Computing Experiences with Completing Cloud Solutions and
                  Support.
                </p>

              </div>

              <p>Date: November 13, 2022</p>
            </div>
          </div>
        </div>

        <div class="thumbnail card" style="color= black">



          <img src="assets/img/products/card-wilkinson.png" alt="...">
          <div class="caption">
            <div class="card-body">
              <h5 class="card-title">Super Computing 2021</h5>

              <div class="text-box">
                <p>
                  Unboxing the Power of Hybrid Performance Computing Experiences with Completing Cloud Solutions and
                  Support.
                </p>

              </div>

              <p>Date: November 13, 2022</p>
            </div>
          </div>
        </div>



      </div>


    </div>



  </div>



</section>