<section>


  <p class="new-breadcrumb">
    <a href="/"><i class="fa-solid fa-arrow-left"></i> Homepage / </a>
    Events
  </p>


  <div class="upper-events">
    <div class="events-banner">
      <img src="./assets/img/events/ocp-banner.png" alt="" class="events-img">
    </div>

    <div class="latest-events">

      <div class="events-logo">
        <img src="./assets/img/logos/Ingrasys logo_white2.svg" alt="Ingrasys_logo_white">
      </div>
      <br>

      <div class="events-box">
        <h2>OCP Global Summit 2022: EMPOWERING OPEN.</h2>
        <br>


        <p class="pt-12"><i class="fa-solid fa-calendar-days"></i> October 18-20, 2022</p>
        <p class="pt-12"><i class="fa-solid fa-location-dot"></i> San Jose, California</p>

      </div>


    </div>
  </div>

  <div class="mid-events">
    <div class="events-banner">
      <img src="./assets/img/events/vb-back.png" alt="" class="vb-image">
    </div>

    <div class="virtual-booth">

      <div class="v-title">
        <h1>Virtual <br>
          Exhibtion</h1>
        <br>
        <br>
        <p><a href="https://www.ingrasys-events.com/" class="btn btn-primary" role="button">Enter Booth</a> </p>
      </div>
      <br>

      <div class="v-img">
        <img src="./assets/img/events/img_virtual_booth.png" alt="">

      </div>





    </div>

  </div>


  <div class="bottom-events ">

    {{!-- Upcoming event cards --}}
    <div class="events-wrapper">
      <div>
        <h2 class="primary-text">Upcoming Events</h2>
        <br>
      </div>
      {{!-- card--}}
      <div class="events-container">
        <div class="thumbnail card">

          <div class="upcoming">Upcoming</div>
          <a href="https://www.opencompute.org/summit/global-summit">
            <img src="assets/img/events/img_events_OCP2022.png" alt="...">
          </a>


          <div class="caption">
            <div class="card-body">
              <h5 class="card-title">OCP Global Summit 2022: EMPOWERING OPEN</h5>
              <br>

              <div class="text-box">
                <p>San Jose, California</p>
                <p>October 18-20, 2022</p>
              </div>

            </div>
          </div>
        </div>


        <div class="thumbnail card">
          <div>
            <div class="upcoming">Upcoming</div>
            <a href="https://www.opencompute.org/summit/global-summit">
              <img src="assets/img/events/img_events_SC22.png" alt="...">
            </a>
          </div>

          <div class="caption">
            <div class="card-body">
              <h5 class="card-title">Supercomputing 2022: hpc accelerates</h5>
              <br>
              <div class="text-box">
                <p>Dallas, TX</p>
                <p>November 14–17, 2022</p>
              </div>


            </div>
          </div>
        </div>


      </div>
    </div>



    {{!-- Past event cards --}}
    <div class="events-wrapper">
      <div>
        <h2 class="primary-text">Past Events</h2>
        <br>
      </div>
      {{!-- card--}}
      <div class="events-container">
        <div class="thumbnail card">
          <div>
            <a href="https://www.opencompute.org/summit/global-summit">
              <img src="assets/img/events/img_events_computex2022.png" alt="...">
            </a>
          </div>

          <div class="caption">
            <div class="card-body">
              <h5 class="card-title">COMPUTEX 2022: Your Data, Our Mission</h5>
              <br>

              <div class="text-box">
                <p>Virtual Booth</p>
                <p>May 24-27, 2022</p>
              </div>

            </div>
          </div>
        </div>
        <div class="thumbnail card">
          <div>
            <a href="/sc21">
              <img src="assets/img/events/img_events_SC21.png" alt="...">
            </a>
          </div>

          <div class="caption">
            <div class="card-body">
              <h5 class="card-title">Supercomputing 2021: science & beyond</h5>
              <br>
              <div class="text-box">
                <p>St. Louis, MO</p>
                <p>November 15-18, 2021</p>
              </div>

            </div>
          </div>
        </div>


      </div>
    </div>





  </div>









</section>