<section>

  <p class="new-breadcrumb">
    <a href="/"><i class="fa-solid fa-arrow-left"></i> Homepage / </a>
    Events / SC21
  </p>

  <div class="upper-cotainer">


    <div class="event-details">


      <div class="event-detail-list">
        <h1>SC21</h1><br>
        <p>Exhibits @ Booth #127<br>
          November 15–18, 2021<br>
          America’s Center<br>
          701 Convention Plaza, St. Louis, Mo <br>63101</p>

      </div>

      <div class="event-banner">
        <img src="./assets/img/events/sc22.png" alt="" class="event-img">
      </div>

    </div>


  </div>



  <div class="bottom-cotainer">


    <div>

      <h1>Links</h1>
      <hr>

      <br>
    </div>
    <div class="media-list">



      <div class="thumbnail card media-card">
        <div class="media-author">
          <img src="" alt="">
        </div>

        <a href="">
          <img src="./assets/img/events/sc22.png" alt="...">
        </a>
        <div class="caption">
          <div class="card-body">
            <h class="card-title">Top 10 Showcases at Supercomputing 2021</h>

            <div class="text-box">
              <p>
                November 29, 2021
                Digital Times
              </p>



            </div>
            <br>

          </div>
        </div>
      </div>

      <div class="thumbnail card media-card">
        <div class="media-author">
          <img src="" alt="">
        </div>

        <a href="">
          <img src="./assets/img/events/sc22.png" alt="...">
        </a>
        <div class="caption">
          <div class="card-body">
            <h class="card-title">Top 10 Showcases at Supercomputing 2021</h>

            <div class="text-box">
              <p>
                November 29, 2021
                Digital Times
              </p>



            </div>
            <br>

          </div>
        </div>
      </div>





    </div>
    <br>

    <div class="gallery">

      <div>

        <h1>Photos</h1>
        <hr>
        <br>
      </div>

      <div class="photos">

        <div class="container">
          <div class="row">
            <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="gallery"
              class="col-md-4">
              <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid rounded">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="gallery"
              class="col-md-4">
              <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid rounded">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="gallery"
              class="col-md-4">
              <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid rounded">
            </a>
          </div>
          <div class="row">
            <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="gallery"
              class="col-md-4">
              <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid rounded">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="gallery"
              class="col-md-4">
              <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid rounded">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="gallery"
              class="col-md-4">
              <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid rounded">
            </a>
          </div>
        </div>



      </div>

    </div>




  </div>



</section>