<section id="focus" class="focus">

  <div class="custom-container upper-banner">

    <div class="video">


      <video preload="auto" loop="" muted="" autoplay="">
        <source src="./assets/img/index/foxconn-cz.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">

      </video>

    </div>

    <div class="banner-wrapper">


      <div class="main-caption background-image">
        <div class="caption-title">
          <h1>Always Endeavor to Provide <br> Innovative Solutions to Greater Systems
          </h1>
        </div>
      </div>
    </div>

    <div class="demo">
      <a href="#section06">Scroll <br>
        <span> <i class="far fa-arrow-down"></i></span>
      </a>

    </div>

  </div>




  <div class="custom-container" id="section06">
    <div class="particles-reference">
      <div id="particles-js">
      </div>

      <div class="focus-wrapper">

        <div class="title-box ">
          <h1 class="focus-title"> Our capability is providing a better way people live and work
          </h1>
          <h class="line"></h>
        </div>

        <div class="focus-content">
          <div class="focus-item" id="item-1">
            <div class="category-img"><img src="./assets/img/index/green.jpg" alt="none"></div>
            <h class="focus-name">Energy Conservation
            </h>
            <p class="focus-description">
              To adapt to future cooling solution design requirements, Ingrasys is committed to the design and
              production of
              advanced cooling
              systems.

            </p>
            <br>
            <a href="/cooling" class="btn btn-underline active " role="button" style="text-decoration:underline;">Learn
              More <i class="fas fa-arrow-right"></i></a>

          </div>

          <div class="focus-item" id="item-3">
            <div class="category-img">
              <img src="./assets/img/index/josh.jpg" alt="">
            </div>
            <h class="focus-name">Smart Manufacturing </h>
            <p class="focus-description">
              Our factory combines automation and AI computing to improve quality, increase efficiency and also help to
              reduce costs
              and the inventory levels.
            </p>
            <br>
            <a class="btn btn-underline active " role="button">Learn
              More <i class="fas fa-arrow-right"></i></a>
            <div>
              <div>
              </div>


            </div>


          </div>

          <div class="focus-item" id="item-3">
            <div class="category-img">
              <img src="./assets/img/index/cdi.jpg" alt="">
            </div>
            <h class="focus-name">Composable Disaggregated Infrastructure </h>
            <p class="focus-description">
              Ingrasys provides CDI architecture, a back end cloud integration framework and an auxiliary annotation
              platform, to enhance
              IT performance as much as possible.
            </p>
            <br>
            <a href="/cdi" class="btn btn-underline active " role="button">Learn
              More <i class="fas fa-arrow-right"></i></a>
            <div>
              <div>
              </div>


            </div>


          </div>




        </div>
      </div>

    </div>

  </div>

</section>

<section class="static-background">

  {{!-- global-footprint --}}
  <div class="custom-container">

    <div class="about-wrapper">


      <div class="about-content">

        <div class="about-img">
          <video preload="auto" loop="" muted="" autoplay="">
            <source src="./assets/img/index/globe_cut2.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">

          </video>

        </div>

        <div class="about-description">

          <div class="title-box title-left-align">
            <h1 class="focus-title"> Global Footprint
            </h1>
            <h class="line"></h>
          </div>

          <p>
            Ingrasys is dedicated to enhancing research design and manufacturing capabilities to establish a
            global footprint.
            Our mission is not only delivering services towards every corner of the world but changing the way people
            live and work.

          </p>

          </br>

          <a href="/about" class="btn btn-underline active  " role="button">Learn More <i
              class="fas fa-arrow-right"></i></a>



        </div>

      </div>
    </div>
  </div>

  {{!-- company slogan --}}
  <div class="custom-container">

    <div class="company-slogan">

      <p>At Ingrasys, we insist on the greatest.
        We are the leading cloud infrastructure pioneer and have leveraged our decades-long expertise to become an
        innovative
        integrated solutions provider.</p>


    </div>

  </div>



  <div class="custom-container">

    <div class="csr-wrapper product-wrapper">

      <div class="prdouct-img">
        <img src="./assets/img/products/storage/es2000/card-irene.png" alt="none">
      </div>
      <br>

      <div class="csr-para">


        <div class="title-box title-left-align">
          {{!-- <h class="focus-title-small">ES2000</h> --}}
          <h1 class="focus-title">Ingrasys<br>
            Latest Products</h1>
          <h class="line"> </h>
        </div>

        <div class="csr-content">
          <p>
            Our latest ES2000, a revolutionary NVMe-oF system to redefine next generation storage

          </p>
          <br>
          <a href="/es2000" class="btn btn-underline active " role="button" style="text-decoration:underline;">Learn
            More <i class="fas fa-arrow-right"></i></a>

        </div>

      </div>



    </div>



  </div>



  {{!-- upcoming event --}}

  <div class="custom-container">
    <div class="event-wrapper">
      <div class="title-box title-left">
        <h1 class="focus-title">Upcoming Events</h1>
        <h class="line"> </h>
      </div>

      <div class="event-img">
        <img src="./assets/img/index/sc21-banner.png" alt="">
      </div>

      <a href="https://sc21.supercomputing.org/" class="btn btn-underline active " role="button"
        style="text-decoration:underline;">Learn
        More <i class="fas fa-arrow-right"></i></a>

    </div>



  </div>



  {{!-- featured news --}}
  <div class=" custom-container">


    <div class="news-wrapper">

      <div class="title-box title-left">
        <h1 class="focus-title">Featured News</h1>
        <h class="line"> </h>
      </div>


      <div class="focus-content">


        <div class="focus-item" id="item-1">
          <img src="./assets/img/index/kioxia.jpg" alt="none" class="category-img">
          <h class="focus-name"> NVMe-oF Ecosystem with Ethernet SSD Storage </h>

          <a href="https://www.businesswire.com/news/home/20200922006079/en/KIOXIA-Bolsters-NVMe-oF-Ecosystem-with-Ethernet-SSD-Storage-Collaborates-with-Marvell-Foxconn-Ingrasys-and-Accton"
            class="btn btn-underline active " role="button" style="text-decoration:underline;">Learn
            More <i class="fas fa-arrow-right"></i></a>

        </div>

        <div class="focus-item" id="item-2">
          <img src="./assets/img/index/quacomm.jpg" alt="" class="category-img">
          <h class="focus-name">Qualcomm Stakes Beachhead In Artificial Intelligence With Foxconn Gloria AI Edge Box
          </h>

          <a href="https://www.forbes.com/sites/davealtavilla/2021/07/27/qualcomm-stakes-beachhead-in-artificial-intelligence-with-foxconn-gloria-ai-edge-box/?sh=2d90188260ea"
            class="btn btn-underline active " role="button">Learn
            More <i class="fas fa-arrow-right"></i></a>
          <div>
            <div>
            </div>


          </div>


        </div>

        <div class="focus-item" id="item-3">
          <img src="./assets/img/index/amd.jpg" alt="" class="category-img">
          <h class="focus-name">Ingrasys Partners with AMD for HPC Solutions</h>

          <a href="https://www.youtube.com/watch?v=kUxW8oHWGJM&t=70s&ab_channel=AMD" class="btn btn-underline active "
            role="button">Learn
            More <i class="fas fa-arrow-right"></i></a>
          <div>
            <div>
            </div>


          </div>


        </div>


      </div>

    </div>


  </div>

  {{!-- csr --}}
  <div class="custom-container">

    <div class="csr-wrapper">

      <div class="csr-img">
        <img src="./assets/img/index/happyteam.jpg" alt="">
      </div>
      <br>

      <div class="csr-para">


        <div class="title-box title-left-align">
          <h class="focus-title-small">Ethical Company</h>
          <h1 class="focus-title">Ingrasys-CSR <br>
            Code of Conduct</h1>
          <h class="line"> </h>
        </div>

        <div class="csr-content">
          <p>
            We are proud to create the best workplace for our employees. We value human capital and occupational safety
            and
            health.
          </p>
          <br>
          <a href="/csr" class="btn btn-underline active " role="button" style="text-decoration:underline;">Learn
            More <i class="fas fa-arrow-right"></i></a>

        </div>

      </div>



    </div>

  </div>

</section>