<section id="focus" class="focus">

  <div class="custom-container upper-banner">

    <div class="video">


      <video playsinline poster="/assets/img/index/cover-portrait.jpg" preload="auto" loop="" id="mobile-video" muted=""
        autoplay="">


        <source src="./assets/img/index/mobile2.mp4" type="video/mp4">

      </video>

      <video poster="./assets/img/index/cover.jpg" preload="auto" loop="" id="web-video" muted="" autoplay="">
        <source src="./assets/img/index/index3.mp4" type="video/mp4" id="mobile">

      </video>

    </div>

    <div class="banner-wrapper">

      <div class="main-caption background-image">
        <div class="caption-title">
          <h2>Your Most Innovative System Design<br> and Integration Provider
          </h2>

          <br>

          <button type="button" class="btn btn-primary nav-cont-btn-mobile" data-toggle="modal"
            data-target="#exampleModal" data-whatever="@mdo">Contact us</button>

        </div>
      </div>
    </div>

    <div class="demo">
      <a href="#section06">

        {{!-- Scroll <br> --}}
        <span> <i class="fa-solid fa-arrow-down"></i></span>
      </a>

    </div>

  </div>

  {{!-- <div class="custom-container">
    <div class="event-container">
      <div class="event-banner">
        <img id="computex-small" src="./assets/img/index/computex-small.png" alt="computex">
        <img id="computex-big" src="./assets/img/index/computex-big.png" alt="computex">
      </div>

      <div class="event-content">
        <div class="event-line">
          <h1>Ingrasys at COMPUTEX 2022: Unlocking the Power of Hybrid Performance Computing Experiences with Completing
            Cloud
            Solutions and Support.
          </h1>
          <br>
          <a href="/cooling" class="btn btn-default " role="button">See
            More </a>
        </div>
      </div>
    </div>



  </div> --}}

  <div class="custom-container" id="section06">
    <div class="particles-reference">
      <div id="particles-js">
      </div>

      <div class="focus-wrapper">

        <div class="title-box ">
          <h2 class="focus-title"> Our Innovative Solutions
          </h2>
          <h class="line"></h>
        </div>

        <div class="focus-content">
          <div class="focus-item" id="item-1">
            <div class="category-img"><img src="./assets/img/index/green.jpg" alt="none"></div>
            <h3 class="focus-name">Energy-Saving Technology
            </h3>
            <br>
            <p class="focus-description">
              Ingrasys advanced cooling solution helps reduce overall data center power consumption.

            </p>
            <br>
            <a href="/cooling" class="btn btn-underline active " role="button" style="text-decoration:underline;">Learn
              More <i class="fas fa-arrow-right"></i></a>

          </div>

          <div class="focus-item" id="item-3">
            <div class="category-img">
              <img src="./assets/img/index/josh.jpg" alt="">
            </div>
            <h class="focus-name">Digital Manufacturing Service </h>
            <p class="focus-description">
              Our AI-Based DMS comes along with various applications, turning manufacturing into the smart level.

            </p>
            <br>
            <a href="/about#dms" class="btn btn-underline active " role="button">Learn
              More <i class="fas fa-arrow-right"></i></a>
            <div>
              <div>
              </div>


            </div>


          </div>

          <div class="focus-item" id="item-3">
            <div class="category-img">
              <img src="./assets/img/index/cdi.jpg" alt="">
            </div>
            <h class="focus-name">Composable Infrastructure</h>
            <br>
            <p class="focus-description">
              Ingrasys implements Composable HCI to achieve both high performance with flexibility and a
              software-defined architecture.

            </p>
            <br>
            <a href="/cdi" class="btn btn-underline active " role="button">Learn
              More <i class="fas fa-arrow-right"></i></a>
            <div>
              <div>
              </div>


            </div>


          </div>
          <div class="focus-item" id="item-3">
            <div class="category-img">
              <img src="./assets/img/index/epyc.jpg" alt="">
            </div>
            <h class="focus-name">HPC Powered by AMD EPYC™</h>
            <p class="focus-description">
              Ingrasys partners with AMD, offering the innovative HPC products for your data centers and
              data-intensive
              workloads.
            </p>
            <br>
            <a href="/amd" class="btn btn-underline active " role="button">Learn
              More <i class="fas fa-arrow-right"></i></a>
            <div>
              <div>
              </div>


            </div>


          </div>




        </div>
      </div>

    </div>

  </div>

</section>

<section class="static-background">

  {{!-- upcoming event --}}

  <div class="custom-container">
    <div class="event-wrapper">
      <div class="title-box title-left">
        <h2 class="focus-title">Upcoming Events</h2>
        <h class="line"> </h>
      </div>

      <div class="event-img">
        <img src="./assets/img/index/ocp_banner.jpg" alt="">

      </div>
      <br>

      <a href="https://www.ingrasys-events.com/" class="btn btn-underline active " role="button"
        style="text-decoration:underline;">Virtual Booth<i class="fas fa-arrow-right"></i></a>

    </div>



  </div>

  <div class="custom-container">


    <div class="news-wrapper">

      <div class="title-box title-left">
        {{!-- <h class="focus-title-small">Ethical Company</h> --}}
        <h2 class="focus-title">Featured News</h2>
        <h class="line"> </h>
      </div>


      <div class="news-content">
        <div class="owl-carousel owl-theme owl-loaded">
          <div class="item" id="item-0">

            <div class="news-item">
              <div class="news-img">
                <img src="./assets/img/index/ocp.jpg" alt="none" class="news-img">

              </div>

              <h class="focus-name"> Ingrasys Showcases Cutting-Edge OCP-Compliant Server and Rack Solutions to Empower
                Tomorrow's Computing </h>

              <a href="https://www.digitimes.com/news/a20221019PR201.htm" class="btn btn-underline active "
                role="button" style="text-decoration:underline;">Learn
                More <i class="fas fa-arrow-right"></i></a>
            </div>


          </div>


          <div class="item" id="item-1">

            <div class="news-item">
              <div class="news-img">
                <img src="./assets/img/index/kioxia4.jpg" alt="none" class="news-img">

              </div>

              <h class="focus-name"> KIOXIA Announces Production Availability of Native Ethernet Flash-Based SSDs </h>

              <a href="https://www.hpcwire.com/off-the-wire/kioxia-announces-production-availability-of-native-ethernet-flash-based-ssds/"
                class="btn btn-underline active " role="button" style="text-decoration:underline;">Learn
                More <i class="fas fa-arrow-right"></i></a>
            </div>


          </div>

          <div class="item" id="item-2">
            <div class="news-item">
              <div class="news-img">
                <img src="./assets/img/index/quacomm.jpg" alt="" class="news-img">
              </div>

              <h class="focus-name">Qualcomm Stakes Beachhead In Artificial Intelligence With Foxconn Gloria AI Edge Box
              </h>

              <a href="https://www.forbes.com/sites/davealtavilla/2021/07/27/qualcomm-stakes-beachhead-in-artificial-intelligence-with-foxconn-gloria-ai-edge-box/?sh=2d90188260ea"
                class="btn btn-underline active " role="button">Learn
                More <i class="fas fa-arrow-right"></i></a>
              <div>

              </div>

              <div>
              </div>


            </div>


          </div>

          <div class="item" id="item-3">

            <div class="news-item">
              <div class="news-img">
                <img src="./assets/img/index/amd.jpg" alt="" class="news-img">
              </div>

              <h class="focus-name">Ingrasys Partners with AMD for HPC Solutions</h>

              <a href="https://www.youtube.com/watch?v=kUxW8oHWGJM&t=70s&ab_channel=AMD"
                class="btn btn-underline active " role="button">Learn
                More <i class="fas fa-arrow-right"></i></a>
              <div>

              </div>

              <div>
              </div>


            </div>


          </div>

          <div class="item" id="item-4">

            <div class="news-item">
              <div class="news-img">
                <img src="./assets/img/index/kioxia3.jpg" alt="none" class="news-img">
              </div>

              <h class="focus-name"> NVMe-oF Ecosystem with Ethernet SSD Storage </h>

              <a href="https://www.businesswire.com/news/home/20200922006079/en/KIOXIA-Bolsters-NVMe-oF-Ecosystem-with-Ethernet-SSD-Storage-Collaborates-with-Marvell-Foxconn-Ingrasys-and-Accton"
                class="btn btn-underline active " role="button" style="text-decoration:underline;">Learn
                More <i class="fas fa-arrow-right"></i></a>
            </div>


          </div>

        </div>




      </div>


    </div>
    <!-- Set up your HTML -->


  </div>

  {{!-- global-footprint --}}
  <div class="custom-container">

    <div class="about-wrapper">


      <div class="about-content">

        <div class="about-img">

          <img src="./assets/img/index/6ele.png" alt="">

        </div>

        <div class="about-description">

          <div class="title-box title-left-align">
            <h2 class="focus-title"> Our Vision
            </h2>
            <h class="line"></h>
          </div>

          <p>


            Ingrasys has more than 2000 employees worldwide, including engineers, manufacturing team , sales &
            marketing, and
            business
            development.
            <br>
            <br>
            Our end-to-end service covers everything from research design to manufacturing, as well as
            comprehensive business development.

            <br>
            <br>
            Without boundaries, we aim to deliver services to every corner of
            the world and change the way people
            live and work.



          </p>

          </br>

          <a href="/about" class="btn btn-underline active  " role="button">Learn More <i
              class="fas fa-arrow-right"></i></a>



        </div>

      </div>
    </div>
  </div>

  {{!-- company slogan --}}
  <div class="custom-container">

    <div class="company-slogan">

      <p>At Ingrasys, we insist on the greatest.
        We are the leading cloud infrastructure solution provider, as well as your global trustworthy partner.</p>


    </div>

  </div>



  <div class="custom-container">

    <div class="team-wrapper product-wrapper">

      <div class="prdouct-img">

        {{!-- <video class="product-vid" controls="true" poster="/assets/img/index/mod-cover.jpg">
          <source src="/assets/img/index/hpm20220506.mp4" type="video/mp4" />
        </video> --}}
        <iframe src="https://www.youtube.com/embed/48BnyWv-l4o" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>

      </div>
      <br>

      <div class="csr-para">


        <div class="title-box title-left-align">
          {{!-- <h class="focus-title-small">ES2000</h> --}}
          <h2 class="focus-title">Ingrasys<br>
            Next Generation Servers</h2>
          <h class="line"> </h>
        </div>

        <div class="csr-content">
          <p>
            Our modular design concept
            re-defines the next generation IT solution offerings.
          </p>
          <br>


        </div>

      </div>



    </div>



  </div>










  {{!-- csr --}}
  <div class="custom-container">

    <div class="team-wrapper">

      <div class="csr-img">
        <img src="./assets/img/index/happyteam.jpg" alt="">
      </div>
      <br>

      <div class="csr-para">


        <div class="title-box title-left-align">
          {{!-- <h class="focus-title-small">Ethical Company</h> --}}
          <h2 class="focus-title">Ingrasys-CSR <br>
            Code of Conduct</h2>
          <h class="line"> </h>
        </div>

        <div class="csr-content">
          <p>
            We are proud to create the best workplace for our employees. We value human capital and occupational safety
            and
            health.
          </p>
          <br>
          <a href="/csr" class="btn btn-underline active " role="button" style="text-decoration:underline;">Learn
            More <i class="fas fa-arrow-right"></i></a>

        </div>

      </div>



    </div>

  </div>

</section>