<section>


  <div class="custom-container ">


    <div class="banner-background">

      <div class="mod-text">
        <h1>Modular Design, Our Next Big Thing</h1>
        <p>Truly flexible systems create maximum possibilities
        </p>
        <button class="video-play"> </button>
      </div>

      <div class="mod-pic">
        <img src="/assets/img/mod/mod-index.png" alt="">
      </div>




    </div>


  </div>


  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" id="outerTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#tabc" aria-controls="tabc" role="tab"
            aria-expanded="true">Tab-1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tabb" aria-controls="tabb" role="tab">Tab-2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#taba" aria-controls="taba" role="tab">Tab-3</a>
        </li>
      </ul>
    </div>
    <div class="card-body tab-content">
      <div class="tab-pane active" id="tabc" role="tabpanel">
        Content for Tab-1 and:
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="innerTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab1" aria-controls="tab1" role="tab"
                  aria-expanded="true">Nested Tab-1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab2" aria-controls="tab2" role="tab">Nested Tab-2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab3" aria-controls="tab3" role="tab">Nested Tab-2</a>
              </li>
            </ul>
          </div>
          <div class="card-body tab-content">
            <div class="tab-pane active" id="tab1" role="tabpanel">
              Content for Nested Tab-1
            </div>
            <div class="tab-pane" id="tab2" role="tabpanel">
              Content for Nested Tab-2
            </div>
            <div class="tab-pane" id="tab3" role="tabpanel">
              Content for Nested Tab-3
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tabb" role="tabpanel">
        Content for Tab-2

        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="innerTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#ta1" aria-controls="ta1" role="tab"
                  aria-expanded="true">fucks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#ta2" aria-controls="ta2" role="tab">fucks-2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#ta3" aria-controls="tab3" role="tab">Nfucksb-2</a>
              </li>
            </ul>
          </div>
          <div class="card-body tab-content">
            <div class="tab-pane active" id="ta1" role="tabpanel">
              fucks-2Tab-1
            </div>
            <div class="tab-pane" id="ta2" role="tabpanel">
              fucks-2 Tab-2
            </div>
            <div class="tab-pane" id="ta3" role="tabpanel">
              fucks-2 Tab-3
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="taba" role="tabpanel">
        Content for Tab-3
      </div>
    </div>
  </div>



</section>