<section>


  <div class="custom-container ">


    <div class="banner-background">

      <div class="mod-text">
        <h2>Modular Design, Our Next Big Thing</h2>
        <br>
        <p>Truly flexible systems create maximum possibilities
        </p><br>
        {{!-- <h4> 1U Series:</h4>
        <a href="">- Enterpise Form factor: SV1120</a><br>
        <a href="">- ORv3 Form factor: SV1121</a><br> --}}
        {{!--
        <br> --}}
        <div class="vid-ply-btn">
          <a href="https://youtu.be/48BnyWv-l4o" data-modal="button">Play Video <i class="fa fa-play-circle"></i></a>

        </div>





      </div>

      <div class="mod-pic">
        <img src="/assets/img/mod/mod-index.png" alt="">
      </div>


    </div>


  </div>


  <div class="custom-container white-back">
    <div class="card">
      <div class="card-header chassis-tab">
        <ul class="nav nav-tabs card-header-tabs" id="outerTab" role="tablist">
          <li class="nav-item active">
            <a class="nav-link " data-toggle="tab" href="#tabc" aria-controls="tabc" role="tab"
              aria-expanded="true">Enterprise EIA 19" Racks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tabb" aria-controls="tabb" role="tab">ORv3 Racks</a>
          </li>

        </ul>


        <div class="card-body tab-content">
          <div class="tab-pane active" id="tabc" role="tabpanel">

            <div class="card module-card">

              <div class="card-header">
                <ul class="nav nav-pills nav-stacked" id="innerTab" role="tablist">

                  <li class="nav-item active">
                    <a class="nav-link active" data-toggle="tab" href="#tab1" aria-controls="ta1" role="tab"
                      aria-expanded="true">
                      <div class="number">
                        1
                      </div>Host
                      Processor Module
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab2" aria-controls="ta2" role="tab">
                      <div class="number">
                        2
                      </div>DC-SCM 1.0
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab3" aria-controls="ta3" role="tab">
                      <div class="number">
                        3
                      </div>OCP NIC3.0
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab4" aria-controls="ta4" role="tab">
                      <div class="number">
                        4
                      </div> Drive Cages &
                      Interposers
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab5" aria-controls="ta5" role="tab">
                      <div class="number">
                        5
                      </div>PCIe CEM Card
                      Modules
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-body tab-content modular-tab">
                <div class="tab-pane active" id="tab1" role="tabpanel">
                  <img src="/assets/img/mod/ru-hpm.png" alt="">

                </div>
                <div class="tab-pane" id="tab2" role="tabpanel">
                  <img src="/assets/img/mod/ru-dcscm.png" alt="">
                </div>
                <div class="tab-pane" id="tab3" role="tabpanel">
                  <img src="/assets/img/mod/ru-nic.png" alt="">
                </div>
                <div class="tab-pane" id="tab4" role="tabpanel">
                  <img src="/assets/img/mod/ru-drive.png" alt="">
                </div>
                <div class="tab-pane" id="tab5" role="tabpanel">
                  <img src="/assets/img/mod/ru-card.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tabb" role="tabpanel">


            <div class="card module-card">

              <div class="card-header">
                <ul class="nav nav-pills nav-stacked" id="innerTab" role="tablist">
                  <li class="nav-item active">
                    <a class="nav-link active" data-toggle="tab" href="#ta1" aria-controls="ta1" role="tab"
                      aria-expanded="true">
                      <div class="number">
                        1
                      </div> Host Processor Module
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ta2" aria-controls="ta2" role="tab">
                      <div class="number">
                        2
                      </div>DC-SCM 1.0
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ta3" aria-controls="ta3" role="tab">
                      <div class="number">
                        3
                      </div>OCP NIC3.0
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ta4" aria-controls="ta4" role="tab">
                      <div class="number">
                        4
                      </div>Drive Cages &
                      Interposers
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ta5" aria-controls="ta5" role="tab">
                      <div class="number">
                        5
                      </div>PCIe CEM Card
                      Modules
                    </a>
                  </li>
                </ul>
              </div>

              <div class="card-body tab-content modular-tab">

                <div class="tab-pane active" id="ta1" role="tabpanel">
                  <img src="/assets/img/mod/ou-hpm.png" alt="">
                </div>

                <div class="tab-pane" id="ta2" role="tabpanel">
                  <img src="/assets/img/mod/ou-nic.png" alt="">
                </div>

                <div class="tab-pane" id="ta3" role="tabpanel">
                  <img src="/assets/img/mod/ou-dcscm.png" alt="">
                </div>

                <div class="tab-pane" id="ta4" role="tabpanel">
                  <img src="/assets/img/mod/ou-drive.png" alt="">
                </div>

                <div class="tab-pane" id="ta5" role="tabpanel">
                  <img src="/assets/img/mod/ou-card.png" alt="">
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="custom-container">

    <div class="advantage-wrapper">


      <div class="advantage-item">
        <h2 class="advantage-header">Flexible
        </h2>
        <br>
        <p>
          Divide systems into modular components, and mix and match them to create multiple configurations
        </p>
      </div>
      <div class="advantage-item">
        <h2 class="advantage-header">Customized
        </h2>
        <br>
        <p>
          Customize components (e.g. HPM, DC-SCM ) without changing other modules to meet customer-specific needs
        </p>
      </div>
      <div class="advantage-item">
        <h2 class="advantage-header">Efficient
        </h2>
        <br>
        <p>
          Configure new systems in chassis for Enterprise EIA racks or ORv3 racks, using the same components in
          different ways

        </p>
      </div>
      <div class="advantage-item">
        <h2 class="advantage-header">Agile

        </h2>
        <br>
        <p>
          Re-use modular components as much as possible to achieve faster time-to-market for customers


        </p>
      </div>

    </div>



  </div>

  <div class="custom-container white-back">

    <div class="module-wrapper">

      <div class="module-item">

        <div class="item-image">
          <img src="/assets/img/mod/hpm.png" alt="">
        </div>
        <div class="item-text">
          <h4>Host Processor Module (HPM)
          </h4>
          <br>

          <li>
            Develop one HPM for each CPU family from each CPU supplier
          </li>
          <li>
            Build a HPM for a customer-specified CPU (such as non-x86), and re-use all the other chassis and modules
          </li>


        </div>

      </div>

      <div class="module-item">

        <div class="item-image">
          <img src="/assets/img/mod/dcscm.png" alt="">
        </div>
        <div class="item-text">
          <h4>DC-SCM v1.0
          </h4>
          <br>

          <li>
            Develop one DC-SCM that can be used across different HPMs and different system configurations
          </li>
          <li>
            Build a customized DC-SCM used across different systems without changing any complex HPMs
          </li>


        </div>

      </div>

      <div class="module-item">

        <div class="item-image">
          <img src="/assets/img/mod/nic.png" alt="">
        </div>
        <div class="item-text">
          <h4>OCP NIC 3.0
          </h4>
          <br>

          <li>
            Install one of a large variety of OCP NIC 3.0 modules from multiple suppliers, including NVIDIA, Intel,
            Broadcom,
            Marvell, and others
          </li>



        </div>

      </div>


      <div class="module-item">

        <div class="item-image">
          <img src="/assets/img/mod/drive.png" alt="">
        </div>
        <div class="item-text">
          <h4>Drive Cages & Interposers
          </h4>
          <br>

          <li>
            E1.S NVMe drives
          </li>
          <li>
            2.5” NVMe, SAS or SATA SSDs
          </li>
          <li>
            2.5” SAS or SATA HDDs

          </li>
          <li>
            E3.S NVMe SSDs

          </li>

          <li>
            E3.S CXL memory modules

          </li>
          <li>
            E1.S CXL memory modules
          </li>


        </div>

      </div>

      <div class="module-item">

        <div class="item-image">
          <img src="/assets/img/mod/card.png" alt="">
        </div>
        <div class="item-text">
          <h4>PCIe CEM Card Modules
          </h4>
          <br>

          <li>
            Install one of a large variety of PCIe CEM cards, in FHHL or smaller form factors
          </li>

          <li>
            Support standard GPU card form factors in some chassis
          </li>


        </div>

      </div>


    </div>



  </div>

  <div class="custom-container end-container">
    <div class="customer-wrapper">

      <div class="customer-img">
        <img src="/assets/img/mod/server.png" alt="">
      </div>
      <br>

      <p>
        We are dedicated to customizing new modules and system configurations that suit your business needs. If you
        would like
        to learn more, please contact us for details.

      </p>

    </div>
  </div>




</section>