<section>


  <div class="custom-container ">

    <div class="banner-background">
      <div class="mod-pic">
        <img src="" alt="">
      </div>
      <div class="mod-text">
        <h1>Modular Design, Our Next Big Thing</h1>
        <p>Truly flexible systems create maximum possibilities
        </p>

        <button class="video-play"> </button>
      </div>
    </div>




  </div>


  {{!--
  <div class="custom-container ">

    <div class="tab-container">
      <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="active">
          <a data-toggle="pill" href="#home">
            <div class="tab-set">
              <div class="tab-img">
                <img src="./assets/img/cooling/overview.png" alt="">
              </div>
              <br>
              <h>
                Overview
              </h>

            </div>
          </a>
        </li>
        <div class="vl"></div>
        <li>
          <a data-toggle="pill" href="#menu1">
            <div class="tab-set">
              <div class="tab-img">
                <img src="./assets/img/cooling/rack.png" alt="">
              </div>
              <br>
              <h>
                Rack-Level Liquid Cooling
              </h>
            </div>
          </a>
        </li>
        <div class="vl"></div>
        <li>
          <a data-toggle="pill" href="#menu2">

            <div class="tab-set">
              <div class="tab-img">
                <img src="./assets/img/cooling/tank.png" alt="">
              </div>
              <br>
              <h>
                Immersion Cooling
              </h>
            </div>
          </a>
        </li>
      </ul>

    </div>



  </div> --}}

  {{!-- <div class="tab-content bar-bottom">
    <div id="home" class="tab-pane fade in active">

      <div class="custom-container">
        <img src="./assets/img/mod/1.png" alt="">

      </div>


    </div>

    <div id="menu1" class="tab-pane fade in active">

      <div class="custom-container">
        <div class="custom-container">
          <img src="./assets/img/mod/2.png" alt="">

        </div>

      </div>



    </div>

    <div id="menu2" class="tab-pane fade in active">

      <div class="custom-container">
        <div class="custom-container">
          <img src="./assets/img/mod/3.png" alt="">

        </div>

      </div>



    </div>



  </div> --}}





</section>