<section>


  <div class="custom-container">

    <nav class="under-header" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
      </ol>
    </nav>

    <div class="pp-banner">
      <img src="" alt="">
    </div>

  </div>


  <div class="custom-container csr-bottom">
    <div class="csr-wrapper">
      <div class="csr-p1">

        <h2>Privacy Policy</h2>
        <br>

        <p>
          This privacy statement describes the privacy practices of Ingrasys Technology Inc. (collectively, "Ingrasys"
          "we,"
          "our", "us" or the "Company") regarding our collection, use, process, and transfer of your personal data
          through our
          websites, products, services, tools, software, or applications on which we post a direct link to this privacy
          statement
          or which is referred to within this privacy statement. This privacy statement covers only your personal data
          collected
          through the Ingrasys and not any other method of data collection, use and disclosure, including, without
          limitation,
          data collection practices of other services that maintain their own, separate privacy policies. We strongly
          encourage
          you to read this privacy statement carefully.

        </p>
        <br>


      </div>
      <br>

      <div class="csr-p2">

        <h2>Data that Ingrasys Collects</h2>
        <br>
        <p>
          We collect different types of data, including both personal and non-personal data. “Personal data” is data
          that can be
          used to individually identify you, including your name, postal or physical address, telephone number, e-mail
          address,
          and other information you have provided or is required to carry out a transaction, provide a service or
          deliver a
          product. Depending on where you live, Personal data may also include information of your real-time location,
          your
          device’s Internet Protocol (IP) address or unique device identifier (UDI). We may collect and store
          information you or
          others provide in community discussions, chats, and correspondence received through the Ingrasys or sent to us
          directly. <br><br>
          The collection and use of your Personal data may be necessary for us to provide you with a product or service,
          communicate with you, or maintain our relationship with you. Please note that if you choose not to provide us
          with
          Personal data, we may not be able to provide you with such, in part or at all.<br><br>
          We also collect other non-personal types of data, including device information such as the type of browser or
          operating
          system used and software usage statistics. We use this data, and may compile and analyze the data, in order to
          improve
          products and services and to personalize your experience with us. Examples of non-personal data include
          hardware
          configuration, computer or device characteristics and connection information such as browser type, version and
          time zone
          setting, operating system, and platform; the full Uniform Resource Locator (URL) clickstream to, through and
          from our
          websites including date and time, cookie number.
          <br><br>
          Ingrasys respects individual privacy and values the trust of its customers, employees, consumers, business
          partners and
          others.

        </p>
      </div>

      <br>

      <div class="csr-p3">
        <h2>Cookies and Other Technologies</h2>
        <br>
        <p>
          We use tracking technologies such as cookies (small files placed on your hard drive), web beacons, website
          analytics
          tools, and the personal information you provide us to personalize your online experience and improve our
          services. Some
          information about your use of the Ingrasys may be collected using tracking technologies across time and
          services, and
          used by us and third parties for purposes, such as to associate different devices you use, and deliver
          relevant ads
          and/or other content to you on the Ingrasys. Please see our Cookie Policy for additional information,
          including certain
          choices you may have regarding some of these activities. By accessing Ingrasys, you consent to the placement
          of cookies
          and our and third party use of track technologies subject to our Cookie Policy.<br><br>
          Some web browsers may have settings for “Do Not Track” signals. Browsers may have this signal on or off by
          default, and
          there is no standard as to how websites should respond. We do not currently monitor or take action regarding
          these
          signals. We encourage you to look at opt-out methods described in our Cookie Policy or as otherwise available
          from
          applicable third parties.

          <br />
        </p>
        <br>

      </div>

      <div class="csr-p3">
        <h2>Use of Personal Data</h2>
        <br>
        <p>
          You agree that we may use your Personal Information for our commercial purposes including for instance:
        </p>
        <br>

        <ul>
          <li class="lupd2">
            To deliver a product or provide a service you have requested or to provide you with product registration,
            technical
            and customer support;
          </li>
          <li class="lupd2">
            To administer promotions that you enter such as a contest or sweepstakes;
          </li>
          <li class="lupd2">
            To allow your participation in activities, such as online discussion groups or chats, communities and
            surveys;
          </li>
          <li class="lupd2">
            To communicate with you through emails, text messages or phone calls about our products and services,
            targeted
            marketing materials, service updates, and promotional offers;
          </li>
          <li class="lupd2">
            To customize, measure, deliver and improve our products, services, content and advertising;
          </li>
          <li class="lupd2">
            To recognize you when you log in and to authorize your instructions after you have logged in;
          </li>
          <li class="lupd2">
            To personalize your overall experience with us;
          </li>
          <li class="lupd2">
            To transfer information to our authorized third parties;
          </li>
          <li class="lupd2">
            Other uses as indicated with the information that is collected.
          </li>
          <li class="lupd2">
            Resource conservation-comply with environmental regulations, save resources, set up management methods and
            advocacy
            training, achieve the purpose of energy conservation and carbon reduction, and reduce the risk of safety
            hazards and
            environmental shocks.
          </li>

        </ul>



        <p>
          You agree that we may use your Personal Information for our commercial purposes including for instance:
          1. To deliver a product or provide a service you have requested or to provide you with product registration,
          technical
          and customer support;
          2. To administer promotions that you enter such as a contest or sweepstakes;
          3. To allow your participation in activities, such as online discussion groups or chats, communities and
          surveys;
          4. To communicate with you through emails, text messages or phone calls about our products and services,
          targeted
          marketing materials, service updates, and promotional offers;
          5. To customize, measure, deliver and improve our products, services, content and advertising;
          6. To recognize you when you log in and to authorize your instructions after you have logged in;
          7. To personalize your overall experience with us;
          8. To transfer information to our authorized third parties; and
          9. Other uses as indicated with the information that is collected.


          <br />
        </p>
        <br>

      </div>
      <div class="csr-p3">
        <h2>Sharing Personal Data</h2>
        <br>
        <p>
          We may also share Personal Data with our authorized third parties (such as our authorized vendors) who help
          with our
          business operations, including the storage and processing of personal data for the uses listed in this privacy
          statement. <br><br>
          Except under the circumstances described above, Ingrasys will not share or disclose Personal Data to any third
          party for
          promotional purposes without your permission.<br><br> In no event will Ingrasys sell, rent, share, trade or
          disclose
          Personal
          Data to any third party without your permission. <br><br>
          We may disclose your personal data to comply with applicable laws, legal processes, government or
          quasi-governmental
          requests, to exercise our legal rights or defend against legal claims. We may disclose personal data and other
          information available to us when we believe, in our sole discretion, disclosure is necessary or appropriate in
          order to
          investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving
          potential
          threats to us or the rights, property or physical safety of any person, violations of our terms of use or
          other
          agreements, or as otherwise required or permitted by law.<br><br>
          In the event that Ingrasys undergoes a re-organization, merger or sale of all or a part of our assets, we may
          transfer
          personal and non-personal data as part of the transaction.<br><br>
          Please remember that any information you choose to disclose in public areas of the Ingrasys may become public
          information. You should exercise caution when disclosing information in such public areas and refrain from
          disclosing
          Personal Information.<br><br>
          As permitted by applicable law, we may disclose and share non-personal data without restriction. For instance,
          we may
          share aggregated and non-personally identifiable data with our commercial customers, business partners or
          vendors for
          the purposes of improving their products or services.

          <br />
        </p>
        <br>

      </div>

      <div class="csr-p3">
        <h2>Storage and Transfer of Data</h2>
        <br>
        <p>
          Your Personal Data may be transferred to, stored, and/or processed in Taiwan and/or other countries with
          different
          levels of privacy protection than are applicable in your country. When we do so, we transfer data in
          compliance with
          applicable international data protection laws. We also take steps to protect Personal data in the jurisdiction
          in which
          it is stored or to which it is transferred. We have procedures and controls to help ensure the protection of
          Personal
          Data. Your Personal Data may also be processed by staff working for us or for our vendors or suppliers. Such
          staff may
          be engaged in, among other things, the provision of support services. By submitting your Personal Data, you
          consent to
          any such transfers, storage or other processing of your Personal Data as set out in this Privacy Statement.
          <br><br>
          It is important to note that some or all of your Personal Data provided to third party service providers may
          be held by
          them in countries other than your own. You acknowledge and understand that your Personal Data will be subject
          to the
          applicable laws of each such jurisdiction, which may not provide for the same level of protection as your
          country of
          residence.
          <br><br>
          We will not retain your personal data longer than is necessary to honor your choices, fulfill the purposes for
          which it
          was collected, or as required by law.
          <br />
        </p>
        <br>

      </div>

      <div class="csr-p3">
        <h2>Security</h2>
        <br>
        <p>
          We appreciate your trust in sharing your Personal Data with us, and we are committed to taking reasonable
          measures to
          protect it. We utilize a combination of security technologies, procedures and organizational measures that are
          generally
          accepted in the industry to help protect your Personal Data from unauthorized access, use or disclosure.
          <br><br>
          By way of example, access to your Personal Data is restricted to employees, contractors and agents of Ingrasys
          who need
          to access such data to perform their assigned job duties. We may also store your personal data on
          limited-access
          computer systems which are located in controlled facilities.
          <br><br>
          Despite our efforts to protect your Personal Data, there is an inherent risk of encountering an unexpected
          security
          breach in any modern day computing environment. In the event of a security breach, if our investigations
          indicate that
          there could be significant harm to your legal interests as a result of such unauthorized access or disclosure
          of your
          Personal Data, we will promptly notify you and the proper authorities as required by law. We also encourage
          you to take
          precautionary practices to protect your Personal Data when you are surfing online. Create strong passwords by
          using a
          combination of letters and numbers, change passwords often, and use a secure browser.
          <br />
        </p>
        <br>

      </div>

      <div class="csr-p3">
        <h2>Links</h2>
        <br>
        <p>
          We may link to, or otherwise make available via the Ingrasys, third-party services such as Facebook, LinkedIn,
          Twitter,
          and YouTube, etc. which are outside of our control and are not covered by our statements in this privacy
          statement. We
          are not responsible for the privacy practices or the content of such third-party services, including without
          limitation
          social media platforms and their plug-ins that may be on Ingrasys. If you have questions about how these third
          parties
          collect, use and share your data, you should review their respective policies or contact them directly. By
          allowing a
          link to a third-party service, or otherwise allowing association with Ingrasys Service, we are not in any way
          endorsing,
          promoting or representing the quality of that service or taking responsibility for its practices.
          <br />
        </p>
        <br>

      </div>

      <div class="csr-p3">
        <h2>Amendments</h2>
        <br>
        <p>
          This privacy statement may be amended from time to time.
          <br><br>
          If we decide to change our Privacy statement, we will post the revised statement on this page. The revised
          privacy
          statement will supersede and replace any previous privacy statements effective as of the date on which the
          revised
          statement is posted. Your continued use of the Ingrasys after such change represents and confirms your consent
          and
          agreement to all changes.
          <br />
        </p>
        <br>

      </div>

      <div class="csr-p3">
        <h2>Rights in Respect of Your Personal Information</h2>
        <br>
        <p>
          You have the right to update and correct the Personal Data on your account. You also have the right to request
          withdrawal from Ingrasys all personal data that we hold that relates to you, to request restriction of the
          processing of
          that data and to request that we delete that data. Where allowed by applicable law there may be an
          administrative charge
          for supply of copies of data. You also have the right to object to our continued processing of your Personal
          Data. You
          may also have the right to data portability to the extent permitted by applicable law. If you have a complaint
          about the
          way in which Ingrasys uses your personal data you have the right to complain to the applicable data protection
          authority
          in the country of your residence.
          <br><br>
          If you wish to access, modify your Personal Data, or if you wish to discontinue receiving materials from us or
          wish to
          remove your Personal Data from Ingrasys’ database, you can contact us at Sales@ingrasys.com.

          <br />
        </p>
        <br>

      </div>

    </div>
  </div>



  </div>

</section>