<section>

  <p class="new-breadcrumb">
    <a href="/"><i class="fa-solid fa-arrow-left"></i> Homepage / </a>
    Events / SC21
  </p>

  <div class="upper-cotainer">


    <div class="event-details">


      <div class="event-detail-list">
        <h1>SC21</h1><br>
        <p>Exhibits @ Booth #127<br>
          November 15–18, 2021<br>
          America’s Center<br>
          701 Convention Plaza, St. Louis, Mo <br>63101</p>

      </div>

      <div class="event-banner">
        <img src="./assets/img/events/banner-sc21.png" alt="" class="event-img">
      </div>

    </div>


  </div>



  <div class="bottom-cotainer">



    <br>

    <div class="gallery">

      <div>

        <h1>Photos</h1>
        <hr>
        <br>
      </div>
      <div class="tz-gallery  ">

        <div class="scrollmenu">

          <div class="mobile-pic  col-sm-3 a ">
            <a class="lightbox" href="./assets/img/events/sc21/1.jpg">
              <img src="./assets/img/events/sc21/1.jpg" alt="Tunnel">
            </a>
          </div>
          <div class="mobile-pic  col-sm-3 a ">
            <a class="lightbox" href="./assets/img/events/sc21/2.jpg">
              <img src="./assets/img/events/sc21/2.jpg" alt="Coast">
            </a>
          </div>
          <div class="mobile-pic  col-sm-3 a">
            <a class="lightbox" href="./assets/img/events/sc21/3.jpg">
              <img src="./assets/img/events/sc21/3.jpg" alt="Rails">
            </a>
          </div>
          <div class="mobile-pic  col-sm-3 a">
            <a class="lightbox" href="./assets/img/events/sc21/4.jpg">
              <img src="./assets/img/events/sc21/4.jpg" alt="Rails">
            </a>
          </div>
          <div class="mobile-pic  col-sm-3 a">
            <a class="lightbox" href="./assets/img/events/sc21/5.jpg">
              <img src="./assets/img/events/sc21/5.jpg" alt="Rails">
            </a>
          </div>
          <div class="mobile-pic  col-sm-3 a">
            <a class="lightbox" href="./assets/img/events/sc21/6.jpg">
              <img src="./assets/img/events/sc21/6.jpg" alt="Rails">
            </a>
          </div>

        </div>

      </div>






    </div>



  </div>






</section>