<section>

  <p class="new-breadcrumb">
    <a href="/events"><i class="fa-solid fa-arrow-left"></i> Homepage / </a>
    Events / SC21
  </p>

  <div class="upper-cotainer">


    <div class="event-details">


      <div class="event-detail-list">
        <h2>SC21</h2><br>
        <p>Exhibits @ Booth #127<br>
          November 15–18, 2021<br>
          America’s Center<br>
          701 Convention Plaza, St. Louis, Mo <br>63101</p>

      </div>

      <div class="event-banner">
        <img src="./assets/img/events/banner-sc21.png" alt="" class="event-img">
      </div>

    </div>


  </div>



  <div class="bottom-cotainer">



    <br>

    <div class="gallery">

      <div>

        <h5>Photos</h5>
        <hr>
        <br>
      </div>
      <div class="tz-gallery  ">

        <div class="scrollmenu">

          {{#each events.sc21}}
          <div class="mobile-pic  col-sm-3 a ">
            <a class="lightbox" href="{{this.image}} ">
              <img src={{this.image}} alt="Tunnel">
            </a>
          </div>


          {{/each}}

        </div>

      </div>






    </div>



  </div>






</section>