<section>


  <div class="upper-xeon">

    <div class="custom-container">
      <nav class="under-header" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a>Solution</a></li>
          <li class="breadcrumb-item active" aria-current="page">Intel® Xeon® Solution</li>
        </ol>
      </nav>
    </div>

    <div class="xeon-banner">

      <img src="./assets/img/xeon/xeon-banner.webp" alt="">

    </div>

    <div class="xeon-text">
      <br>
      <h2>
        Ingrasys Delivers HPC Solutions with the 4th Gen. Intel® Xeon® Scalable
        Processors
      </h2>
      <br>
      <p>

        <a href="./assets/files/modular-i.pdf">
          1U - SV1120 Series
        </a>

      </p>



      <br>
    </div>

  </div>


  <div class="bar-bottom">



    <div class="custom-container">

      <div class="modular-container">

        <div class="title-box title-left-align">
          <h class="focus-title-small">Modular Design</h>
          <h1 class="focus-title">SV1120 Series</h1>
          <h class="line"> </h>
        </div>

        <div class="sv-img">

          <img src="./assets/img/xeon/building-blocks.png" alt="">

        </div>
        <br><br>



        <h3 class="color">Our Modular Design Supports</h3>

        <br>
        <p>
          - Intel Latest Xeon platform
          <br>
          - Enterprise EIA19" and ORv3 two chassis family
          <br>
          - Both air-cooled & rack integrated liquid cooling
          <br>
          - Flexible I/O & drive configurations
          <br>
          - Reusable blocks: HPM, DC-SCM, OCP NIC 3.0, EDSFF storage
          <br>

        </p>

        <br><br>




      </div>



    </div>
    <br><br>
    <div class="custom-container ">

      <div class="modular-container">

        <div class="title-box title-left-align">
          <h1 class="focus-title">SV1120 Series</h1>
          <h class="line"> </h>
        </div>


        <br><br>

        <div class="product-container">
          <div class="thumbnail card">
            <img src="assets/img/products/card-turing.png" alt="...">

            <div class="caption">
              <div class="card-body">
                <h5 class="card-title">SV1020i</h5>
                <hr>
                <div class="text-box">
                  <li class="card-text">3rd Gen Intel® Xeon® Processors</li>
                  <li class="card-text">1U Server</li>
                  <li class="card-text">1 x OCP 3.0 NIC</li>
                  <li class="card-text">Up to 4x PCIe Gen4 Slots</li>

                  <br>


                </div>
                <p><a href="/sv1020i" class="btn btn-primary" role="button">View More</a> </p>
              </div>
            </div>
          </div>

          <div class="thumbnail card">



            <img src="assets/img/\products\storage\es2000\card-irene.png" alt="...">

            <div class="caption">
              <div class="card-body">
                <h5 class="card-title">ES2000</h5>
                <hr>
                <div class="text-box">

                  <li class="card-text">Supports U.2, E3.S, Ethernet SSDs</li>
                  <li class="card-text">Ethernet Switch: <br>(1) Marvell 98EX5630; <br>(2) NVIDIA Spectrum-2</li>

                  <br>

                </div>
                <p><a href="/es2000" class="btn btn-primary" role="button">View More</a> </p>
              </div>
            </div>
          </div>




        </div>




      </div>



    </div>




  </div>



</section>