



hr{
      background-color: #e7eaf3 !important;
          opacity: 1!important;
}

.bar-bottom {
  background-size: 100% 100%;
  background-size: cover;
  background-position: bottom;
   background-image: url("/assets/img/background/bg2.jpg");
}

/* 
.under-header{
  position:absolute;
  top:10rem;
} */


/* 影片的容器 */
 .upper-cool{
  position:relative;
  height: 100vh;
  overflow:hidden;

} 

.cooling-banner {
  width:100%;
  height:100%;;
  position:absolute;
  /* ie purpose */
  flex: 1 0 auto;
  min-height: 1px;
  z-index: -8;;

  padding:0;
}

.cooling-banner:after {
  content: "";
  position: absolute;
  top: 0;
  left:0;
  opacity:0.4;
  min-height: 100vh;
  width:100%;
  background-color: #000000;
  box-sizing: border-box;
  z-index:5;

} 


.cooling-text{
  position:absolute;
  width:80%;
  margin-left:10%;
  bottom:40vh;
}

.cooling-text h1{
  font-size:2.5rem;
}

.cooling-text p{
  font-size:1.8rem;
}

.tab-container{
  position:absolute;
  /* transform: translate(0, -50%); */
  width:80%;
  margin-left:10%;
  bottom:5rem;;
}

.vl {
  border-left: 2px solid white;
  opacity:0.5;
  height: 100px;
}

.tab-container ul{
  width:100%;
  height:auto;
  display:flex;
  flex-direction:row;
  align-items:flex-start;
  justify-content:space-between;
  background-color: transparent;
}

.tab-container ul li a:hover {
background-color: transparent;
}


/* active不反白 */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: transparent;
}

.tab-container ul li{
 width:100%;

}

.tab-set{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items: center;
}


.tab-img {
  width:100%;
    /* ie purpose */
  flex: 1 0 auto;
  min-height: 1px;

}

.tab-img img{
  width:60%;

}

.tab-set h{
  text-align: center;
  width:100%;
  font-size:1.5rem;
  line-height:2rem;
}


.cooling-banner video{
   width:auto;
   min-height: 100vh;
   z-index:-5;
}



/* nav-tabs */


li{
  text-decoration: none;
  list-style-type: none;
}

.nav {
  transform: unset;
}




/* nav-tabs */
/* @media (min-width: 768px) {


    .responsive-tabs .dropdown-arrow {
        display: none; 
    } 

    .open{
      all:unset;
    }
}

@media screen and (max-width: 767px) {
    .responsive-tabs {
    position: relative;
    border:none
    }
    .custom-btn{
      height:100%;
      padding: .5rem 1rem;
      color:white;
      border-radius: 0;
    }

    .custom-btn.active {
      color:white !important;
      background:#00285E!important;
      border:none !important;
            border-radius: 0;
    }


    .responsive-tabs li {
        width: 100%; 
        margin: 0 !important; 
    }
    .responsive-tabs li > a {
        display: none; 
        border: 0 !important; 
        border-radius: 0 !important;
    }

  


    .responsive-tabs.open li > a, .responsive-tabs li > a.active {
        display:block;

    }

    .responsive-tabs.open {

      width:100%;
      border:none;
    }


    .responsive-tabs .dropdown-arrow { 
        position: absolute;
        top: 15px;
        right: 15px; 
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        vertical-align: middle;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transition: all ease .5s;
        cursor: pointer; 
    }
    .responsive-tabs.open .dropdown-arrow {
        transform: rotate(-135deg);
        transition: all ease .5s; 
    } 
}   */


/* energy開頭 */


.energy-wrapper {
  width:80%;
  margin-left:10%;
  display:flex;
  flex-direction:column;
  padding:10rem 0;
}

.energy-img{
  width:100%;
    /* ie purpose */
  flex: 1 0 auto;
  min-height: 1px;
}

.energy-img img{
  width:100%;
}

.energy-content p{
  font-size:1.5rem;
}


/* 機器 */

.content-text .discuss-img {
  width:100%;
}

.discuss-img img{
  width:100%;
  display:block;
  margin:auto;
}

.content-text p{
  font-size:1.5rem;
}

.content-sliders{
  width:100%;

}

.carousel-item img {
  width:100%;
}



.sub-container{
  padding-top:3rem;
  width:80%;
  margin-left:10%;
}


.content-sliders {
  display:flex;
  flex-direction:column;
  height:auto;
  justify-items: center;
  align-items: center;
  margin-top:8rem;

}

.card{
  width:100%;
  margin-bottom:5rem;
  background:transparent;
  border:1px solid white;
  flex: 1 0 auto;
  min-height: 1px;
  padding:1rem;

}

.card-title{
  font-size:2rem;
  line-height:2rem;
}

.card-text{
  font-size:1.5rem;
}

.card .item img{
 width:80%;
 display:block;
 margin:auto;
}

/* solution for data center */


.standard-img{
  width:100%;
  padding:2rem;
}


.standard-img img{
  display:block;
  margin:auto;
  width:100%;
  
}

.standard-line {
  margin-bottom:1.6em;
}

.standard-title {
  color:#F58522;
  font-size:2rem;
}

.standard-detail{
    font-size:1.5rem;
  }

.fa-shield-check {
  color:#40A7F9
}



.about-img{
  width:100%;
  /* ie purpose */
  flex: 1 0 auto;
  min-height: 1px;
}



/* immersion */


  .content-video {
    margin-top:3rem;
    width:100%;
  }


  video {
    display:block;
    margin:auto;
    width:100%;
  }


  .app-container{
  width:100%;
  display:flex;
  flex-direction:column;

}

.app-item{
  margin-bottom:3rem;
  flex: 1 0 auto;
  min-height: 1px;
  display:flex;
  flex-direction:column;
  align-items:center;

}


.item-img {
  display:block;
  opacity:0.8;
  width:30%;
  margin:auto;
    flex: 1 0 auto;
  min-height: 1px;
}
  /* padding:30%;; */



.item-title {
  text-align: center;
  font-size:2rem;
  line-height:2.6rem;
  color:#F58522;
  width:100%;
}

.item-content {
  width:100%;
  text-align:left;
  font-size:1.8rem;
  line-height:2rem;
  padding:2rem;

}


.usage-wrapper{
 
  width:80%;
  margin-left:10%;
}

.use-item {
  display:flex;
  flex-direction:column;
  align-items: center;
  margin-bottom:3rem;
}

.use-img{
  width:100%;
     /* ie purpose */
  flex: 1 0 auto;
  min-height: 1px;
}

.use-para {
  width:100%;

}


.use-img img{
  width:100%;
}

.use-para h1{
  text-align: center;
  color:#F58522;
  font-size:2rem;
  line-height:3rem;
}

.use-para p{
  text-align:center;
  width:100%;
  font-size:1.8rem;
  line-height: 2.5rem;
}

/* spec */

/* .solution-item {
  width:100%;
} */


/* spec table */
.solution-container .table {
  margin-top:3rem;
  background: rgba(140, 136, 136, 0.2);
  width:100%;
}

.first-row{
  background:rgba(0, 40, 94, 0.8);
}

td, th{
  color:white;
  font-size:1.5rem;
  line-height:2rem;
}



.unit-container{

  width:80%;
  margin-left:10%;
  padding:1rem;
}

.solution-container {
  width:100%;
  padding:2rem 0;
  display:flex;
  flex-direction:column-reverse;
  justify-items: center;
  align-items: center;

}


.solution-container .rack{
  flex: 1 0 auto;
  min-height: 1px;
  width:100%;

}


.rack img{
  display: block;
  margin: auto;
  width:100%;
}

.carousel-inner img {
      width: 100%;
      height: 100%;
  }

 


 .side-controls a {
  font-size: 2rem;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

 .side-controls a[data-slide=prev] {
  left: -4rem;
}

.side-controls a[data-slide=next] {
  right: -4rem;
  
} 


/* iphone 5 */

@media (max-width:350px){


 .tab-container{

  position:relative;
  top:0;
  width:80%;
}

.energy-wrapper {
  padding-top:2rem;

}

  .cooling-text {
    bottom:25vh;
  
  }

  .cooling-text p{
    font-size:1.5rem;
  }

    .cooling-text h1{
    font-size:2rem;
  }


}


@media (min-width: 768px) {

  .sub-container{
  margin-top:5rem;
}



  .cooling-text{
    width:80%;

  }

  .cooling-text h1{
    font-size:3rem;
  }


/* tab control */

.tab-container{
  position:absolute;
  /* transform: translate(0, -50%); */
  width:80%;
  margin-left:10%;
  padding:2rem;
  bottom:3rem;
}

.vl {
  border-left: 2px solid white;
  opacity:0.5;
  height: 150px;
}

.tab-container ul{
  width:80%;
  height:auto;
  display:flex;
  flex-direction:row;
  align-items:stretch;
  justify-content:space-between;
  background-color: transparent;
}




.tab-set{

  width:80%;
  display:flex;
  flex-direction:column;
  align-items: center;
  margin:auto;
}


.tab-img {
  width:50%;
    /* ie purpose */
  flex: 1 0 auto;
  min-height: 1px;
}

.tab-img  img{
  width:100%;

}

.tab-set h{
  text-align: center;
  font-size:1.8rem;
  line-height:1.8rem;
}

.use-img{
  width:50%;
     /* ie purpose */
  flex: 1 0 auto;
  min-height: 1px;
}


/* csr share the same layout with product */
.energy-wrapper {
  width:80%;
  margin-left:10%;
  display:flex;
  align-items:center;
  flex-direction:row-reverse;

}


.energy-img{
  width:50%;
}

.energy-img img{
  width:100%;
  display: block;
  /* margin-left:10%; */
}

.energy-para {
padding-top:5rem;
padding-right:8%;
width: 50%;

}
.energy-content p{
  font-size:1.8rem;
}

.content-text p{
    font-size:1.8rem;
}


.content-text{
  display:flex;
  flex-direction: row;
  align-items:center;
}

.content-text p{
  display:flex;
  align-items:center;
  width:100%;
  padding-left:5%;
}

.content-text .discuss-img{
  width:100%;
}


.nav-item:hover {
cursor:pointer
}

/* slider */

.content-sliders {
  display:flex;
  flex-direction:row;
  height:auto;
  /* justify-items: space-between; */
  align-items: stretch;
  width:100%;

}

.card{
  width:30%;
  background:transparent;
  border:1px solid white;
  flex: 1 0 auto;
  min-height: 1px;

}

.card .item img{
 width:50%;

 display:block;
 margin:auto;
}

.card-left{
  margin-right:5%;
}



.card-text{
  font-size:1.8rem;
}


/* overview */

/* solution for data center */


.standard-container{
padding:0 0 10%;
display:flex;
flex-direction:row;
}

.standard-img{
  width:100%;
  padding:2rem;
}

.standard-content {
  display:flex;
  flex-direction: column;
  justify-content: center;
} 

.standard-item{
  width:50%;
}
.standard-img img{
  width:85%;
}




.standard-detail{
    font-size:1.8rem;
  }

.standard-img{
  padding:3rem;
}

.content-img{
  margin-left:10%;
  width:80%;
  padding:3rem;

}




.content-video {
    width:100%;
    padding:0%;
    margin-bottom:2rem;
  }

 video {
    width:80%;
    
  }


  /* advantage */

  
  .app-container{
  width:100%;
  display:flex;
  flex-direction:row;
  align-items: flex-start;

}

.app-item{
  width:25%;
  flex: 1 0 auto;
  min-height: 1px;
}


.app-title{
  margin-top:5rem;
  text-align:center;
}

/* 
usage */


.use-item {
  display:flex;
  flex-direction:row;
  align-items: center;
}

.reverse{
flex-direction:row-reverse;
}




.use-para{
  margin:3rem;
  width:100%;
}

.use-para h1{
  text-align: center;
  color:#F58522;
  font-size:2rem;
  line-height: 3rem;
}

.use-para p{
  text-align:center;
  font-size:1.8rem;
  line-height: 2.5rem;
}

/* solution */

.solution-container {
  width:100%;
  display:flex;
  flex-direction:row;
  justify-items: flex-start;
  align-items: center;

}


.solution-item {
  width:50% !important;
}

.table {
  width: 60%!important;
}

/* .solution-container .rack{

  width:100%;
} */



.solution-item img{
width:60%;
}






.unit-container .carousel-inner .item  .tt{
  flex-direction: row;
}


/* introduction video */

.intro-text p{
  font-size:1.8rem;
}


td, th{
  color:white;
  font-size:1.5rem;
  line-height:2.5rem;
}

}


@media (min-width: 992px) {




.content-text p{
    font-size:2rem;
}

.energy-content p{
  font-size:2rem;
}


.card-text{
  font-size:2rem;
}

.card-title{
  font-size:2.5rem;
}


.standard-title {
  font-size:2.5rem;
}

.standard-detail {
  font-size:2rem;
}

.item-title {
  font-size:2.5rem;

}

.use-para h1{

  font-size:2.5rem;

}

.use-para p{
  font-size:2rem;

}


/* tab-content */


.vl {
  border-left: 2px solid white;
  opacity:0.5;
  height: 150px;
}

.tab-container ul{
  width:70%;

}


.tab-set h{
  text-align: center;
  font-size:2rem;
  line-height:2rem;
}

.intro-text p{
  font-size:2rem;
}




}


@media (min-width: 1280px) {

  .intro-text p{
  font-size:2.3rem;
}


      .cooling-text h1{
    font-size:5rem;
  }

        .cooling-text p{
    font-size:2.5rem;
  }

.tab-container ul{
  width:50%;

}



}




