hr {
  background-color: #e7eaf3 !important;
  opacity: 1 !important;
}

.new-breadcrumb {
  position: absolute;
  z-index: 5;
  margin-left: 5%;
  top: 69px
}

/* 上半部 */

.upper-events {
  position: relative;
  width: 100%;
  height: 460px;
  overflow: hidden;
  background-color: #121212;
}


.events-banner {
  position: absolute;
  z-index: -0.5 !important;
  overflow: auto;



}

.events-banner img {
  object-position: 60% -300px
}

.vb-image {
  width: 280%;
}


.latest-events {
  width: 90%;
  margin-left: 4.6%;
  position: relative;
  top: 140px;

}


/* 小框 */


.events-logo {
  width: 100px;
}

.events-logo img {
  width: 100%;
}


/* 中間 */

.mid-events {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #121212;
}

.virtual-booth {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 89px 0
}

.v-img {
  width: 100%;
}

.v-img>img {
  width: 100%;
}



.bottom-events {
  background-color: var(--gray-2);
  width: 100%;
  height: 100%;
  overflow: hidden;
}


/* upcoming tag */
.upcoming {
  position: absolute;
  z-index: 50;
  padding: 5px;
  left: 0;
  top: 0;
  color: white;
  background-color: #4884CA;
}

.events-wrapper {
  width: 89%;
  margin: 5rem 5%;
}



.card {
  background-color: white;
  /* height:700px; */
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.3125rem;
}

.card {
  width: 100%;
  /* flex: 1 0 auto; */
  min-height: 1px;

}


.thumbnail {
  padding: 0 !important;
}

.card-img-top {
  /* ie purpose */
  flex: 1 0 auto;
  min-height: 1px;
}

.card img {
  flex: 1 0 auto;
  min-height: 1px;
  width: 100% !important;

}

.caption {
  margin: 8.75% 5%;
}

/* .card-title {
  font-size: 2rem;
  line-height: 1.5em
} */

.text-box p,
.card-title {
  color: var(--primary-text)
}





@media (min-width: 768px) {

  .latest-events {
    width: 80%;
    margin-left: 5%;
    position: relative;
    top: 40%;
    left: 0;

  }

  .events-logo {
    width: 100px;
  }



  .events-banner img {
    object-fit: cover
  }

  .upper-events {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #121212;
  }

  .virtual-booth {
    flex-direction: row;
    justify-content: center;
  }

  .v-img {
    width: 55%;

  }

  .vb-image {
    width: 120%;
  }

  /* .virtual-booth div {
    border: solid blue;
  } */


  /* card */

  .events-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;

  }

  .card {
    width: 30%;
    ;
    margin: 3%;
    margin-left: 0rem;

  }




}

/* @media (min-width: 1280px) {



  .events-logo {
    width: 150px;
  }


  .cdi-text p {
    font-size: 2.5rem;

  }

  .cdi-container h {
    font-size: 2.5rem;
  }

  .cdi-container p {
    font-size: 1.8rem;
  }

  .title-slogan {
    font-weight: 700;
    font-size: 48px;
    line-height: 38px;
    margin-top: 24px;
  }

} */