hr {
  background-color: #e7eaf3 !important;
  opacity: 1 !important;
}

.new-breadcrumb {
  position: absolute;
  z-index: 5;
  margin-left: 5%;
  top: 10vh
}

/* 上半部 */

.upper-events {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background-color: #121212;
}


.events-banner {
  position: absolute;
  z-index: -0.5;
  opacity: 50%;
}

.latest-events {
  width: 90%;
  margin-left: 5%;
  position: relative;
  top: 40%;
  left: 0;
}

/* 小框 */

.events-box {
  padding: 10px;
  background-color: rgba(75, 1, 50, 0.7);
}

.events-logo {
  width: 100px;
}

.events-logo img {
  width: 100%;
}



.bottom-events {
  background-color: var(--gray-2);
  width: 100%;
  height: 100%;
  overflow: hidden;
}


/* upcoming tag */
.upcoming {
  position: absolute;
  z-index: 50;
  padding: 5px;
  left: 0;
  top: 0;
  color: white;
  background-color: #4884CA;
}

.events-wrapper {
  width: 90%;
  margin: 5rem 5%;
}

.card {
  background-color: whites;
  /* height:700px; */
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid #e7eaf3;
  border-radius: 0.3125rem;
}

.card {
  width: 100%;
  /* flex: 1 0 auto; */
  min-height: 1px;

  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.card-img-top {
  /* ie purpose */
  flex: 1 0 auto;
  min-height: 1px;
}

.card img {
  flex: 1 0 auto;
  min-height: 1px;
  width: 100% !important;

}

.card-title {
  font-size: 2rem;
  line-height: 1.5em
}

.text-box p,
.card-title {
  color: var(--primary-text)
}





@media (min-width: 768px) {

  .latest-events {
    width: 80%;
    margin-left: 5%;
    position: relative;
    top: 40%;
    left: 0;
  }

  .events-logo {
    width: 100px;
  }



  .events-banner img {
    width: 100%;
    object-fit: cover;

  }

  .upper-events {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background-color: #121212;
  }




  /* product */

  .events-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;

  }

  .card {
    width: 30%;
    ;
    margin: 3%;
    margin-left: 0rem;

  }






}

@media (min-width: 1280px) {

  .cdi-text {
    /* all: unset; */
    position: relative;
    padding-left: 0;
    width: 50%;
    bottom: 50%;
    left: 30%;
    transform: translate(-50%, 0%);
  }

  .events-logo {
    width: 150px;
  }


  .cdi-text p {
    font-size: 2.5rem;

  }

  .cdi-container h {
    font-size: 2.5rem;
  }

  .cdi-container p {
    font-size: 1.8rem;
  }

  .title-slogan {
    font-weight: 700;
    font-size: 48px;
    line-height: 38px;
    margin-top: 24px;
  }

}

/* 大尺寸寬度超過1920px */
@media(min-width: 1920px) {



  .cdi-banner img {
    width: 100%;
    /* min-height: 100vh; */
    z-index: -5;
  }

  .events-logo {
    width: 150px;
  }

  .title-slogan {
    font-weight: 700;
    font-size: 48px;
    line-height: 38px;
    margin-top: 24px;
  }


}