hr {
  background-color: #e7eaf3 !important;
  opacity: 1 !important;
}

.section {
  position: relative;
}

.new-breadcrumb {
  position: relative;
  top: 12vh;
  z-index: 5;
  margin-left: 5%;
  top: 12vh
}

.upper-cotainer {

  margin-top: 16vh;
  width: 100%;
  height: auto;


}

.bottom-cotainer {
  padding: 5%;
}



.event-details {
  position: relative;
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around
}

.event-banner {
  margin: 3rem 0;
}

.event-banner img {
  width: 100%;
}


/* media */

.media-list {

  display: flex;
  flex-direction: column;
  width: 100%;

}

.media-card {
  width: 100% !important;
}



/* 上半部 */

.events-details {
  display: flex;
  flex-direction: column;
}

.events-banner {
  position: absolute;
  z-index: -0.5;
}







/* upcoming tag */
.author {
  position: absolute;
  padding: 5px;
  left: 0;
  top: 0;
  color: white;
  background-color: #4884CA;
}

.events-wrapper {
  width: 90%;
  margin: 5rem 5%;
}

.card {
  background-color: #3c3c3c;
  /* height:700px; */
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid #e7eaf3;
  border-radius: 0.3125rem;
}

.card {
  width: 100%;
  /* flex: 1 0 auto; */
  min-height: 1px;

  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.card-img-top {
  /* ie purpose */
  flex: 1 0 auto;
  min-height: 1px;
}

.card img {
  flex: 1 0 auto;
  min-height: 1px;
  width: 100% !important;

}

.card-title {
  font-size: 2rem;
  line-height: 1.5em
}



.row {
  margin: 15px;
}


/* 
gallery */



/* .gallery-container p.page-description {
  text-align: center;
  margin: 25px auto;
  font-size: 18px;
  color: #999;
}

.tz-gallery {
  padding: 40px;
} */

/* Override bootstrap column paddings */
.tz-gallery .row>div {
  padding: 2px;
}

.tz-gallery .lightbox img {
  width: 100%;
  border-radius: 0;
  position: relative;
}

.tz-gallery .lightbox:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  opacity: 0;
  color: #fff;
  font-size: 26px;
  font-family: 'Glyphicons Halflings';
  content: '\e003';
  pointer-events: none;
  z-index: 9000;
  transition: 0.4s;
}


.tz-gallery .lightbox:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(46, 132, 206, 0.7);
  content: '';
  transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
  opacity: 1;
}

.baguetteBox-button {
  background-color: transparent !important;
}

.mobile-scroll-box {
  border: solid red;
  overflow: hidden;
  width: 100%;
  /* Hide scrollbars */

}

.mobile-scroll-box div {
  width: 50px;
  /* Hide scrollbars */

}



@media (min-width: 768px) {


  /* 第一部分 */
  .event-details {

    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .event-banner {
    width: 40%;
  }

  .events-banner img {
    width: 100%;
    object-fit: cover;

  }



  .media-list {
    width: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

  }

  .media-card {
    width: 30% !important;
    ;
  }









}

.card {
  width: 30%;
  ;
  margin: 3%;
  margin-left: 0rem;

}