/* banner */

.banner-background {
  position: relative;
  top: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.mod-text {
  width: 80%;
  border: solid blue;
  text-align: center
}

.mod-pic {
  width: 80%;
  border: solid green;
}

.mod-pic img {
  width: 100%;
}

.custom-container {
  border: solid red;
}


body {
  margin: 2em;
}

body p {
  line-height: 1.5em;
}

/*--
  Tabs Container
--*/
.tabs {
  display: block;
  margin: 2em auto;
  color: #444;
  background: #fff;
  padding: .5em;
  max-width: 800px;
}

/*--
  Tabs Nav
--*/
.tabs-nav>ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.tabs-nav>ul li {
  padding: 1em 1.5em;
  background: #fff;
  flex-grow: 1;
  font-weight: 500;
  font-size: 1.3em;
}

.tabs-nav>ul li.is-active {
  background: #eee;
  color: #27b4a8;
}

/*--
  Tabs Content
--*/
.tabs-content>div {
  display: none;
  padding: 1.5em;
  background: #eee;
}

.tabs-content>div.is-active {
  display: block;
}


body {
  padding: 1em 2rem;
}

.tab-content {
  border: 2px solid blue;
  padding: 1em 2em;
  min-height: 5em;
}

.tab-content .nav-link.active {
  border-color: red;
}

.nested {
  background-color: #ccc;
}


/* section {
  background-color: aqua;
} */

.tab-container {
  width: 100%;
}

/* 模組化components */

/* .tab-content {
  display: flex;
  flex-direction: column-reverse;
  border: solid blue;
} */


@media (min-width: 768px) {



  /* 模組化components */

  /* .tab-content {
    display: flex;
    flex-direction: row-reverse;
  } */


}