@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional");
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


/* .collapsing {
  backdrop-filter: blur(15px) !important;
  height: 100vh !important;
} */

/* .collapse.in {
  display: block;
  backdrop-filter: blur(15px) !important;
  /* height: 100vh; */
/* width: 100vw; */
/* position: fixed; */
/* } */

  
.navbar {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 0;

}


.navbar-brand {
  width: 30%;
  padding: 0;
  display: flex;
  justify-content: center;

}



.navbar-brand img {
  display: block;
  /* width: 100%; */
  height: 70%;
  margin: auto !important;

}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff !important;
}





.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
  background-color: #414040;
}

.nav-cont-btn {
  display: none;
}


@media screen and (min-width: 768px) {

  .navbar {

    width: 100%;
    padding: 0 5%;

  }

  .container-fluid {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .nav-cont-btn {
    display: block;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0, -50%);
  }

  .nav-cont-btn-mobile {
    display: none;
  }



  .navbar-brand {
    width: 100%;
  }



  .header-img {
    display: block;
    height: 80%;
    margin-left: auto !important;
  }


  .navbar {

    position: absolute;
    width: 100%;
    z-index: 5000;
    background: rgba(0, 0, 0, 0.7);
    border: none;
  }




  .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0%;
    border: none;
  }

  .dropdown-menu>li>a {
    color: white;
    padding: 12px 20px;
    }

}

.dropdown-menu>li>a:hover{
  background-color: #414040;
}


/* nvabar */
/* .navigation {
  position: absolute;
  top: 0;
  border: solid green;
  width: 100%;
  height: 80px;
  background: transparent;
  z-index: 90000000000;

}

.nav-container {
  width: 100%;
  border: solid blue;
  margin: 0 auto;
} */

/* .brand {
  border: solid black;

} */
/* 
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}



nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581DC;
  color: #ffffff;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
/* .nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
} */

*/
/* 
@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    float: none;
  }

  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }

  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
} */
/* 
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
} */

.modal {
  z-index: 5000
}




.modal-title {
  color: rgb(29, 28, 28);
  font-family: "Noto Sans TC", sas-serif;
  opacity: 0.8;
  font-size: 2.5rem;
  font-weight: bold;
}


select {
  width: 100%;
}

.btn-outline-success {
  background-color: transparent;
  border: solid 0.3px white;

}

.btn-outline-success:hover {
  color: white;
  opacity: 0.5;
}

.btn:focus {
  color: white;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* preloader */

#preloader1 {
  background: #050505 url("/assets/img/logos/Ingrasys logo_white2.svg") no-repeat center center;
  background-size: 150px 50px;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10000000;

}

.loading {
  position: fixed;
  text-align: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}


html,
body {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

body {
  width: 100%;
  background-color: #000000;
  font-family: "Noto Sans TC", sas-serif;
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

img.blur {
  width: 367;
  height: 459px;
  filter: url(blur.svg#blur);
  -webkit-filter: blur(3px);
  filter: blur(3px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}


i {
  background: transparent;
}

h,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 0.9;
  /* font-size: 2rem; */
  /* 有safari issue */
  color: white;
  font-family: 'Abhaya Libre', serif;
}


/* breadcrumb */

.under-header {
  position: absolute;
  top: 10rem;
  left: 0rem;
  z-index: 9;
}

.breadcrumb {
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
}


.breadcrumb-item {
  color: white;
  font-size: 2rem;
}

.breadcrumb-item>li>a:hover {
  color: white;
}

a:focus,
a:hover {
  color: white !important;
}

.breadcrumb-item.active {
  color: #F58522;
  font-size: 2rem;
}


/* edge purpose */
.blur-mask.active {
  backdrop-filter: blur(15px) !important;
}



/* title標籤 */
h1 {
  font-size: 2.4rem;
}

p {
  margin: 0;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: white;
}


a {
  text-decoration: none !important;
  color: white;
}

a:hover {
  color: unset;
  opacity: 0.8;
}






.text-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 2rem;

}


/* ie for blur mask */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .blur-mask.active {
    position: fixed;
    left: 0;
    top: -10rem;
    width: 100vw;
    height: 150vh;
    background-color: rgba(16, 15, 15, 1.0);
    ;
    opacity: 0.9;
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    -ms-backdrop-filter: blur(15px);
    -o-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    z-index: 1000;


  }


}

/* //firefox for blur mask */
@supports (-moz-transform: translate(0, 0)) {
  .blur-mask.active {
    position: fixed;
    left: 0;
    top: -10rem;
    width: 100%;
    height: 150vh;
    background-color: rgba(16, 15, 15, 1.0);
    ;
    opacity: 0.9;
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    -ms-backdrop-filter: blur(15px);
    -o-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    z-index: 1000;


  }
}




.link-top {
  width: 100%;
  height: 1px;
  border-top: solid #ACC0D8 1px;
}


.custom-container {
  width: 100%;
  height: auto;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.about-title {
  width: 100%;
}



header {
  position: relative;
  width: 100%;
  padding: 0;

}



/* .nav-container {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: visible;

} */



.blur-mask.active {
  position: fixed;
  width: 150vw;
  height: 150vh;
  /* background-color:  rgba(16, 15, 15, 1.0);;
    opacity:0.9; */
  -webkit-backdrop-filter: blur(15px);
  -moz-backdrop-filter: blur(15px);
  -ms-backdrop-filter: blur(15px);
  -o-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  z-index: 1000;

}


/* .navbar-brand {
  padding: 5px 15px !important;
  position: relative;
  z-index: 1000000;

} */

/* .header-img {
  width: 15rem;
  height: auto;
  margin: auto;
  padding: 0;
} */

/* siderbar */
/* 
i {
  background: transparent;
} */
/* 
.side-bar {
  /* top: 0;
  width: 100%;
  /* position:absolute; */
/* position: absolute;
  right: 0;
  overflow-y: visible;
  z-index: 100000; */
/* }*/



/* 
.side-bar>.menu {
  position: relative;
  width: 100%;
  height: 100vh;
  transition: 0.6s ease;
  transition-property: right;
  display: none;


}

.side-bar>.menu.active {
  display: block;
  padding-top: 3rem;

}

.side-bar .menu .item {
  position: relative;
  cursor: pointer;
}

.side-bar .menu .item a {
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
  display: block;
  padding-left: 50px;
  line-height: 45px;

}

.item a:hover {
  opacity: 0.6;
transition: 0.3s ease;
position: relative;
top: 5px;
}
/* 
.side-bar .menu .item i {
  margin-right: 15px;
}

.side-bar .menu .item a .dropdown {
  position: absolute;
  right: 15%;
  margin: 20px;
  transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu {
  background: rgba(255, 255, 255, 0.1);
  display: none;
}

.side-bar .menu .item .sub-menu a {
  padding-left: 60px;
}

.rotate {
  transform: rotate(90deg);
}

.menu-btn {

  height: 10rem;
  text-align: end;
  padding: 3.2rem 0 3rem 80%;

} */


/* 
.hamburger {
  position: relative;
  bottom: 0;
  height: 10rem;
}

.hamburger .line {
  width: 30px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 51;
}

.hamburger:hover {
  cursor: pointer;
} */

/* burger */
/* 
#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}



 */


/* banner */

.upper-banner {
  /* min-height: 100vh; */
  box-sizing: border-box;
  position: relative;
}

#web-video {
  display: none;
}

.video {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
}

.video video {
  width: 100%;
  top: -20px;
  position: relative;
  z-index: -5;

}

.video:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  height: 100%;
  width: 100%;
  background-color: #000000;
  box-sizing: border-box;
}

.demo {
  display: none;

}



@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}





.main-caption {
  position: absolute;
  top: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  padding: px;
}



.caption-description {
  margin: 2rem 0;
  font-size: 1.5rem;
  color: white;
}



.banner-footer {

  width: 100%;
  height: auto;
  display: flex;
  direction: row;
  justify-content: space-between;
  align-items: center;

}

.static-background {
  background-size: 100% auto;
  background-position: bottom 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/assets/img/index/index.jpg");
  background-attachment: fixed;
}



/* focus */

canvas {
  z-index: 0;

}

.particles-reference {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  z-index: -5;
}

.focus-wrapper {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;


}


.line {
  width: 60px;
  height: 6px;
  background: #F58522;
  margin: 2rem 0;
}


.title-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}

.title-left-align {
  align-items: flex-start;
}

.title-left-align h1 {
  text-align: left;
}

.focus-title {
  width: 100%;
  color: white !important;
  ;
}

.focus-title-small {
  font-size: 2rem;
  line-height: 3rem;
}


.focus-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}




.focus-item {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 5rem;

}



.focus-name {
  width: 100%;
  color: white;
  text-align: left;
  text-overflow: clip;
  font-size: 1.8rem;
  background-size: auto 100%;
  background-repeat: no-repeat;
  margin: 2rem 0;
}


.focus-description {
  width: 100%;
  font-size: 1.5rem;
}

.btn-underline {
  color: white;
  position: relative;
  padding: 1rem 0;
  border-bottom: 1.5px solid white;
  border-radius: 0;
}

.btn-underline:hover {
  color: white;

}

.btn-underline.active {
  color: white;

}


.category-img {
  width: 100%;
  object-fit: cover;
  display: block;
  overflow: hidden;
  /* ie purpose */
  flex: 1 0 auto;
  min-height: 1px;


}

.category-img img {
  width: 100%;
  -webkit-filter: contrast(2);
  filter: saturate(1.5);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}



/* upcoming event */


#computex-big {
  display: none;
}

.event-wrapper {
  margin-top: 5rem;
  width: 80%;
  margin-left: 10%;
}

.event-img {
  width: 100%;
}

.event-img img {
  width: 100%;
}



/* global footprint */

.about-wrapper {
  width: 100%;
  margin-bottom: 3rem;
}

.about-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem
}

.about-img {
  margin-bottom: 3rem;
  margin-right: 3rem;
}

.about-img img {

  width: 100%;
}


.about-description {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-description p {
  width: 100%;

}

.about-img {
  width: 100%;
  /* ie purpose */
  flex: 1 0 auto;
  min-height: 1px;
}

/* slogan */

.company-slogan {
  position: relative;
  background-color: #1a1b1b;
  display: block;
  padding: 5rem 0rem;
  width: 100%;
}

.company-slogan p {
  width: 80%;
  margin-left: 10%;
  font-size: 2.8rem;
  line-height: 3.5rem;
  font-family: 'Abhaya Libre', serif;
}

.company-slogan p:before {
  position: absolute;
  content: " “ ";
  color: rgba(151, 140, 140, 0.5);
  ;
  font-size: 4em;
  font-weight: 700;

}

.company-slogan p:after {
  position: absolute;
  content: " ”　";
  bottom: 0;
  color: rgba(151, 140, 140, 0.5);
  ;
  font-size: 4em;
  font-weight: 700;
  display: inline;
  padding: 0;

}

/* event */

.event-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F0F0;
}

.event-banner {

  background-color: #BF5E87;
  width: 100%;
}

.evnet-line h1 {
  font-family: 'Roboto', sans-serif;
}

.event-banner img {
  width: 100%;
}

.event-content {
  border: solid green;
  width: 85%;
  padding: 5% 5%;
  background-color: #BF5E87;
  position: relative;
  top: -12px;
  margin-bottom: 5%;
  ;
}

.btn-default {
  border-radius: 50px;
  border: none;
  color: #BF5E87;
  font-size: 1.5rem;
  position: relative;
  margin-left: 50%;

}

/* 
product */

.product-wrapper {
  flex-direction: column;

}

.prdouct-img {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
  height: 0;
  overflow: hidden;
}

.prdouct-img iframe {

  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/* news */

.news-wrapper {
  margin-top: 5rem;
  width: 80%;
  margin-left: 10%;
}

.slider {
  width: 100%;
}



.news-img {
  width: 100%;
  /* ie purpose */
  flex: 1 0 auto;
  min-height: 1px;
  margin: auto;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.news-img:hover {
  width: 110%;
}

.slider-index-caption {
  position: relative;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 0;
  top: 0;
}

.action {
  display: inline-block;
  color: white;
  background: #00285E !important;
  border: none;
  font-size: 1.3rem;
  padding: 0.25rem 1rem;
  transition: all 0.1s linear;
  /* width:45%; */
}

.quote-content-paragraph {
  display: none;
}

/* csr */
.team-wrapper {
  margin-top: 5rem;
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
}

/* .csr-img{
  width:100%;
  height:75%;
} */


.csr-img img {
  width: 100%;
  display: block;
  margin: auto;

}

.csr-content {
  width: 100%;
}



.action:hover {
  background: #0d3a75;
  color: white;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(87, 87, 87, 1);
  -moz-box-shadow: 0px 1px 5px 0px rgba(87, 87, 87, 1);
  box-shadow: 0px 1px 5px 0px rgba(87, 87, 87, 1);
  cursor: pointer;
}

/* footer */
.footer-wrapper {

  margin-top: 5rem;
  background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 3rem;
}

.footer-item {

  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* ie purpose */
  flex: 1 0 auto;
  min-height: 1px;
}

.title-web {
  display: none;
}

.footer-content {
  width: 90%;
  margin-left: 10%;

}

.item-title-footer {
  color: white !important;
  width: 90%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  border-bottom: solid rgb(223, 219, 219);
  padding-bottom: 8px;
  margin-bottom: 10px;

}

.collapse-open {
  width: 80%;
  text-align: left;
  margin-left: 1rem;
  margin-bottom: 1rem;

}

.collapse-open>a {
  font-size: 1.5rem;
  line-height: 3rem;

}

.footer-logo {
  display: flex;
  flex-direction: column;
}



/* 類別下的divider */

.divider {
  border: 0.3px solid white;
  width: 80%;
  margin-left: 10%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer-img {
  display: block;
  width: 40%;
  height: auto;
  /* 圖片置中 */
  margin: auto;
}

.office-address {
  color: white;
  margin-top: 2rem;
  padding-left: 13%;
  padding-bottom: 10%;

  white-space: nowrap;
  display: flex;
  align-items: flex-start;

  flex-direction: column;
  font-size: 1.5rem;
  line-height: 2.3rem;
  /* padding-left:33%; */

}

.office-address>li {
  list-style: none;
  text-align: left;
  line-height: 170%;
}

.fa-map-marker {
  visibility: hidden;
}

.office-location {
  /* color: #F58522; */
  margin-bottom: 1rem;
  font-size: 2rem;
}

.copyright {
  margin-top: 0.8rem;
  ;
  font-size: 0.8rem;
  color: white;
  opacity: 0.8
}

.btn-contact {
  background-color: transparent;
  border: transparent;
  padding-left: 0;
}

.btn-contact:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.contact-btn {
  color: white;
}







@media screen and (min-width: 399px) {
  .office-address {

    padding-left: 23%;

  }
}




/* 電腦版 */

@media screen and (min-width: 717px) {
  #computex-small {
    display: none;
  }

  #computex-big {
    display: block;
    width: 100%;
  }


  .event-container {
    width: 100%;
    display: flexbox;
    flex-direction: row;
    align-items: center;
    position: relative;
  }

  .event-banner {
    border: solid green;
    margin: 48px 180PX 48px 48px;
    max-width: 1212px;
  }

  .evnet-line h1 {
    font-family: 'Roboto', sans-serif;
  }

  .event-banner img {
    width: 100%;
  }

  .event-content {

    padding: 42px;
    max-width: 534px;
    background-color: #BF5E87;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;

  }

  .event-lline {
    margin: 0;
  }

  .event-line .btn {
    margin-left: 0;
  }

}

@media screen and (min-width: 768px) {


  /* 暫時 等kioxia 進來後刪掉 */
  .owl-theme .owl-dots .owl-dot {

    zoom: 1;
    *display: inline;
    border-radius: 100%;
    ;

  }


  #preloader1 {

    background-size: 200px 60px;

  }


  #mobile-video {
    display: none;
  }

  #web-video {
    display: block;
  }

  /* 漢堡 */
  .hamburger .line {
    width: 45px;
  }

  /* .header-img {
    width: 15rem;

  } */

  .under-header {
    left: 3rem;

  }

  .video {
    height: auto;
    position: relative;
    top: 0;
    width: 100%;
    background-image: none;
  }




  .video video {
    width: 100%;
    top: 0;
    position: relative;
    visibility: visible;
    z-index: 0;
  }




  .demo {
    display: block;

  }



  .demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 20;
    display: inline-block;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    color: #fff;
    font-size: 1.8rem;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }

  .demo span {
    margin-left: 40%;
  }

  .demo a:hover {

    opacity: .5;
  }





  /* 大標題 */

  p {
    font-size: 1.5rem;
  }

  /* siderbar */

  .side-bar {
    width: 70%;

  }

  .side-bar>.menu {
    width: 100%;
  }

  .side-bar .menu .item a {
    font-size: 1.5rem;
    line-height: 6rem;
  }



  /* banner */
  .banner-wrapper {
    width: 100%;
    align-items: center;
    /* padding-left: 10%; */

  }




  .main-caption {
    text-align: left;

    margin-left: 10%;

    width: 100%;

  }





  .caption-description {
    font-size: 1.5rem;
    text-align: left;
  }

  /* .caption-video {
    border: 4px dashed blue;
    background-color: #00285E;
    border-radius: 50%;
  } */



  .title-box {
    all: unset;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding-left: 60%; */
  }



  .focus-wrapper {
    width: 85%;
    margin-left: 7.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    padding-top: 5rem;

  }




  .focus-content {
    width: 100%;
    padding: 4rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .focus-item {
    /* all: unset; */
    position: relative;
    width: 24%;
    overflow: hidden;
    /* margin-right: 2rem; */


  }


  .category-img {
    width: 100%;
    display: block;
  }

  .category-img img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .9s ease-in-out;
    transition: .9s ease-in-out;
  }

  .focus-item:hover .category-img img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }



  .about-content {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3rem;
  }

  .about-img img {
    width: 100%;
  }


  .about-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .about-description p {
    width: 100%;

  }

  .about-img {
    width: 50%;
    /* ie purpose */
    flex: 1 0 auto;
    min-height: 1px;
  }


  .about-img video {
    width: 100%;
  }

  .aboutBG-img {
    all: unset;
    width: 100%;
    opacity: 0.9;
    height: auto;
  }


  /* slogan */

  .company-slogan {
    position: relative;
    background-color: #1a1b1b;
    display: block;
    padding: 10rem 0rem;
  }

  .company-slogan p {
    font-size: 3.5rem;
    line-height: 4rem;
  }


  .company-slogan p:before {
    position: absolute;
    content: " “ ";
    color: rgba(151, 140, 140, 0.5);
    ;
    /* font-size: 6em; */
    font-weight: 700;
    left: 10%;
    /* left:50%; */
  }

  .company-slogan p:after {
    position: absolute;
    content: " ”　";
    color: rgba(151, 140, 140, 0.5);
    ;
    font-weight: 700;
    left: 80%;
    bottom: 10%;
    display: inline;
    padding: 0;

  }




  .company-slogan p {
    display: block;
  }



  .event-img img {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }



  /* slider */

  .news-wrapper {
    margin-top: 10rem;
    margin-bottom: 10rem;
    ;
  }

  .news-img {
    width: 100%;
    margin: auto;
  }

  .slider-index-caption {
    width: 50%;
    position: relative;
    z-index: 10;
    left: 25%;
  }

  .action {
    display: inline-block;
    color: white;
    background: #00285E !important;
    border: none;
    border-radius: 0.25rem;
    font-size: 1.3rem;
    padding: 0.25rem 1rem;
    transition: all 0.1s linear;
    /* width:45%; */
  }

  .quote-content-paragraph {
    display: block;
  }


  /* csr share the same layout with product */
  .team-wrapper {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  .product-wrapper {
    flex-direction: row-reverse;
  }

  .prdouct-img {

    width: 50%;
    padding-bottom: 28.125%;
    /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */

  }




  .csr-img {
    width: 50%;
  }

  .csr-img img {
    width: 70%;
    display: block;
    margin: auto;
  }


  .csr-para {
    padding: 5rem 0rem;
    width: 50%;
  }




  /* footer */




  .footer-item {
    all: reset;
    /* border: solid red; */
    /* margin-top: 4rem; */
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    /* ie purpose */
    flex: 1 0 auto;
    min-height: 1px;
  }

  .footer-content {
    all: unset;
    display: inline-block;
    width: auto;
    margin-left: 0;
  }

  .item-title-footer {
    display: none;
    width: 100%;

  }

  .collapse-open {
    margin-left: 0;
    margin-top: 2rem;
    display: block !important;

  }

  .collapse-open a {
    font-size: 1.25rem;
    opacity: 0.8;
    overflow: hidden;
    white-space: nowrap;
  }

  .title-web {
    display: block;
    font-size: 2rem;
    text-align: left;
    /* border: solid red; */
  }


  /* .footer-wrapper {
    width: 100%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -ms-justify-content: space-between;

    /* padding:0; */
  /* }


  .footer-item {

    width: 33.3%;
    height: 100%;
    text-align: center;
    margin-top: 5rem;
    padding-top: 5rem;

  }



  .footer-img {
    display: block;
    margin: auto;
    max-width: 18rem;
  }

  .office-address {
    color: white;
    margin-top: 1rem;
    /* padding-left:20%; */


  .text-deco {
    display: block;
    font-family: Helvetica;
    font-weight: bold;
    letter-spacing: -0.3rem;
    color: #333;
    position: relative;
    color: transparent;
    -webkit-text-stroke-width: 4px;
    font-size: 8rem;
  }




}


@media screen and (min-width: 1024px) {


  .breadcrumb-item {
    color: white;
    font-size: 3rem;
  }

  .breadcrumb-item.active {
    color: #F58522;
    font-size: 3rem;
  }


  /* 大標題 */


  h1,
  h {

    font-size: 3rem;
    ;
  }



  p {
    font-size: 1.3rem;
    line-height: 140%;
  }


  /* siderbar */

  .side-bar {
    width: 70%;

  }

  .side-bar>.menu {
    width: 100%;
  }

  .side-bar .menu .item a {
    font-size: 2rem;
  }


  .caption-description {
    font-size: 2rem;
  }





  .focus-name {
    font-size: 1.8rem;
    /* font-size: 3rem; */
  }






  .quote-content-title {
    font-size: 2rem;
    line-height: 3rem;
  }

  .quote-content-paragraph {
    white-space: wrap;
    font-size: 1.5rem;
  }


  .action {
    width: unset;
    font-size: 1.5rem
  }

  .text-deco {

    font-size: 11rem;
  }

  .office-location {
    font-size: 2.2rem;
  }


  .office-address {
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding-bottom: 2rem;
    /* padding-left:0; */
  }





}

@media screen and (min-width: 1280px) {




  /* 大標題 */



  .video {
    max-height: 100vh;
    width: 100%;
  }


  /* .video video{
  min-height: 100%;
  position:relative;
  visibility: visible;
 z-index:0;
}  */

  h1,
  h {
    font-size: 3.2rem;
    ;
  }

  p {
    font-size: 2rem;
    line-height: 140%;
  }

  .caption-title h1 {
    font-size: 5rem;
  }

  /* siderbar */

  .side-bar {
    width: 40%;
  }

  .side-bar>.menu {
    width: 100%;
  }




  .caption-description {
    font-size: 2.5rem;
  }

  .focus-name {
    font-size: 2.2rem;
  }

  .focus-description {
    font-size: 1.8rem;
  }


  .company-slogan {
    position: relative;
    left: 0;
    background-color: #1a1b1b;
    display: block;
    margin: 0;
    padding: 15rem 0rem;

  }

  .company-slogan p {
    font-size: 4.5rem;
    line-height: 5rem;
  }

  .company-slogan p:after {
    right: 0;
    bottom: 5%;
    font-size: 20rem;
    ;

  }

  .company-slogan p:before {
    font-size: 20rem;

  }




  .quote-content-title {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }

  .quote-content-paragraph {
    font-size: 1.8rem;
  }


  .action {
    font-size: 1.5rem
  }

  .office-location {
    font-size: 2.5rem;
  }




  .copyright {
    margin-top: 0.8rem;
    ;
    font-size: 1rem;
    color: white
  }

  .divider {
    border: 0.3px solid white;
    width: 60%;
    margin-left: 20%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .office-address {

    padding-left: 32%;

  }



}

@media screen and (min-width: 1600px) {

  #preloader1 {

    background-size: 250px 75px;

  }

  /* 大標題 */

  h1,
  h {
    font-size: 4rem;
    ;
  }

  p {
    font-size: 2.5rem;
    line-height: 140%;
  }

  .btn-underline {
    font-size: 2rem;
  }




  /* siderbar */

  .side-bar {
    width: 50%;
  }

  .side-bar>.menu {
    width: 60%;
    margin-left: 30%;
  }

  .side-bar .menu .item a {
    font-size: 2rem;
  }

  .menu-btn {
    text-align: end;
    width: 100%;

    /* padding:3rem 0 3rem 70%;; */

  }


  /* focus */

  .focus-name {
    font-size: 2.5rem;
  }

  .focus-description {
    font-size: 1.8rem;
  }


  .quote-content-title {
    font-size: 3rem;
    line-height: 3.5rem;


  }

  .quote-content-paragraph {
    font-size: 2.5rem;
  }

  .footer-wrapper {
    padding-bottom: 10px;
    height: auto;

  }


  .action {
    font-size: 2rem
  }

  .office-location {
    font-size: 2.5rem;
  }

  .office-address {

    font-size: 2rem;
    line-height: 2.5rem;
    padding-left: 32%;

  }
}


@media screen and (max-height: 500px) {

  /* avoid 無法下滑 */
  .side-bar {


    position: absolute;


  }
}

/* .news-wrapper {
  overflow:auto;
} */



.owl-theme .item {
  height: auto;
  padding: 1rem;
}

.news-item {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;

}

.owl-dot:hover span {
  background: #F58522 !important;
}

.owl-dot.active span {
  background: #F58522 !important;
}

.owl-nav {
  font-size: 3rem;
}