<section>

  <div class="slider-top">

    <div class="custom-container">
      <nav class="under-header-products" aria-label="breadcrumb">

        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">Products</a></li>
          <li class="breadcrumb-item active" aria-current="page">HPC Accelerator</li>
        </ol>
      </nav>
    </div>

    <div class="custom-container">

      <div class="slider-container">



        <div id="carousel-example-generic" class="carousel slide  carousel-mobile" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="./assets/img/products/SV2080A_index.jpg" alt="first slide">

              <div class="carousel-caption slider-caption">

                <h>SV2080A
                </h>

                <p>Density Optimized 2U 4-node Server to Address Growing Computing Needs
                </p>

              </div>

            </div>
            <div class="item">
              <img src="./assets/img/products/SV2020A.jpg" alt="Secod slide">

              <div class="carousel-caption slider-caption">

                <h>SV2020A
                </h>

                <p>Feature-rich 2-Socket Server With Flexible I/O Options
                </p>
              </div>

            </div>

            <div class="item">
              <img src="./assets/img/products/SV1020i.jpg" alt="Third slide">

              <div class="carousel-caption slider-caption">

                <h>SV1020i
                </h>

                <p>Ultimate 1U Server Unlocks Business Agility
                </p>

              </div>

            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>






        </div>



      </div>

    </div>




    <div class="custom-container slider-bottom">

      <div class="content-container">

        {{!-- <div class="card">
          <img src="assets/img/products/card-turing.png" class="card-img-top" alt="Turing">
          <div class="card-body">
            <h5 class="card-title">SV1020i</h5>
            <hr>
            <div class="text-box">

              <li class="card-text">2 x 3rd Gen Intel® Xeon®</li>
              <li class="card-text">32 x DIMMs</li>
              <li class="card-text">12 x 2.5" Drives</li>
              <li class="card-text">1U </li>
              <br>

            </div>

            <a href="#" class="btn btn-primary">View More</a>
          </div>
        </div> --}}



        <div class="thumbnail card">


          <img src="assets/img/products/gpu-ai/eb3000/card.png" class="card-img-top" alt="Turing" alt="...">

          <div class="caption">
            <div class="card-body">
              <h5 class="card-title">EB3000</h5>
              <hr>
              <div class="text-box">
                <li class="card-text">16 x PCIe Gen4 x16 Slots
                </li>
                <li class="card-text">2+1 x 2400W Redundant PSU
                </li>
                <li class="card-text">3U </li>

              </div>
              <p><a href="/eb3000" class="btn btn-primary" role="button">View More</a> </p>
            </div>
          </div>
        </div>

        <div class="thumbnail card">
          <img src="assets/img/products/gpu-ai/hgx3/hgx3-card.png" alt="...">
          <div class="caption">
            <div class="card-body">
              <h5 class="card-title">GB8011</h5>
              <hr>
              <div class="text-box">
                <li class="card-text">16 x Nvidia SXM4 A100 GPUs
                </li>
                <li class="card-text">16 x PCIe Gen4 x16 Slots
                </li>
                <li class="card-text">8 x U.2 NVMe SSDs
                </li>
                <li class="card-text">8U
                </li>
                <br>


              </div>
              <p><a href="/gb8011" class="btn btn-primary" role="button">View More</a> </p>
            </div>
          </div>
        </div>




      </div>
</section>