<section>

  <div class="bar-top">
    <div class="custom-container under-header">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a>Products</a></li>
          <li class="breadcrumb-item"><a href="/accelerator">HPC Accelerator</a></li>
          <li class="breadcrumb-item active" aria-current="page">GB10181N
          </li>
        </ol>
      </nav>
    </div>

    <div class="custom-container">

      <div class="product-container">
        <div class="product">
          <!-- card left -->
          <div class="product-imgs">
            <div class="img-display">
              <div class="img-showcase">
                <img src="/assets/img/products/gpu-ai/gb10181n/hga_front.png" alt="back">
                <img src="/assets/img/products/gpu-ai/gb10181n/hga_back.png" alt="45">
                <img src="/assets/img/products/gpu-ai/gb10181n/hga_card.png" alt="open">
              </div>
            </div>
            <div class="img-select">
              <div class="img-item">
                <a href="#" data-id="1">
                  <img src="/assets/img/products/gpu-ai/gb10181n/hga_front.png" alt="front">
                </a>
              </div>
              <div class="img-item">
                <a href="#" data-id="2">
                  <img src="/assets/img/products/gpu-ai/gb10181n/hga_back.png" alt="back">
                </a>
              </div>
              <div class="img-item">
                <a href="#" data-id="3">
                  <img src="/assets/img/products/gpu-ai/gb10181n/hga_card.png" alt="45">
                </a>
              </div>
              {{!-- <div class="img-item">
                <a href="#" data-id="4">
                  <img src="/assets/img/products/gpu-ai/gb8011/hgx3-open.png" alt="open">
                </a>
              </div> --}}
            </div>
          </div>
          <!-- card right -->
          <div class="product-content">
            <div class="product-detail">
              <h2>GB10181N</h2>
              <p>Unparalleled HGX Hl00 8-GPU Al Server to Bring Significant AI Breakthrough

              </p>
              <strong class="line">
              </strong>


              <ul>
                <li>
                  - Support NVIDIA HGX H100 8-GPU

                </li>

                <li> - Deploy Latest NVIDIA NVLink® & NVSwitch™ Technology
                </li>
                <li> - Two-layer GPU & IO Sleds for Easy Scalability and Better Thermal Efficiency</li>
                <li> - Support 20 x PCIe 5.0 Slots & 32 x NVMe Drive Bays</li>
                <li> - Air Cooling Solution


              </ul>
            </div>
            <br>


          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="bar-bottom">
    {{!-- display contenr --}}
    <div class="custom-container">


      <ul class="nav nav-pills tab-bar" id="pills-tab" role="tablist">
        <li class="active"><a data-toggle="pill" href="#home" class="custom-btn">Overview</a></li>
        <li><a data-toggle="pill" href="#menu1" class="custom-btn">Spec</a></li>
        {{!-- <li><a data-toggle="pill" href="#menu3" class="custom-btn">Download</a></li> --}}
      </ul>

      {{!-- content --}}

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <div class="custom-container">

            <div class="app-title">
              <h2 class=" title">Application</h2>
            </div>

            <div class="app-container">

              <div class="app-item">
                <img class="item-img" src="./assets/img/icons/hpc.png" alt="">
                <br>
                <p class="item-title">High Performance Computing</p>
              </div>
              <div class="app-item">
                <img class="item-img" src="./assets/img/icons/machine-learning.png" alt="">
                <br>
                <p class="item-title">AI and Machine Learning</p>
              </div>
              <div class="app-item">
                <img class="item-img" src="./assets/img/icons/llm.png" alt="">
                <br>
                <p class="item-title">Large Language Model (LLM)</p>
              </div>
              <div class="app-item">
                <img class="item-img" src="./assets/img/icons/gen.png" alt="">
                <br>
                <p class="item-title">Generative AI</p>
              </div>

            </div>

          </div>

          <div class="custom-container">

            <div class="point-container">
              <div class="point-item graph-left">
                <div class="point-img">
                  <img src="/assets/img/products/gpu-ai/gb10181n/hga_h100.png
                  " alt="應用">
                </div>

                <div class="point-content">
                  <h class="point-title title">
                    Unparalleled HGX Hl00 8-GPU Al Server

                  </h>


                  <p class="point-description">
                    Purpose-built to accelerate generative AI innovations, the AI server leverages the NVIDIA HGX H100
                    baseboard with eight
                    Tensor Core GPUs, each connected through extremely fast fourth-generation NVIDIA NVLink, to deliver
                    32 petaflops of
                    performance for large-scale AI models, complex simulations, and massive datasets.


                  </p>
                </div>

              </div>
              <div class="point-item graph-right">

                <div class="point-content">
                  <h class="point-title title">
                    Innovative Disaggregated Approach

                  </h>

                  <p class="point-description">
                    The AI server can be directly connected to a single CPU head node server, creating a unified AI
                    solution. This
                    disaggregated GPU and CPU approach enhances flexibility, enabling you to select the CPU head node
                    server that best suits
                    your needs.

                  </p>
                </div>

                <div class="point-img">
                  <img src="/assets\img\products\gpu-ai\gb8011\powerful.png" alt="應用">
                </div>
              </div>
              <div class="point-item graph-left">
                <div class="point-img">
                  <img src="/assets/img/products/gpu-ai/gb10181n/hga_exp.png" alt="process">

                </div>

                <div class="point-content">
                  <h class="point-title title">
                    High Expansion Capability

                  </h>


                  <p class="point-description">
                    Adopting a one-GPU-to-one-NIC topology, the powerful server offers high expansion capability by
                    accommodating 8 NICs,
                    which enables fast interconnections between GPUs within a GPU cluster. In addition, its two-layer
                    design features easy
                    scalability up to 32 NVMe Drives and enhances thermal efficiency, allowing the server to deliver
                    unprecedented
                    performance and agility.




                  </p>
                </div>
              </div>

              <br>

            </div>
          </div>

          <div class="custom-container">
            <div class="certif-title ">
              <h2 class=" title">Certification</h2>
            </div>


            <div class="certif-container">
              <div class="certif-item">
                <img id="item-img" src="./assets/img/certification/bsmicon.png" alt="no">
              </div>
              <div class="certif-item">
                <img id="item-img" src="./assets/img/certification/ce.png" alt="no">
              </div>
              <div class="certif-item">
                <img id="item-img" src="./assets/img/certification/cb.png" alt="no">
              </div>
              <div class="certif-item">
                <img id="item-img" src="./assets/img/certification/ul-icon.png" alt="no">
              </div>
              <div class="certif-item">
                <img id="item-img" src="./assets/img/certification/fcc.png" alt="no">
              </div>
              <div class="certif-item">
                <img id="item-img" src="./assets/img/certification/rcm.png" alt="no">
              </div>
            </div>
          </div>

        </div>
        <div id="menu1" class="tab-pane fade">
          <div class="custom-container">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Supported GPU</th>
                  <td>NVIDIA HGX H100 8-GPU


                  </td>
                </tr>

                <tr>
                  <th scope="row">Expansion Slots
                  </th>
                  <td>20 x PCIe 5.0 x16 Slots
                  </td>

                </tr>

                <tr>
                  <th scope="row">Storage</th>
                  <td>32 x Hot-swap U.2 NVMe Drive Bays


                  </td>

                </tr>

                <tr>
                  <th scope="row">Front Panel<br></th>
                  <td>

                    <ul>
                      <li> 1 x Power LED, 1 x UID LED, 1 x Attention LED
                      </li>
                      <li>1 x 1GbE/RJ45 Management Port
                      </li>
                      <li>1 x RJ45 Console Port
                      </li>

                    </ul>




                  </td>



                </tr>



                <tr>
                  <th scope="row">Form Factor</th>
                  <td>

                    10 U Rackmount<br>
                    (4U IOB Sled with 4U GPU Sled)
                    <br>
                  </td>
                </tr>

                <tr>
                  <th scope="row">Chassis Dimensions<br>(H x W x D)</th>
                  <td>
                    17.3" x 20.0"x 37.3"/ 440.5mm x 508.0mm x 948.8mm



                  </td>
                </tr>

                <tr>
                  <th scope="row">Management</th>
                  <td>1 x ASPEED AST2600<br>

                  </td>
                </tr>

                <tr>
                  <th scope="row">Power Supply</th>
                  <td>5+5 Redundant 3000W Platinum Power Supplies

                    
                  </td>
                </tr>
                <tr>
                  <th scope="row">Fans</th>
                  <td>20 x 80*80mm for N+1 Cooling Redundancy


                  </td>
                </tr>



                <tr>
                  <th scope="row">Certification</th>
                  <td>CE/FCC/BSMI/UL/IECEE CB

                  </td>
                </tr>


                <tr>
                  <th scope="row">Operating Temperature</th>
                  <td>
                    10°C to 35°C (50°F to 95°F)
                  </td>
                </tr>
                <tr>
                  <th scope="row">Non-operating Temperature</th>
                  <td>
                    -40°C to 60°C (-40°F to 140°F)
                  </td>
                </tr>

                <tr>
                  <th scope="row">Operating Relative Humidity</th>
                  <td>
                    8% to 85%RH
                  </td>
                </tr>
                <tr>
                  <th scope="row">Non-operating Relative Humidity</th>
                  <td>
                    5% to 95%RH
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div id="menu3" class="tab-pane fade">


          <div class="custom-container">
            <div class="table-responsive ">
              <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle ">
                <thead class="table-lightgray  border-bottom">
                  <tr style="vertical-align: middle !important;text-align: center;">
                    <th style="vertical-align: middle !important;text-align: center;">File</th>
                    <th style="vertical-align: middle !important;text-align: center;">Update Date</th>
                    <th style="vertical-align: middle !important;text-align: center;">Download PDF</th>

                  </tr>
                </thead>
                <tbody>

                  <tr class="border-bottom">
                    <td style="vertical-align: middle !important;text-align: center;">GB6181</td>
                    <td style="vertical-align: middle !important;text-align: center;">10/2023</td>
                    <td style="vertical-align: middle !important;text-align: center;"><a
                        href="/assets/files/Datasheet_GB6181_202310.pdf" class="btn btn-xs btn-white"><i
                          style="color: white; font-size:2rem" class="fas fa-download"></i></a></td>

                  </tr>

                </tbody>
              </table>
            </div>
          </div>

        </div>


      </div>

      {{!-- <div class="tab-content" id="pills-tabContent">


        <div class="acc tab-pane fade show answer active" id="pills-home" role="tabpanel"
          aria-labelledby="pills-home-tab">


          <div class="custom-container">

            <div class="app-title">
              <h1 class=" title">Application</h1>
            </div>



            <div class="app-container">
              <div class="app-item">
                <img class="item-img" src="./assets/img/icons/private_cloud.png" alt="">
                <br>
                <p class="item-title ">Private Cloud</p>
              </div>

              <div class="app-item">
                <img class="item-img" src="./assets/img/icons/data-center.png" alt="">
                <br>
                <p class="item-title">Hyperscale Data Center</p>
              </div>

              <div class="app-item">
                <img class="item-img" src="./assets/img/icons/database.png" alt="">
                <br>
                <p class="item-title">Database</p>
              </div>
              <div class="app-item">
                <img class="item-img" src="./assets/img/icons/software_storage.png" alt="">
                <br>
                <p class="item-title">Software-Defined Storage</p>
              </div>
              <div class="app-item">
                <img class="item-img" src="./assets/img/icons/cloud-infrustructure_white.svg" alt="">
                <br>
                <p class="item-title">Hyper-converged Infrastructure</p>
              </div>
              <div class="app-item">
                <img class="item-img" src="./assets/img/icons/enterprise.png" alt="">
                <br>
                <p class="item-title">Enterprise Application Server</p>
              </div>
            </div>

          </div>

          <div class="custom-container">
            <div class="point-container">
              <div class="point-item graph-left">
                <div class="point-img">
                  <img src="/assets/img/products/server/SV2080A/4node.png" alt="應用">
                </div>

                <div class="point-content">
                  <h class="point-title title">
                    High-density Computing in a Compact Design
                  </h>


                  <p class="point-description">
                    Equipped with four independent nodes, the server delivers unprecedented performance to handle
                    complex workloads in a small chassis, making it a great choice to increase compute density in
                    limited spaces.
                  </p>
                </div>

              </div>

              <div class="point-item graph-right">

                <div class="point-content">
                  <h class="point-title title">
                    High-reliable Network Connectivity
                  </h>

                  <p class="point-description">
                    The standard-compliant OCP 3.0 slot enables installation of a NIC card to provide high bandwidth and
                    ultra-low latency
                    for data intensive applications, bringing the server networking to the next level.
                  </p>
                </div>

                <div class="point-img">
                  <img src="/assets/img/products/server/SV2080A/network-card.png" alt="應用">
                </div>
              </div>
              <div class="point-item graph-left">
                <div class="point-img">
                  <img src="/assets/img/products/server/SV2080A/config.png" alt="應用">
                </div>

                <div class="point-content">
                  <h class="point-title title">
                    Hybrid Storage Configurations
                  </h>


                  <p class="point-description">
                    To satisfy different user scenarios, the server supports various storage configurations: <br>
                    (1) 12 x 3.5" SATA <br>
                    (2) 24 x 2.5" NVMe <br>
                    (3) 12 x 2.5" NVMe/3.5" SATA for maximum flexibility<br>
                    An optional U.2 NVMe SSD
                    can also be installed on the
                    rear for greater storage expansion.
                  </p>
                </div>
              </div>
              <div class="point-item graph-right">


                <div class="point-content">
                  <h class="point-title title">
                    High-speed PCIe Expansion Capability
                  </h>
                  <p class="point-description">
                    Supporting PCIe Gen4 x16, the product offers a
                    superior bandwidth of 32 GB/s, twice that of
                    PCIe Gen3 x16, to realize the potential of expansion
                    capability for versatile I/O options.

                  </p>
                </div>

                <div class="point-img">
                  <img src="/assets/img/products/server/SV2080A/pcie.png" alt="應用">
                </div>
              </div>
              <br>

            </div>
          </div>

          <div class="custom-container">
            <div class="certif-title ">
              <h1 class=" title">Certification</h1>
            </div>


            <div class="certif-container">
              <div class="certif-item">
                <img id="item-img" src="./assets/img/certification/bsmicon.png" alt="no">
              </div>
              <div class="certif-item">
                <img id="item-img" src="./assets/img/certification/ce.png" alt="no">
              </div>
              <div class="certif-item">
                <img id="item-img" src="./assets/img/certification/cb.png" alt="no">
              </div>
              <div class="certif-item">
                <img id="item-img" src="./assets/img/certification/ul-icon.png" alt="no">
              </div>
              <div class="certif-item">
                <img id="item-img" src="./assets/img/certification/fcc.png" alt="no">
              </div>
            </div>
          </div>

        </div>


        <div class="tab-pane fade answer" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div class="custom-container">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Processor</th>
                  <td>One/Two* 2nd/3rd Generation AMD EPYC™ Processor(s) per Node/
                    up to 32 Cores, 180W (TDP)<br>SKU 1:
                    One Processor<br>SKU 2 & 3: Two Processors
                  </td>
                </tr>

                <tr>
                  <th scope="row">Memory
                  </th>
                  <td>16 x DDR4 3200MHz RDIMM/LRDIMM
                    per Node, 1 x NVDIMM per Node
                  </td>

                </tr>

                <tr>
                  <th scope="row">Storage</th>
                  <td>Front:<br>
                    SKU 1: 12 x 2.5"/3.5" Hot-swap SATA Drives per Chassis (3 x Drives per Node)<br>
                    SKU 2: 24 x 2.5" Hot-swap U.2 NVMe Drives per Chassis (6 x Drives per Node)<br>
                    SKU 3: 12 x 3.5" Hot-swap SATA or 2.5" Hot-swap NVMe Drives per Chassis (3 x Drives per Node)

                    <br>
                    <br>
                    Internal:<br>
                    1x SATA/NVMe M.2 (2280/22110) per Node<br>
                    1x SATA M.2 (2280/22110) per Node
                    <br>
                    <br>
                    Rear:<br>
                    1 x 2.5" Hot-swap 7/15mm U.2 NVMe SSD per Node
                    (Optional for Single Processor Configuration, Occupy One PCIe LP Slot)
                  </td>

                </tr>

                <tr>
                  <th scope="row">Front Panel<br>(per Node)</th>
                  <td>
                    1 x Power Button with LED<br>
                    1 x UID Button with LED<br>
                    1 x System Health LED<br>

                  </td>

                </tr>

                <tr>
                  <th scope="row">Rear Panel<br>(per Node)</th>
                  <td>
                    1 x RJ45 for BMC Dedicated Management<br>
                    1 x VGA<br>
                    2 x USB 3.0<br>
                    1 x UID Button with LED<br>
                  </td>

                </tr>
                <tr>
                  <th scope="row">TPM</th>
                  <td>1 x TPM 2.0 Module per Node
                  </td>

                </tr>



                <tr>
                  <th scope="row">Expansion Slots</th>
                  <td>
                    Up to 2 x PCIe Gen4 x16 LP Slots per Node (by SKU)<br>
                    1 x OCP 3.0 NIC PCIe Gen4 x16 per Node
                  </td>
                </tr>
                <tr>
                  <th scope="row">Management</th>
                  <td>1 x ASPEED AST2500 BMC per Node<br>
                    Support Intelligent Platform Management Interface v.2.0<br>
                  </td>
                </tr>
                <tr>
                  <th scope="row">PSUs</th>
                  <td>1+1 Redundant 3000W Platinum PSU
                    (2200W for Single Processor Configuration)
                  </td>
                </tr>
                <tr>
                  <th scope="row">Fans</th>
                  <td>3 x 40*56mm per Node, 12 x per Chassis
                  </td>
                </tr>
                <tr>
                  <th scope="row">Certification</th>
                  <td>FCC/CE/UL/CB/BSMI
                  </td>
                </tr>

                <tr>
                  <th scope="row">Chasis Dimensions<br>(H x W x D)</th>
                  <td>

                    3.42" x 17.6" x 33.17"/ 87.0mm x 447.0mm x 842.4mm

                  </td>
                </tr>
                <tr>
                  <th scope="row">Operating Temperature</th>
                  <td>
                    5°C to 35°C (41°F to 95°F)
                  </td>
                </tr>
                <tr>
                  <th scope="row">Non-operating Temperature</th>
                  <td>
                    -40°C to 70°C (-40°F to 158°F)
                  </td>
                </tr>

                <tr>
                  <th scope="row">Operating Relative Humidity</th>
                  <td>
                    8% to 90%RH
                  </td>
                </tr>
                <tr>
                  <th scope="row">Non-operating Relative Humidity</th>
                  <td>
                    5% to 90%RH
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="tab-pane fade answer" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
          <div class="custom-container">
            <div class="table-responsive ">
              <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle ">
                <thead class="table-lightgray  border-bottom">
                  <tr style="vertical-align: middle !important;text-align: center;">
                    <th style="vertical-align: middle !important;text-align: center;">File</th>
                    <th style="vertical-align: middle !important;text-align: center;">Update Date</th>
                    <th style="vertical-align: middle !important;text-align: center;">Download PDF</th>

                  </tr>
                </thead>
                <tbody>

                  <tr class="border-bottom">
                    <td style="vertical-align: middle !important;text-align: center;">SV2080A</td>
                    <td style="vertical-align: middle !important;text-align: center;">05/2021</td>
                    <td style="vertical-align: middle !important;text-align: center;"><a
                        href="files/SV1020i_Data sheet.pdf" class="btn btn-xs btn-white"><i
                          style="color: white; font-size:2rem" class="fas fa-download"></i></a></td>

                  </tr>

                </tbody>
              </table>
            </div>
          </div>


        </div>
      </div> --}}



    </div>

  </div>




</section>



<br>