<section>

  <div class="slider-top">

    <div class="custom-container">
      <nav class="under-header-products" aria-label="breadcrumb">

        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">Products</a></li>
          <li class="breadcrumb-item active" aria-current="page">Server</li>
        </ol>
      </nav>
    </div>

    <div class="custom-container">

      <div class="slider-container">

        <div id="carousel-example-generic" class="carousel slide  carousel-mobile" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            {{!-- <li data-target="#carousel-example-generic" data-slide-to="3"></li> --}}
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="./assets/img/products/sv1120i-index.png" alt="first slide">

              <div class="carousel-caption slider-caption">

                <h>SV1120 Series
                </h>

                <p>1U Modular Server with AMD EPYC™ or Intel Xeon® Solution

                </p>

              </div>

            </div>
            <div class="item">
              <img src="./assets/img/products/server/sv2121/2ou-banner.png" alt="first slide">

              <div class="carousel-caption slider-caption">

                <h>SV2121 Series
                </h>

                <p>2U Modular Server with AMD EPYC™ or Intel Xeon® Solution

                </p>

              </div>

            </div>
            {{!-- <div class="item">
              <img src="./assets/img/products/sv2020a_index.jpg" alt="Secod slide">

              <div class="carousel-caption slider-caption">

                <h>SV2020A
                </h>

                <p>Feature-rich 2-Socket Server With Flexible I/O Options
                  <br>
                </p>
              </div>

            </div> --}}

            <div class="item">
              <img src="./assets/img/products/sv1020i_index.jpg" alt="Third slide">

              <div class="carousel-caption slider-caption">

                <h>SV1020I
                </h>

                <p>Ultimate 1U Server Unlocks Business Agility
                  <br>
                </p>

              </div>

            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>






        </div>



      </div>

    </div>




    <div class="custom-container slider-bottom">

      <div class="content-container">

        <div class="thumbnail card">

          <img src="/assets/img/products/server/sv1120/1rui-open.png" class="card-img-top" alt="Turing" alt="...">

          <div class="caption">
            <div class="card-body">
              <h5 class="card-title">SV1120I</h5>
              <hr>
              <div class="text-box">


                <li class="card-text">2 x 4th Gen Intel® Xeon®</li>
                <li class="card-text">32 x DDR5 DIMMs</li>
                <li class="card-text">PCIe 5.0 Platform</li>
                <li class="card-text">Support E1.S/U.2 Drives
                </li>
                <li class="card-text">Air Cooling Solution
                </li>
                <li class="card-text"> 1 RU
                </li>


                <br>

              </div>
              <p><a href="/SV1120I" class="btn btn-primary" role="button">View More</a> </p>
            </div>
          </div>
        </div>
        <div class="thumbnail card">



          <img src="/assets/img/products/server/sv1121/1rui-open.png" class="card-img-top" alt="Turing" alt="...">

          <div class="caption">
            <div class="card-body">
              <h5 class="card-title">SV1121I</h5>
              <hr>
              <div class="text-box">

                <li class="card-text">2 x 4th Gen Intel® Xeon®</li>
                <li class="card-text">32 x DDR5 DIMMs</li>
                <li class="card-text">PCIe 5.0 Platform</li>
                <li class="card-text">Support E1.S Drives
                </li>
                <li class="card-text">Air/Liquid Cooling Solution
                </li>

                <li class="card-text"> 1 OU</li>
                <br>

              </div>
              <p><a href="/SV1121I" class="btn btn-primary" role="button">View More</a> </p>
            </div>
          </div>
        </div>

        <div class="thumbnail card">
          <img src="/assets/img/products/server/sv1120/1rua-open.png" alt="...">
          <div class="caption">
            <div class="card-body">
              <h5 class="card-title">SV1120A</h5>
              <hr>
              <div class="text-box">
                <li class="card-text">2 x 4th Gen AMD EPYC™</li>


                <li class="card-text">24 x DDR5 DIMMs</li>
                <li class="card-text">PCIe 5.0 Platform</li>
                <li class="card-text">Support E1.S/U.2 Drives
                </li>
                <li class="card-text">Air Cooling Solution
                </li>

                <li class="card-text">1 RU</li>


                <br>

              </div>
              <p><a href="/sv1120a" class="btn btn-primary" role="button">View More</a> </p>
            </div>
          </div>
        </div>
        <div class="thumbnail card">
          <img src="/assets/img/products/server/sv2020a/ou45.png" alt="...">
          <div class="caption">
            <div class="card-body">
              <h5 class="card-title">SV1121A</h5>
              <hr>
              <div class="text-box">
                <li class="card-text">2 x 4th Gen AMD EPYC™</li>

                <li class="card-text">24 x DDR5 DIMMs</li>
                <li class="card-text">PCIe 5.0 Platform</li>
                <li class="card-text">Support E1.S Drives
                </li>
                <li class="card-text">Air/Liquid Cooling Solution
                </li>
                <li class="card-text">1 OU</li>
                <br>

              </div>
              <p><a href="/sv1121a" class="btn btn-primary" role="button">View More</a> </p>
            </div>
          </div>
        </div>
        <div class="thumbnail card">
          <img src="/assets/img/products/server/sv2121/2oui-open.png" alt="...">
          <div class="caption">
            <div class="card-body">
              <h5 class="card-title">SV2121I</h5>
              <hr>
              <div class="text-box">

                <li class="card-text">2 x 4th Gen Intel® Xeon®</li>
                <li class="card-text">32 x DDR5 DIMMs</li>

                <li class="card-text">PCIe 5.0 Platform</li>
                <li class="card-text">Air/Liquid Cooling Solution</li>
                <li class="card-text">2 OU</li>



                <br>

              </div>
              <p><a href="/sv2121i" class="btn btn-primary" role="button">View More</a> </p>
            </div>
          </div>
        </div>
        <div class="thumbnail card">
          <img src="/assets/img/products/server/sv2121/2oua-open.png" alt="...">
          <div class="caption">
            <div class="card-body">
              <h5 class="card-title">SV2121A</h5>
              <hr>
              <div class="text-box">

                <li class="card-text">2 x 4th Gen AMD EPYC™
                </li>
                <li class="card-text">24 x DDR5 DIMMs
                </li>
                <li class="card-text">PCIe 5.0 Platform
                </li>
                <li class="card-text">Air/Liquid Cooling Solution
                </li>
                <li class="card-text">2 OU

                </li>
                <br>

              </div>
              <p><a href="/sv2121a" class="btn btn-primary" role="button">View More</a> </p>
            </div>
          </div>
        </div>


        <div class="thumbnail card">
          <img src="assets/img/products/card-turing.png" alt="...">
          <div class="caption">
            <div class="card-body">
              <h5 class="card-title">SV1020I</h5>
              <hr>
              <div class="text-box">
                <li class="card-text">2 x 3rd Gen Intel® Xeon®</li>
                <li class="card-text">32 x DDR4 DIMMs</li>
                <li class="card-text">PCIe 4.0 Platform</li>

                <li class="card-text">12 x 2.5" NVMe/SATA Drives</li>
                <li class="card-text">1 RU</li>

                <br>




              </div>
              <p><a href="/sv1020i" class="btn btn-primary" role="button">View More</a> </p>
            </div>
          </div>
        </div>


      </div>
</section>