<section>

  <div class="bar-top">
    <div class="custom-container under-header">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a>Products</a></li>
          <li class="breadcrumb-item"><a href="/server">Server</a></li>
          <li class="breadcrumb-item active" aria-current="page">SV1120A</li>
        </ol>
      </nav>
    </div>

    <div class="custom-container">

      <div class="product-container">
        <div class="product">
          <!-- card left -->
          <div class="product-imgs">
            <div class="img-display">
              <div class="img-showcase">
                <img src="/assets/img/products/server/sv1120/1rua-open.png" alt="front">
                <img src="/assets/img/products/server/sv1120/1ru-e1-front.png" alt="back">
                <img src="/assets/img/products/server/sv1120/1ru-u2-front.png" alt="rear">
                <img src="/assets/img/products/server/sv1120/1ru-rear.png" alt="open">
              </div>
            </div>
            <div class="img-select">
              <div class="img-item">
                <a href="#" data-id="1">
                  <img src="/assets/img/products/server/sv1120/1rua-open.png" alt="front">
                </a>
              </div>
              <div class="img-item">
                <a href="#" data-id="2">
                  <img src="/assets/img/products/server/sv1120/1ru-e1-front.png" alt="back">
                </a>
              </div>
              <div class="img-item">
                <a href="#" data-id="3">
                  <img src="/assets/img/products/server/sv1120/1ru-u2-front.png" alt="rear">
                </a>
              </div>
              <div class="img-item">
                <a href="#" data-id="4">
                  <img src="/assets/img/products/server/sv1120/1ru-rear.png" alt="open">
                </a>
              </div>
            </div>
          </div>
          <!-- card right -->
          <div class="product-content">
            <div class="product-detail">
              <h2>SV1120A</h2>
              <p>AMD 1 RU Modular Server 
              </p>
              <strong class="line">
              </strong>

              <ul>
                <li>- AMD EPYC™ Platform Solution</li>
                <li>- 12-Channel RDIMM DDR5, 24 x DIMMs
                </li>
                <li>- Support E1.S/U.2 Drives
                </li>
                <li>- 2 x PCIe 5.0 x16 FHHL Slots
                </li>

                <li>- Air Cooling Solution
                </li>



              </ul>
            </div>
            <br>
            <div class="processor">
              <div class="processor-container">
                <p>Powered by</p>

                <div class="processor-img">
                  <img src="assets/img/icons/amd-chip.png" alt="intel">
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="bar-bottom">
    {{!-- display contenr --}}
    <div class="custom-container">


      <ul class="nav nav-pills tab-bar" id="pills-tab" role="tablist">
        <li class="active"><a data-toggle="pill" href="#home" class="custom-btn">Overview</a></li>
        <li><a data-toggle="pill" href="#menu1" class="custom-btn">Spec</a></li>
        <li><a data-toggle="pill" href="#menu3" class="custom-btn">Download</a></li>
      </ul>

      {{!-- content --}}

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <div class="custom-container">

            <div class="app-title">
              <h2 class=" title">Application</h2>
            </div>

            <div class="app-container">

              <div class="app-item">
                <img class="item-img" src="./assets/img/icons/data-center.png" alt="">
                <br>
                <p class="item-title">Hyperscale Data Center</p>
              </div>

              <div class="app-item">
                <img class="item-img" src="./assets/img/icons/server.png" alt="">
                <br>
                <p class="item-title">Enterprise Application Server</p>
              </div>
              <div class="app-item">
                <img class="item-img" src="./assets/img/icons/hpc.png" alt="">
                <br>
                <p class="item-title">High Performance Computing
                </p>
              </div>
              {{!-- <div class="app-item">
                <img class="item-img" src="./assets/img/icons/big-data.png" alt="">
                <br>
                <p class="item-title">Big Data Analysis
                </p>
              </div> --}}
              <div class="app-item">
                <img class="item-img" src="./assets/img/icons/machine-learning.png" alt="">
                <br>
                <p class="item-title">AI and Machine Learning
                </p>
              </div>
              {{!-- <div class="app-item">
                <img class="item-img" src="./assets/img/icons/database.png" alt="">
                <br>
                <p class="item-title">Database</p>
              </div> --}}
            </div>

          </div>

          <div class="custom-container">

            <div class="point-container">
              <div class="point-item graph-left">
                <div class="point-img">
                  <img src="/assets/img/products/server/sv2020a/modulexp.png" alt="應用">
                </div>

                <div class="point-content">
                  <h class="point-title title">
                    Modular Design to Create Multiple Systems
                  </h>


                  <p class="point-description">
                    Ingrasys develops a game-changing approach to break down the
                    legacy servers into reusable modular components, and mix and
                    match them to build up multiple new systems. This approach creates
                    unlimited possibilities and allows for future scalability across different
                    generations of platforms.
                  </p>
                </div>

              </div>
              <div class="point-item graph-right">

                <div class="point-content">
                  <h class="point-title title">
                    One Module, Maximum Flexibility
                  </h>

                  <p class="point-description">
                    Reuse the modules as much as possible. When the system needs to be
                    updated, only replace one module with a new one with no other changes
                    required.

                  </p>
                </div>

                <div class="point-img">
                  <img src="/assets/img/products/server/sv2080a/onemodule.png" alt="應用">
                </div>
              </div>
              <div class="point-item graph-left">
                <div class="point-img">
                  <img src="/assets/img/products/server/sv2080a/orv3eia.png" alt="應用">
                </div>

                <div class="point-content">
                  <h class="point-title title">
                    Support Enterprise EIA 19" and ORv3 Racks
                  </h>


                  <p class="point-description">
                    Use the same modular components differently to configure
                    systems respectively for Enterprise EIA 19” rack and Open
                    Compute ORv3 rack.

                  </p>
                </div>
              </div>
              {{!-- <div class="point-item graph-right">
                <div class="point-content">
                  <h class="point-title title">
                    Rack-integrated Liquid Cooling Solution
                  </h>
                  <p class="point-description">
                    Ingrasys OCP-compliant server supports liquid cooling
                    technology to provide higher cooling efficiency,
                    which allows high-power CPU and GPU to run at
                    their full performance while reducing significant
                    energy consumption.

                  </p>
                </div>

                <div class="point-img">
                  <img src="/assets/img/products/server/sv2080a/cooling.png" alt="應用">
                </div>
              </div> --}}
              <br>

            </div>
          </div>

          {{!-- <div class="custom-container">
            <div class="certif-title ">
              <h2 class=" title">Certification</h2>
            </div>


            <div class="certif-container">

              <div class="certif-item">
                <img id="item-img" src="./assets/img/certification/cb.png" alt="no">
              </div>
              <div class="certif-item">
                <img id="item-img" src="./assets/img/certification/ul-icon.png" alt="no">
              </div>
              <div class="certif-item">
                <img id="item-img" src="./assets/img/certification/fcc.png" alt="no">
              </div>
              <div class="certif-item">
                <img id="item-img" src="./assets/img/certification/ce.png" alt="no">
              </div>
            </div>
          </div> --}}

        </div>
        <div id="menu1" class="tab-pane fade">
          <div class="custom-container">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Processor</th>
                  <td>

                    2 x 4th Gen AMD EPYC™ Server Processors

                  </td>
                </tr>

                <tr>
                  <th scope="row">Memory
                  </th>
                  <td>


                    24 x DDR5 RDIMMs, 12-Channel per CPU, up to 4800 MT/s at 1DPC




                  </td>

                </tr>

                <tr>
                  <th scope="row">Storage</th>
                  <td>

                    2 x 22110 M.2 Boot Drives

                    <ul>
                      <li>SKU 1: <br>24 x E1.S SSDs</li>
                      <li>SKU 2: <br>12 x U.2 NVMe SSDs</li>


                    </ul>




                  </td>

                </tr>
                {{!--
                <tr>
                  <th scope="row">Front Panel<br></th>
                  <td>
                    1 x Power Button with LED<br>
                    1 x UID Button with LED<br>
                    1 x System Health LED<br>
                  </td>

                </tr>

                <tr>
                  <th scope="row">Rear Panel<br></th>
                  <td>
                    2 x USB 3.0<br>
                    1 x VGA<br>
                    1 x Serial Port (RJ45 Type)<br>
                    1 x RJ45 for BMC Dedicated Management<br>
                    2 x RJ45 LAN Ports<br>
                    1 x VGA Port<br>
                  </td>

                </tr>
                <tr>
                  <th scope="row">TPM</th>
                  <td>1 x TPM 2.0 Module
                  </td>

                </tr> --}}



                <tr>
                  <th scope="row">Expansion Slots</th>
                  <td>

                    <ul>
                      <li>2 x PCIe 5.0 x16 FHHL Slots
                      </li>
                      <li>1 x PCIe 5.0 x16 OCP NIC 3.0</li>


                    </ul>


                  </td>
                </tr>
                <tr>
                  <th scope="row">Security & Management</th>
                  <td>DC-SCM 1.0 (Root of Trust, TPM, AST2600 BMC) <br>

                  </td>
                </tr>

                <tr>
                  <th scope="row">Cooling Solution</th>

                  <td>


                    8 x 4056 Dual  Rotor System Fans (N+1 Redundant)




                  </td>
                  <td>



                  </td>
                </tr>

                <tr>
                  <th scope="row">PSUs</th>
                  <td>2 x 2400W Platinum Redundant (1+1) PSU
                  </td>
                </tr>

                <tr>
                  <th scope="row">I/O Ports</th>
                  <td>
                    <ul>
                      <li>1 x 1GbE/RJ45 Management Port<br></li>
                      <li>1 x USB 2.0</li>
                      <li>1 x Mini Display Port</li>
                      <li>1 x Reset Button</li>
                      <li>1 x Power Button with LED</li>
                      <li>1 x UID Button with LED</li>


                    </ul>

                  </td>
                </tr>

                <tr>
                  <th scope="row">Chassis Dimensions<br>(H x W x D)</th>
                  <td>
                    1.71"x 17.32"x 32.4"/
                    43.4mm x 440.0mm x 823.4mm
                  </td>
                </tr>



              </tbody>
            </table>
          </div>
        </div>

        <div id="menu3" class="tab-pane fade">

          <div class="custom-container">
            <div class="table-responsive ">
              <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle ">
                <thead class="table-lightgray  border-bottom">
                  <tr style="vertical-align: middle !important;text-align: center;">
                    <th style="vertical-align: middle !important;text-align: center;">File</th>
                    <th style="vertical-align: middle !important;text-align: center;">Update Date</th>
                    <th style="vertical-align: middle !important;text-align: center;">Download PDF</th>

                  </tr>
                </thead>
                <tbody>

                  <tr class="border-bottom">
                    <td style="vertical-align: middle !important;text-align: center;">SV1120/SV1121/SV2121</td>
                    <td style="vertical-align: middle !important;text-align: center;">09/2023</td>
                    <td style="vertical-align: middle !important;text-align: center;"><a href="/assets/files/mod.pdf"
                        class="btn btn-xs btn-white"><i style="color: white; font-size:2rem"
                          class="fas fa-download"></i></a></td>

                  </tr>

                </tbody>
              </table>
            </div>
          </div>

        </div>


      </div>





    </div>

  </div>




</section>



<br>